Repository modularml/mojo: changes, and which pre-commit hooks are due for each by the changed paths.
All: mojo-format, check-license, spellcheck-notebook

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      - id: mojo-format
        name: mojo-format
        entry: mojo format
        language: system
        files: '\.(mojo|ðŸ”¥)$'
        stages: [commit]
      - id: check-docstrings
        name: check-docstrings
        entry: python3 ./stdlib/scripts/check-docstrings.py
        language: system
        pass_filenames: false
        stages: [commit]
      - id: check-license
        name: check-license
        entry: mojo stdlib/scripts/check-licenses.mojo
        language: system
        files: '\.(mojo|ðŸ”¥|py)$'
        stages: [commit]
      - id: spellcheck-notebook
        name: Spellcheck Jupyter Notebook
        entry: ./stdlib/scripts/spellcheck-notebooks.sh
        language: python
        files: \.ipynb$
        additional_dependencies:
          - jupyter==1.0.0
          - codespell==2.2.6
          - nbformat==5.10.4

fix stuff
  stdlib/src/collections/array.mojo
Due: mojo-format, check-license

fix stuff
  stdlib/src/collections/array.mojo
  stdlib/test/collections/test_array.mojo
Due: mojo-format, check-license

[tools] Simplify doc validation
  .pre-commit-config.yaml
Due: none

fix stuff
  stdlib/test/collections/test_array.mojo
Due: mojo-format, check-license

simd conformance to EqualityComparable
  stdlib/src/builtin/simd.mojo
  stdlib/src/testing/testing.mojo
  stdlib/test/builtin/test_math.mojo
  stdlib/test/builtin/test_simd.mojo
  stdlib/test/builtin/test_string.mojo
Due: mojo-format, check-license

add structure with SIMD
  stdlib/src/collections/array.mojo
Due: mojo-format, check-license

[stdlib] Bump compiler version to 2024.5.2405
  stdlib/COMPATIBLE_COMPILER_VERSION
Due: none

Remove Radix sort for PR simplicity
  stdlib/src/builtin/sort.mojo
Due: mojo-format, check-license

Introduce alternative list sorting for scalar and order comparable elements
  stdlib/src/builtin/equality_comparable.mojo
  stdlib/src/builtin/int.mojo
  stdlib/src/builtin/sort.mojo
  stdlib/src/builtin/string.mojo
  stdlib/src/builtin/string_literal.mojo
  stdlib/src/builtin/value.mojo
  stdlib/src/memory/unsafe_pointer.mojo
  stdlib/src/utils/index.mojo
  stdlib/src/utils/stringref.mojo
  stdlib/test/builtin/test_sort.mojo
  stdlib/test/builtin/test_string_literal.mojo
Due: mojo-format, check-license

Add licence to sort.mojo
  stdlib/src/builtin/sort.mojo
Due: mojo-format, check-license

Fixes after rebase
  stdlib/src/builtin/equality_comparable.mojo
  stdlib/src/builtin/int.mojo
  stdlib/src/builtin/sort.mojo
  stdlib/src/builtin/string.mojo
  stdlib/src/builtin/string_literal.mojo
  stdlib/src/builtin/value.mojo
  stdlib/src/memory/unsafe_pointer.mojo
  stdlib/src/utils/index.mojo
  stdlib/src/utils/stringref.mojo
  stdlib/test/builtin/test_sort.mojo
Due: mojo-format, check-license

Improvements based on PR feedback
  stdlib/src/builtin/sort.mojo
  stdlib/test/builtin/test_sort.mojo
Due: mojo-format, check-license

Improvements based on PR feedback
  stdlib/src/builtin/sort.mojo
Due: mojo-format, check-license

Apply mojo format and add a note in change log
  docs/changelog.md
  stdlib/src/builtin/sort.mojo
Due: mojo-format, check-license

Update changelog.md
  docs/changelog.md
Due: none

Rephrase change log message
  docs/changelog.md
Due: none

Make bool a comparable collection element
  stdlib/src/builtin/bool.mojo
Due: mojo-format, check-license

Re introduce current sort functions and migrate tests
  stdlib/src/builtin/sort.mojo
  stdlib/test/builtin/test_sort.mojo
Due: mojo-format, check-license

Fixes after rebase
  stdlib/src/builtin/string_literal.mojo
  stdlib/test/builtin/test_sort.mojo
  stdlib/test/builtin/test_string_literal.mojo
Due: mojo-format, check-license

Test bool comparisons
  stdlib/test/builtin/test_bool.mojo
Due: mojo-format, check-license

move `keepends` to parameters
  stdlib/src/builtin/string.mojo
  stdlib/test/builtin/test_string.mojo
Due: mojo-format, check-license

add splitlines
  docs/changelog.md
  stdlib/src/builtin/string.mojo
  stdlib/test/builtin/test_string.mojo
Due: mojo-format, check-license

Fix markdown issues with pre-commit
  docs/changelog.md
Due: none

update PR ID
  docs/changelog.md
Due: none

[stdlib] Make the List.copy() shallow copy be actually shallow
  stdlib/src/collections/list.mojo
Due: mojo-format, check-license

[docs] Add section 'Dev Container' to the Mojo stdlib docs
  stdlib/docs/development.md
Due: none

fix details
  stdlib/src/collections/array.mojo
Due: mojo-format, check-license

[stdlib] Bump compiler version to 2024.5.2414
  stdlib/COMPATIBLE_COMPILER_VERSION
Due: none

fix details
  stdlib/src/collections/array.mojo
  stdlib/test/collections/test_array.mojo
Due: mojo-format, check-license

add split method and tests
  stdlib/src/builtin/string.mojo
  stdlib/test/builtin/test_string.mojo
Due: mojo-format, check-license

[stdlib] Use References to speed-up the setdefault() logic It will not copy while returning the value Suggested by @gabrieldemarmiesse
  stdlib/src/collections/dict.mojo
Due: mojo-format, check-license

Update types.ipynb
  docs/manual/types.ipynb
Due: spellcheck-notebook

add a few ideas
  stdlib/src/collections/array.mojo
Due: mojo-format, check-license

[mojo-docs] Changelogify some improvements to def functions.
  docs/changelog.md
Due: none
