Repository modularml/mojo: changes, and which pre-commit hooks are due for each by the changed paths.
All: mojo-format, check-license

mojo-format:
  name: mojo-format
  entry: mojo format
  language: system
  stages:
  - commit

check-license:
  name: check-license
  entry: mojo stdlib/scripts/check_licenses.mojo
  language: system
  stages:
  - commit

[CI] Stop scoring a held connection as an llm-fuzz failure
  max/tests/integration/accuracy/llm_fuzz/scenarios/protocol_abuse.py
Due: check-license

[Benchmark] Fix extra-body path resolution in a workload config
  max/python/max/benchmark/benchmark_serving.py
  max/tests/tests/benchmark/test_benchmark_config.py
Due: check-license

[Benchmark] Allow the agent loop in a workload config
  max/python/max/benchmark/benchmark_serving.py
  max/python/max/benchmark/benchmark_shared/config.py
  max/python/max/benchmark/benchmark_shared/datasets/__init__.py
  max/python/max/benchmark/benchmark_shared/datasets/agentic_tools.py
  max/python/max/benchmark/benchmark_shared/datasets/all.py
  max/tests/tests/benchmark/test_agentic_tools.py
  max/tests/tests/benchmark/test_benchmark_config.py
  max/tests/tests/benchmark/test_benchmark_datasets.py
Due: check-license

[Kernels] Add a unified-closure foreach overload to the extensibility package
  docs/max/nightly-changelog.md
  max/kernels/src/graph_compiler/extensibility/managed_tensor_slice.mojo
  max/kernels/test/buffer/test_managed_tensor_slice.mojo
Due: mojo-format, check-license

[mojo-lang] Prohibit positional struct patterns
  Mojo/lib/MojoParser/ExprPatterns.cpp
  Mojo/proposals/pattern-matching.md
  Mojo/test/mojo-parser/statements/match.mojo
  Mojo/test/mojo-parser/statements/match_diags.mojo
Due: mojo-format, check-license

[stdlib] feat: Use `CompilationTarget` in accelerator compilation APIs
  Mojo/stdlib/std/_gpu/host/info.mojo
  Mojo/stdlib/std/_plugin/_trait.mojo
  Mojo/stdlib/std/compile/compile.mojo
  Mojo/stdlib/std/sys/info.mojo
  Mojo/stdlib/test/builtin/test_range_codegen.mojo
  Mojo/stdlib/test/reflection/test_type_info.mojo
  max/kernels/src/graph_compiler/extensibility/managed_tensor_slice.mojo
  max/kernels/src/nn/attention/gpu/amd_structured/mha_prefill_v2.mojo
  max/kernels/src/nn/attention/gpu/amd_structured/mla_prefill_v2.mojo
  max/kernels/src/nn/concat.mojo
  max/mojo/max/_plugin/_impl.mojo
  max/mojo/max/algorithm/functional.mojo
  max/mojo/max/gpu/host/compile.mojo
  max/mojo/max/gpu/host/device_context.mojo
  max/mojo/max/gpu/host/device_graph.mojo
Due: mojo-format, check-license

[External] [docs] Add a parallelism page for MAX inference (#99081)
  docs/max/packages.mdx
  docs/max/serve/parallelism.mdx
  docs/max/tile-tensor/layouts.mdx
  docs/sidebars.json
Due: none

[MAX] Resolve the pipeline task when warming a cache
  max/python/max/_entrypoints/pipelines.py
  max/tests/tests/pipelines/BUILD.bazel
  max/tests/tests/pipelines/test_warm_cache_task_resolution.py
Due: check-license

[MAX] Skip the FLUX.2 VAE BatchNorm value check on virtual devices
  max/python/max/pipelines/architectures/flux2/components/vae_decoder.py
Due: check-license

[KGEN] Add plugin payload to target parameter
  Mojo/include/Mojo/KGENDialect/ParameterReplacer.h
  Mojo/lib/KGENDialect/KGENAttrs.cpp
  Mojo/test/kgen/kgen-dialect/kgen-attrs.mlir
  Mojo/test/mojo-parser/exprs/target_param.mojo
  Support/include/Support/MDialect/MAttrs.td
  Support/include/Support/MDialect/MDialectBytecode.td
  Support/lib/MDialect/MAttrs.cpp
  Support/test/m-ir/m-attrs.mlir
  Support/unittests/MArchTarget/MarchTest.cpp
Due: mojo-format, check-license

[GPUA] Remove LayoutTensor usage in qmatmul
  max/kernels/src/quantization/qmatmul.mojo
Due: mojo-format, check-license

[MGP][MOGG][Skip Linear] Clean up MGP ABI
  max/kernels/src/graph_compiler/builtin_primitives/primitives.mojo
  max/mojo/max/runtime/async_value.mojo
Due: mojo-format, check-license

[KGEN] Add GetTargetPlugin getter
  Mojo/include/Mojo/KGENDialect/KGENAttrs.td
  Mojo/lib/KGENDialect/KGENAttrs.cpp
  Mojo/test/kgen/kgen-dialect/kgen-attrs.mlir
  Mojo/test/mojo-integration/compile_offload/target_plugin.mojo
  Mojo/test/mojo-parser/exprs/target_param.mojo
Due: mojo-format, check-license

[MAX][Docs] Document the disaggregated serving environment variables
  docs/max/environment-variables.mdx
Due: none

[MAX] [Driver] Implement host-hazard tracking for Staging Buffers
  docs/max/nightly-changelog.md
  max/python/docs/driver.rst
  max/python/max/_core/driver.pyi
  max/python/max/driver/__init__.py
  max/python/max/driver/_hazard.py
  max/python/max/experimental/realization_context.py
  max/tests/tests/driver/BUILD.bazel
  max/tests/tests/driver/accelerator_tests/test_hazard_multi_gpu.py
  max/tests/tests/driver/test_buffer_device_pinned.py
  max/tests/tests/driver/test_hazard_gpu.py
  max/tests/tests/driver/test_hazard_record.py
Due: check-license

[docs] DOCS-2627: Update the Mojo Manual landing page
  Mojo/docs/site/manual/index.mdx
Due: none

[docs] Update stable version to 26.6
  docs/_includes/install-modular.mdx
  docs/max/gpu/intro-tutorial.mdx
Due: none

[Docs] Expand speculative decoding guide for DFlash, DSpark, Gemma 4 MTP
  docs/max/serve/metrics.mdx
  docs/max/serve/recipes.mdx
  docs/max/serve/speculative-decoding.mdx
Due: none

[Benchmarking] Stop pinning output length on constrained requests
  max/python/max/benchmark/benchmark_serving.py
  max/tests/tests/benchmark/test_benchmark_serving.py
Due: check-license

[lint] Add missing licenses for C files Several C files were missing Apache 2.0 licenses after the open-sourcing of the compiler.
  Mojo/test/mojo-integration/extern-c-abi/c_abi_test_float_structs.c
  Mojo/test/mojo-integration/extern-c-abi/c_abi_test_int_structs.c
  Mojo/test/mojo-integration/extern-c-abi/c_abi_test_multi_args.c
  Mojo/test/mojo-integration/extern-c-abi/c_abi_test_nested_structs.c
  Mojo/test/mojo-integration/extern-c-abi/c_abi_test_ptr_structs.c
  Mojo/test/mojo-integration/extern-c-abi/c_abi_test_rollback.c
  Mojo/test/mojo-integration/extern-c-abi/c_abi_test_vector_structs.c
  Mojo/test/mojo-integration/extern-c-abi/c_abi_variadic_floats.c
  Mojo/test/mojo-integration/extern-c-abi/c_abi_variadic_prototype.c
  Mojo/test/mojo-integration/extern-c-effect/c_reference.c
  Mojo/test/mojo-integration/shared-lib-c-host/c_host.c
  max/examples/capi/example.c
Due: none

[Testing] Stop reading a dropped grammar constraint as truncation
  max/tests/integration/accuracy/llm_fuzz/scenarios/_constrained_stream.py
  max/tests/integration/accuracy/llm_fuzz/scenarios/_json_schema_suite.py
  max/tests/integration/accuracy/llm_fuzz/scenarios/reasoning_under_constraint.py
  max/tests/integration/accuracy/llm_fuzz/scenarios/structured_output_schema_limits.py
  max/tests/integration/accuracy/llm_fuzz/test_constrained_stream.py
Due: check-license

[docs] Cut the MAX 26.6 release notes; clear nightly changelog (#99162)
  docs/max/nightly-changelog.md
  docs/releases/v26.6.md
Due: none

[mojo-compiler][docs] remove obsolete docs and update arcana slightly (NFC)
  Mojo/docs/compiler/arcana/Closures.md
  Mojo/docs/compiler/arcana/Conformance.md
  Mojo/docs/compiler/arcana/Generics.md
  Mojo/docs/compiler/arcana/Thunks.md
  Mojo/docs/compiler/arcana/WitnessElaboration.md
  Mojo/docs/compiler/attic/TaskList.md
  Mojo/include/Mojo/KGENDialect/KGENAttrs.td
  max/python/max/_core/dialects/kgen.pyi
Due: none

[MAX] Give every cache group the same interface
  max/python/max/nn/kv_cache/cache_params.py
  max/python/max/pipelines/kv_cache/paged_kv_cache/kv_group_coordinator.py
Due: check-license

[Serve] Harden PIL image opening limits and formats
  docs/max/environment-variables.mdx
  docs/max/nightly-changelog.md
  max/python/max/serve/config.py
  max/python/max/serve/router/_image_resolution.py
  max/python/max/serve/router/openai_routes.py
  max/tests/tests/serve/test_config.py
  max/tests/tests/serve/test_image_resolution.py
  max/tests/tests/serve/test_image_resolution_perf.py
  max/tests/tests/serve/test_openai_request.py
  max/tests/tests/serve/test_openai_routes.py
  max/tests/tests/serve/test_responses_media_fetch.py
Due: check-license

[docs] Cut over Mojo 1.1 changelog for release branch cut.
  Mojo/docs/site/nightly-changelog.md
  Mojo/docs/site/releases/v1.1.0.md
Due: none

[MAX] Resolve the Metal kernel-launch branches at comptime
  max/mojo/max/gpu/host/_device_context_extras.mojo
  max/mojo/max/gpu/host/device_context.mojo
  max/tests/integration/Inputs/kernel_verification_ops/__init__.mojo
Due: mojo-format, check-license

[MAX] Add a cache group for recurrent state
  max/python/max/nn/kv_cache/__init__.py
  max/python/max/nn/kv_cache/cache_params.py
  max/python/max/nn/kv_cache/input_types.py
  max/python/max/pipelines/kv_cache/paged_kv_cache/recurrent_coordinator.py
  max/tests/integration/kv_cache/jenga/test_recurrent_state_geometry.py
  max/tests/integration/kv_cache/jenga/test_recurrent_state_rendering.py
Due: check-license

[stdlib] refactor: Change `get_gpu_target()` to return `CompilationTarget`
  Mojo/stdlib/std/_gpu/host/info.mojo
  Mojo/stdlib/std/builtin/device_passable.mojo
  Mojo/stdlib/std/reflection/reflect.mojo
  Mojo/stdlib/std/sys/info.mojo
  max/kernels/benchmarks/gpu/bench_reduce.mojo
  max/kernels/src/algorithm/rowwise.mojo
  max/kernels/src/graph_compiler/builtin_kernels/kv_cache.mojo
  max/kernels/src/nn/_ragged_utils.mojo
  max/kernels/src/nn/fused_qk_rope.mojo
  max/kernels/src/nn/gather_scatter.mojo
  max/kernels/src/nn/index_tensor.mojo
  max/kernels/src/nn/kv_cache_ragged.mojo
  max/kernels/src/nn/rope.mojo
  max/kernels/src/nn/rope_split_store.mojo
  max/kernels/src/nn/slice.mojo
  max/kernels/src/nn/split.mojo
  max/kernels/src/nn/tpool_patch_merger.mojo
  max/kernels/test/gpu/basics/test_load_width_codegen.mojo
  max/mojo/max/gpu/host/_device_context_metal.mojo
  max/mojo/max/gpu/host/device_context.mojo
Due: mojo-format, check-license

[stdlib] hotfix: Fix broken main due to CompilationTarget PRs race
  max/mojo/max/gpu/host/device_context.mojo
Due: mojo-format, check-license

[MAX] Don't feed a terminated matcher during the speculative walk
  max/python/max/pipelines/lib/pipeline_variants/utils.py
  max/tests/integration/pipelines/text_generation_pipeline/test_overlap_text_generation_pipeline.py
  max/tests/tests/pipelines/lib/test_pipeline_variants_utils.py
Due: check-license

[Kernels] Optimize the grouped NVFP4 activation quantize by up to 5x
  max/kernels/benchmarks/gpu/quantization/bench_quantization.mojo
  max/kernels/src/linalg/block_scaled_quantization.mojo
  max/kernels/test/gpu/quantization/test_grouped_nvfp4_quantization.mojo
Due: mojo-format, check-license

[Kernels] Add a warp lookup for the grouped 1D-1D scheduler scan
  max/kernels/benchmarks/gpu/linalg/profile_grouped_matmul_swiglu_nvfp4.mojo
  max/kernels/src/linalg/matmul/gpu/sm100_structured/grouped_block_scaled_1d1d/grouped_1d1d_matmul_kernel.mojo
  max/kernels/src/linalg/matmul/gpu/sm100_structured/grouped_block_scaled_1d1d/grouped_1d1d_tile_scheduler.mojo
  max/kernels/test/gpu/linalg/test_grouped_matmul_1d1d_block_fp4_smoke.mojo
  max/kernels/test/gpu/linalg/test_grouped_matmul_sm100_block_fp4.mojo
Due: mojo-format, check-license

[Release] Pin lockfiles to Mojo 1.1.0.dev2026091105, MAX 26.6.0.dev2026091105
  Mojo/examples/life/pixi.lock
  Mojo/examples/operators/pixi.lock
  Mojo/examples/python-interop/pixi.lock
  Mojo/examples/testing/pixi.lock
  Mojo/pixi.lock
  bazel/mojo.MODULE.bazel
  docs/code/tile-tensor/layouts/pixi.lock
  docs/code/tile-tensor/tensors/pixi.lock
  max/examples/capi/pixi.lock
  max/examples/custom-models/pixi.lock
  max/examples/custom_ops/pixi.lock
  max/examples/gpu-block-and-warp/pixi.lock
  max/examples/gpu-functions/pixi.lock
  max/examples/gpu-intro/pixi.lock
  max/examples/layout_tensor/pixi.lock
  max/examples/layouts/pixi.lock
  max/examples/modules/pixi.lock
  max/examples/music_generation/pixi.lock
  max/examples/pytorch_custom_ops/pixi.lock
Due: none

[stdlib] Add a defaulted Iterator.count() method
  Mojo/docs/site/nightly-changelog.md
  Mojo/stdlib/std/iter/__init__.mojo
  Mojo/stdlib/test/iter/test_count.mojo
Due: mojo-format, check-license

Address review: trim count() example and tests
  Mojo/stdlib/std/iter/__init__.mojo
  Mojo/stdlib/test/iter/test_count.mojo
Due: mojo-format, check-license

[MAX] Hold a recurrent state in the Jenga pool
  max/python/max/nn/kv_cache/__init__.py
  max/python/max/nn/kv_cache/cache_params.py
  max/python/max/pipelines/kv_cache/paged_kv_cache/cache_manager.py
  max/python/max/pipelines/kv_cache/paged_kv_cache/jenga_block_manager.py
  max/python/max/pipelines/kv_cache/paged_kv_cache/jenga_block_pool.py
  max/python/max/pipelines/kv_cache/paged_kv_cache/jenga_cache_manager.py
  max/python/max/pipelines/kv_cache/paged_kv_cache/kv_group_coordinator.py
  max/python/max/pipelines/kv_cache/registry.py
  max/python/max/pipelines/lib/arch_lookup.py
  max/python/max/pipelines/lib/config/config.py
  max/tests/integration/kv_cache/jenga/test_jenga_block_manager.py
  max/tests/integration/kv_cache/jenga/test_jenga_cache_manager.py
  max/tests/integration/kv_cache/jenga/test_jenga_connector.py
  max/tests/integration/kv_cache/jenga/test_kv_group_coordinator.py
  max/tests/integration/kv_cache/jenga/test_state_checkpoints.py
  max/tests/integration/kv_cache/test_multi_kv_cache_params.py
Due: check-license

[Benchmarking] Add SessionMessage.images field
  max/python/max/benchmark/benchmark_shared/datasets/types.py
  max/tests/tests/benchmark/test_benchmark_datasets.py
Due: check-license

[Benchmarking] Add general, dataset-agnostic image mixing
  max/python/docs/cli/benchmark.rst
  max/python/max/benchmark/benchmark_serving.py
  max/python/max/benchmark/benchmark_shared/config.py
  max/python/max/benchmark/benchmark_shared/datasets/__init__.py
  max/python/max/benchmark/benchmark_shared/datasets/image_augmentation.py
  max/python/max/benchmark/benchmark_shared/datasets/random.py
  max/python/max/benchmark/benchmark_shared/datasets/types.py
  max/python/max/benchmark/benchmark_shared/request.py
  max/tests/tests/benchmark/test_benchmark_config.py
  max/tests/tests/benchmark/test_benchmark_datasets.py
  max/tests/tests/benchmark/test_benchmark_requests.py
  max/tests/tests/benchmark/test_image_augmentation.py
Due: check-license

Path conditions:
  mojo-format: any of: \.(mojo|ðŸ”¥)$
  check-license: any of: \.(mojo|ðŸ”¥|py)$
