Repository modularml/mojo: changes, and which pre-commit hooks are due for each by the changed paths.
All: mojo-format, check-license, spellcheck-notebook

mojo-format:
  name: mojo-format
  entry: mojo format
  language: system
  stages:
  - commit

check-license:
  name: check-license
  entry: mojo stdlib/scripts/check-licenses.mojo
  language: system
  stages:
  - commit

spellcheck-notebook:
  name: Spellcheck Jupyter Notebook
  entry: ./stdlib/scripts/spellcheck-notebooks.sh
  language: python
  additional_dependencies:
  - jupyter==1.0.0
  - codespell==2.2.6
  - nbformat==5.10.4

We believe this was fixed by a compiler change, re-enabling to see if we see any new flakes.
  stdlib/test/builtin/test_reversed.mojo
Due: mojo-format, check-license

[stdlib] Support testing on `mojo:main` branch
  stdlib/test/lit.cfg.py
Due: check-license

[External] [stdlib] Fix out of bounds access in `List.index()` (#40297)
  stdlib/src/collections/list.mojo
  stdlib/test/collections/test_list.mojo
Due: mojo-format, check-license

[External] [stdlib] Fix wrong debug_assert condition in `InlineList` (#40303)
  stdlib/src/collections/inline_list.mojo
Due: mojo-format, check-license

[External] [stdlib] Allow natural list.__repr__() syntax for List (#40304)
  stdlib/src/collections/list.mojo
  stdlib/test/builtin/test_list.mojo
Due: mojo-format, check-license

[External] [stdlib] Implement `os.path.getsize` (#40291)
  docs/changelog.md
  stdlib/src/os/path/path.mojo
  stdlib/test/os/path/test_getsize.mojo
Due: mojo-format, check-license

[External] [stdlib] Add contains to `InlineArray` (#40305)
  stdlib/src/utils/static_tuple.mojo
  stdlib/test/utils/test_tuple.mojo
Due: mojo-format, check-license

[External] [stdlib] Fix invalid code point check (#40295)
  stdlib/src/builtin/string.mojo
Due: mojo-format, check-license

[External] [stdlib] Add `Dict.fromkeys()` (#40292)
  docs/changelog.md
  stdlib/src/collections/dict.mojo
  stdlib/test/collections/test_dict.mojo
Due: mojo-format, check-license

[External] [stdlib] Replace some uses of `StaticIntTuple` (#39743)
  stdlib/src/builtin/string.mojo
  stdlib/src/python/_cpython.mojo
Due: mojo-format, check-license

[mojo] Improve implementation of `@parameter for`
  docs/changelog.md
  stdlib/src/builtin/_stubs.mojo
Due: mojo-format, check-license

[Docs] Add temporary bencher API docs.
  stdlib/docs/bencher/Bench.md
  stdlib/docs/bencher/BenchConfig.md
  stdlib/docs/bencher/BenchId.md
  stdlib/docs/bencher/Bencher.md
  stdlib/docs/bencher/BenchmarkInfo.md
  stdlib/docs/bencher/Mode.md
  stdlib/docs/bencher/index.md
Due: none

[Stdlib] Implement the raising unroll in terms of param for, NFC (#40319)
  stdlib/src/utils/loop.mojo
Due: mojo-format, check-license

[stdlib] Remove `tensor.random`
  docs/changelog.md
Due: none

[docs] Add docs for the __copy_capture dectorator
  docs/manual/decorators/copy-capture.ipynb
  docs/manual/decorators/index.md
Due: spellcheck-notebook

[stdlib] Added `FileHandle._get_raw_fd()`
  stdlib/src/builtin/file.mojo
  stdlib/test/builtin/test_file.mojo
Due: mojo-format, check-license

[stdlib] Move some uses of `StringLiteral` to compile time
  stdlib/src/builtin/io.mojo
  stdlib/src/builtin/object.mojo
  stdlib/src/builtin/simd.mojo
  stdlib/src/memory/arc.mojo
  stdlib/test/builtin/test_sort_issue_1018.mojo
  stdlib/test/builtin/test_string.mojo
Due: mojo-format, check-license

[stdlib] Disable test_tuple on Mac
  stdlib/test/builtin/test_tuple.mojo
Due: mojo-format, check-license

[stdlib] Bump compiler version to 2024.5.2119
  stdlib/COMPATIBLE_COMPILER_VERSION
Due: none

Update with the latest nightly
  stdlib/test/builtin/test_string.mojo
  stdlib/test/collections/test_inline_list.mojo
  stdlib/test/collections/test_list.mojo
Due: mojo-format, check-license

Put back the tests with one single element
  stdlib/test/builtin/test_simd.mojo
Due: mojo-format, check-license

Adapt tests instead of removing them
  stdlib/test/builtin/test_simd.mojo
Due: mojo-format, check-license

makes simd `reduce_and()`/`reduce_or()` bitwise operations
  docs/changelog.md
  stdlib/src/builtin/simd.mojo
  stdlib/test/builtin/test_simd.mojo
Due: mojo-format, check-license

Update changelog.md
  docs/changelog.md
Due: none

Update string.mojo
  stdlib/src/builtin/string.mojo
Due: mojo-format, check-license

copy and rename impl and tests for inline_list
  stdlib/src/collections/array.mojo
  stdlib/test/collections/test_array.mojo
Due: mojo-format, check-license

rename inlinedfixedvector to vector
  stdlib/src/collections/__init__.mojo
  stdlib/src/collections/vector.mojo
  stdlib/test/collections/test_vector.mojo
Due: mojo-format, check-license

fix import
  stdlib/test/collections/test_array.mojo
Due: mojo-format, check-license

[External] [stdlib][NFC] Tests for the abs() round() and divmod() math functions (#40350)
  stdlib/test/builtin/test_math.mojo
Due: mojo-format, check-license

[stdlib] Re-enable accidentally commented code
  stdlib/src/utils/numerics.mojo
Due: mojo-format, check-license

[stdlib] Remove more uses of runtime `StringLiteral`
  docs/manual/functions.ipynb
  stdlib/src/builtin/file.mojo
  stdlib/src/builtin/string.mojo
  stdlib/test/builtin/test_file.mojo
  stdlib/test/os/path/test_getsize.mojo
Due: mojo-format, check-license, spellcheck-notebook

[External] [docs] Add fix-ups to docs/changelog.md (#40372)
  docs/changelog.md
Due: none

[External] [stdlib] Apply `any()`/`all()` for `SIMD` cases (#40313)
  examples/mandelbrot.mojo
  examples/notebooks/Mandelbrot.ipynb
  stdlib/src/builtin/simd.mojo
  stdlib/src/memory/memory.mojo
  stdlib/src/testing/testing.mojo
Due: mojo-format, check-license, spellcheck-notebook

[stdlib] Adding constraints on UnsafePointer to avoid pointer addition errors on zero sized structures.
  stdlib/src/memory/unsafe_pointer.mojo
  stdlib/test/memory/test_unsafepointer.mojo
Due: mojo-format, check-license

[External] [stdlib] Fix incorrect number of variadic arguments in SIMD (#40375)
  stdlib/src/builtin/simd.mojo
  stdlib/test/builtin/test_simd.mojo
Due: mojo-format, check-license

Path conditions:
  mojo-format: any of: \.(mojo|ðŸ”¥)$
  check-license: any of: \.(mojo|ðŸ”¥|py)$
  spellcheck-notebook: any of: \.ipynb$
