Repository modularml/mojo: changes, and which pre-commit hooks are due for each by the changed paths.
All: mojo-format, check-license

mojo-format:
  name: mojo-format
  entry: mojo format
  language: system
  stages:
  - commit

check-license:
  name: check-license
  entry: mojo stdlib/scripts/check_licenses.mojo
  language: system
  stages:
  - commit

[Docs] Fix incorrect file paths for debugging functions in ParserDebugging.md
  Mojo/docs/compiler/manual/ParserDebugging.md
Due: none

[Docs] Add API reference for `max.pipelines.lib.arch_lookup`
  docs/sidebars.json
  max/python/docs/pipelines.lib.arch_lookup.rst
  max/python/docs/pipelines.lib.rst
  max/python/docs/pipelines.rst
Due: none

[MAX] Add the DFlash2 drafter architecture for Qwen3.8-27B
  docs/max/models.mdx
  docs/sidebars.json
  max/python/docs/pipelines.architectures.dflash2_qwen3_5.rst
  max/python/docs/pipelines.architectures.rst
  max/python/max/nn/kv_cache/cache_params.py
  max/python/max/pipelines/architectures/__init__.py
  max/python/max/pipelines/architectures/all_arches.bzl
  max/python/max/pipelines/architectures/dflash2_qwen3_5/BUILD.bazel
  max/python/max/pipelines/architectures/dflash2_qwen3_5/__init__.py
  max/python/max/pipelines/architectures/dflash2_qwen3_5/arch.py
  max/python/max/pipelines/architectures/dflash2_qwen3_5/dflash2_qwen3_5.py
  max/python/max/pipelines/architectures/dflash2_qwen3_5/layers.py
  max/python/max/pipelines/architectures/dflash2_qwen3_5/model.py
  max/python/max/pipelines/lib/config/config.py
  max/python/max/pipelines/speculative/config.py
  max/tests/integration/architectures/dflash2_qwen3_5/BUILD.bazel
  max/tests/integration/architectures/dflash2_qwen3_5/test_candidate_selector.py
  max/tests/integration/architectures/dflash2_qwen3_5/test_drafter.py
  max/tests/integration/architectures/dflash2_qwen3_5/test_grouped_conv.py
  max/tests/integration/architectures/unified_dflash_gemma4_31b/test_arch_registration.py
  max/tests/integration/architectures/unified_dspark_gemma4_31b/test_arch_registration.py
  max/tests/integration/nn/kv_cache/BUILD.bazel
  max/tests/integration/nn/kv_cache/test_cache_params.py
  max/tests/integration/unorganized/test_config_pure.py
Due: check-license

[mojo-compiler] remove ne shortcut for identical
  Mojo/lib/KGENDialect/KGENUtils.cpp
  Mojo/test/kgen/kgen-dialect/kgen-param-exprs.mlir
  Mojo/test/kgen/transforms/reorder-param-decls.mlir
  Mojo/test/mojo-parser/decls/fn_def_decls.mojo
Due: mojo-format, check-license

[MAX] Fix an out-of-range top_logprobs killing the server
  docs/max/nightly-changelog.md
  max/python/max/pipelines/architectures/mamba/model.py
  max/python/max/pipelines/lib/log_probabilities.py
  max/python/max/serve/router/openai_routes.py
  max/tests/tests/serve/test_openai_routes.py
Due: check-license

[stdlib] refactor: Simplify dynamic `VariadicPack` construction
  Mojo/stdlib/std/builtin/variadics.mojo
  Mojo/stdlib/std/python/bindings.mojo
Due: mojo-format, check-license

[MAX] Let a cache group own the rows it decides the meaning of
  max/python/max/nn/kv_cache/cache_params.py
  max/python/max/pipelines/architectures/qwen3_5/qwen3_5.py
  max/python/max/pipelines/kv_cache/paged_kv_cache/cache_manager.py
  max/python/max/pipelines/kv_cache/paged_kv_cache/jenga_block_manager.py
  max/python/max/pipelines/kv_cache/paged_kv_cache/kv_group_coordinator.py
  max/python/max/pipelines/kv_cache/paged_kv_cache/transfer_engine.py
  max/tests/integration/kv_cache/jenga/test_jenga_block_manager.py
  max/tests/integration/kv_cache/jenga/test_kv_group_coordinator.py
  max/tests/integration/kv_cache/test_multi_kv_cache_params.py
Due: check-license

[CI] Fix an llm-fuzz raw-HTTP read aborting after 250ms
  max/tests/integration/accuracy/llm_fuzz/client.py
Due: check-license

[MAX] Fan out publishing to the groups and demand to the leaves
  max/python/max/nn/kv_cache/__init__.py
  max/python/max/nn/kv_cache/cache_params.py
  max/python/max/pipelines/kv_cache/paged_kv_cache/jenga_block_manager.py
  max/python/max/pipelines/kv_cache/paged_kv_cache/jenga_cache_manager.py
  max/python/max/pipelines/kv_cache/paged_kv_cache/kv_group_coordinator.py
  max/tests/integration/kv_cache/jenga/test_jenga_block_manager.py
  max/tests/integration/kv_cache/jenga/test_jenga_connector.py
Due: check-license

[mojo-lang] Introduce a new mergeCValuesAcrossIfLikeOp helper, NFC
  Mojo/lib/MojoParser/ExprNodes.cpp
  Mojo/lib/MojoParser/IREmitter.cpp
  Mojo/lib/MojoParser/IREmitter.h
Due: none

[mojo-lang] Refactor pattern emission logic a bit, NFC
  Mojo/include/Mojo/MojoParser/ExprNode.h
  Mojo/lib/MojoParser/ExprNodes.h
  Mojo/lib/MojoParser/ExprPatterns.cpp
  Mojo/lib/MojoParser/ParserStmts.cpp
Due: none

[MAX][NFC] Name each group's leaves in one place
  max/python/max/pipelines/kv_cache/paged_kv_cache/jenga_block_manager.py
Due: check-license

[Release] Pin lockfiles to Mojo 1.1.0.dev2026091005, MAX 26.6.0.dev2026091005
  Mojo/examples/life/pixi.lock
  Mojo/examples/operators/pixi.lock
  Mojo/examples/python-interop/pixi.lock
  Mojo/examples/testing/pixi.lock
  Mojo/pixi.lock
  bazel/mojo.MODULE.bazel
  docs/code/tile-tensor/layouts/pixi.lock
  docs/code/tile-tensor/tensors/pixi.lock
  max/examples/capi/pixi.lock
  max/examples/custom-models/pixi.lock
  max/examples/custom_ops/pixi.lock
  max/examples/gpu-block-and-warp/pixi.lock
  max/examples/gpu-functions/pixi.lock
  max/examples/gpu-intro/pixi.lock
  max/examples/layout_tensor/pixi.lock
  max/examples/layouts/pixi.lock
  max/examples/modules/pixi.lock
  max/examples/music_generation/pixi.lock
  max/examples/pytorch_custom_ops/pixi.lock
Due: none

Added hex encoding and decoding functions into the std lib
  mojo/stdlib/std/hex/__init__.mojo
  mojo/stdlib/std/hex/hex.mojo
  mojo/stdlib/test/hex/BUILD.bazel
  mojo/stdlib/test/hex/test_hex.mojo
Due: mojo-format, check-license

fix hex tests
  mojo/stdlib/std/hex/hex.mojo
  mojo/stdlib/test/hex/test_hex.mojo
Due: mojo-format, check-license

added package level docs
  mojo/stdlib/std/hex/__init__.mojo
  mojo/stdlib/std/hex/hex.mojo
Due: mojo-format, check-license

fix with the latest mojo changes
  mojo/stdlib/std/hex/hex.mojo
  mojo/stdlib/test/hex/test_hex.mojo
Due: mojo-format, check-license

added is_lowercase parameter to the hex_decode
  mojo/stdlib/std/hex/hex.mojo
  mojo/stdlib/test/hex/test_hex.mojo
Due: mojo-format, check-license

added is_lowercase parameter to the hex_encode
  mojo/stdlib/std/hex/hex.mojo
  mojo/stdlib/test/hex/test_hex.mojo
Due: mojo-format, check-license

fix CI
  Mojo/stdlib/std/hex/__init__.mojo
  Mojo/stdlib/std/hex/hex.mojo
  Mojo/stdlib/test/hex/BUILD.bazel
  Mojo/stdlib/test/hex/test_hex.mojo
Due: mojo-format, check-license

[MAX] Add the fused DFlash2 speculative graph for Qwen3.8-27B
  docs/max/models.mdx
  docs/max/nightly-changelog.md
  docs/sidebars.json
  max/python/docs/pipelines.architectures.rst
  max/python/docs/pipelines.architectures.unified_dflash2_qwen3_5.rst
  max/python/max/pipelines/architectures/__init__.py
  max/python/max/pipelines/architectures/all_arches.bzl
  max/python/max/pipelines/architectures/qwen3_5/qwen3_5.py
  max/python/max/pipelines/architectures/unified_dflash2_qwen3_5/BUILD.bazel
  max/python/max/pipelines/architectures/unified_dflash2_qwen3_5/__init__.py
  max/python/max/pipelines/architectures/unified_dflash2_qwen3_5/arch.py
  max/python/max/pipelines/architectures/unified_dflash2_qwen3_5/batch_processor.py
  max/python/max/pipelines/architectures/unified_dflash2_qwen3_5/memory_planner.py
  max/python/max/pipelines/architectures/unified_dflash2_qwen3_5/model.py
  max/python/max/pipelines/architectures/unified_dflash2_qwen3_5/model_config.py
  max/python/max/pipelines/architectures/unified_dflash2_qwen3_5/unified_dflash2_qwen3_5.py
  max/python/max/pipelines/architectures/unified_dflash2_qwen3_5/weight_adapters.py
  max/python/max/pipelines/lib/config/config.py
  max/tests/integration/architectures/qwen3_5_tap_crosscheck/BUILD.bazel
  max/tests/integration/architectures/qwen3_5_tap_crosscheck/test_tap_matches_huggingface.py
  max/tests/integration/architectures/unified_dflash2_qwen3_5/BUILD.bazel
  max/tests/integration/architectures/unified_dflash2_qwen3_5/test_arch_registration.py
  max/tests/integration/architectures/unified_dflash2_qwen3_5/test_graph_signature.py
  max/tests/integration/architectures/unified_dflash2_qwen3_5/test_model_config.py
  max/tests/integration/architectures/unified_dflash2_qwen3_5/test_prefill_block.py
  max/tests/integration/architectures/unified_dflash2_qwen3_5/test_state_rollback_block.py
  max/tests/integration/architectures/unified_dflash2_qwen3_5/test_tap_capture.py
  max/tests/integration/architectures/unified_dflash2_qwen3_5/testdata/zlab_dflash2_config.json
Due: check-license

[Kernels][NFC] Move device-group splitting into the collectives themselves
  max/kernels/benchmarks/gpu/comm/bench_allgather.mojo
  max/kernels/benchmarks/gpu/comm/bench_allgather_rmsnorm.mojo
  max/kernels/benchmarks/gpu/comm/bench_reducescatter.mojo
  max/kernels/benchmarks/gpu/comm/bench_reducescatter_rmsnorm.mojo
  max/kernels/src/comm/allgather.mojo
  max/kernels/src/comm/allgather_rmsnorm.mojo
  max/kernels/src/comm/allreduce.mojo
  max/kernels/src/comm/reducescatter.mojo
  max/kernels/src/comm/reducescatter_rmsnorm.mojo
  max/kernels/src/graph_compiler/builtin_kernels/distributed.mojo
  max/kernels/test/gpu/comm/test_allgather.mojo
  max/kernels/test/gpu/comm/test_allgather_rmsnorm.mojo
  max/kernels/test/gpu/comm/test_reducescatter.mojo
  max/kernels/test/gpu/comm/test_reducescatter_rmsnorm.mojo
Due: mojo-format, check-license

[Kernels] Add a relay-assisted grouped allgather
  max/kernels/benchmarks/BUILD.bazel
  max/kernels/benchmarks/gpu/comm/bench_allgather_relay.mojo
  max/kernels/src/comm/allgather.mojo
  max/kernels/src/comm/allgather_rmsnorm.mojo
  max/kernels/src/comm/relay.mojo
  max/kernels/src/graph_compiler/builtin_kernels/distributed.mojo
  max/kernels/test/gpu/comm/test_allgather.mojo
  max/kernels/test/gpu/comm/test_allgather_rmsnorm.mojo
Due: mojo-format, check-license

[Kernels] Add a relay-assisted grouped reduce-scatter
  max/kernels/benchmarks/BUILD.bazel
  max/kernels/benchmarks/gpu/comm/bench_reducescatter_relay.mojo
  max/kernels/src/comm/reducescatter.mojo
  max/kernels/src/comm/reducescatter_rmsnorm.mojo
  max/kernels/src/graph_compiler/builtin_kernels/distributed.mojo
  max/kernels/test/gpu/comm/test_reducescatter.mojo
  max/kernels/test/gpu/comm/test_reducescatter_rmsnorm.mojo
Due: mojo-format, check-license

[Kernels] Raise the SM100 matmul auto pipeline-stage cap to 24
  max/kernels/src/linalg/matmul/gpu/sm100_structured/structured_kernels/config.mojo
Due: mojo-format, check-license

[MAX] experimental: Refuse to promote a boundary's argument to a buffer
  max/python/max/experimental/tensor.py
  max/tests/tests/BUILD.bazel
  max/tests/tests/test_compilation.py
Due: check-license

[MAX] Keep draft verification active in mixed prefill+decode batches
  docs/max/nightly-changelog.md
  max/python/max/pipelines/architectures/unified_dspark_gemma4_12b/arch.py
  max/python/max/pipelines/architectures/unified_dspark_gemma4_12b/unified_dspark_gemma4_12b.py
  max/python/max/pipelines/architectures/unified_dspark_gemma4_31b/arch.py
  max/python/max/pipelines/architectures/unified_dspark_gemma4_31b/unified_dspark_gemma4_31b.py
  max/python/max/pipelines/lib/arch_lookup.py
  max/python/max/pipelines/lib/config/config.py
  max/python/max/pipelines/lib/pipeline_runtime_config.py
  max/python/max/pipelines/lib/pipeline_variants/overlap_text_generation.py
  max/python/max/pipelines/logging_utils.py
  max/python/max/serve/scheduler/utils.py
  max/tests/integration/pipelines/text_generation_pipeline/test_overlap_text_generation_pipeline.py
  max/tests/integration/unorganized/test_config_pure.py
  max/tests/tests/pipelines/lib/test_verify_width.py
  max/tests/tests/serve/scheduler/test_scheduler_metrics.py
Due: check-license

[MOGG] Fix kernel parameter inference in the MAP path.
  max/tests/integration/graph/test_conv.py
Due: check-license

[Mojo] Add LowerLIT recursion tests
  Mojo/test/kgen/lower-lit/lower-lit-types-recursion-errors.mlir
  Mojo/test/kgen/lower-lit/lower-lit-types-recursion-through-pointer.mlir
Due: none

[MAX] Narrow the verify width on mixed prefill+decode batches
  max/python/max/pipelines/lib/pipeline_variants/overlap_text_generation.py
  max/python/max/pipelines/speculative/config.py
  max/tests/tests/pipelines/lib/test_verify_width.py
Due: check-license

[MAX] Enable mixed-batch speculation for the Gemma4 MTP arch
  docs/max/nightly-changelog.md
  max/python/max/pipelines/architectures/unified_mtp_gemma4/arch.py
  max/python/max/pipelines/architectures/unified_mtp_gemma4/unified_mtp_gemma4.py
  max/python/max/pipelines/lib/pipeline_variants/overlap_text_generation.py
  max/tests/integration/pipelines/text_generation_pipeline/test_overlap_text_generation_pipeline.py
Due: check-license

[MAX] Enable mixed-batch speculation for the unified DFlash Gemma4 arch
  docs/max/nightly-changelog.md
  max/python/max/pipelines/architectures/unified_dflash_gemma4_31b/arch.py
  max/python/max/pipelines/architectures/unified_dflash_gemma4_31b/unified_dflash_gemma4_31b.py
Due: check-license

[MAX] experimental: Unify tensor descriptions into TensorLayout and BufferLayout
  docs/max/nightly-changelog.md
  max/python/docs/experimental.compilation.rst
  max/python/docs/experimental.sharding.rst
  max/python/max/experimental/compilation.py
  max/python/max/experimental/functional/creation_ops.py
  max/python/max/experimental/nn/_compile_utils.py
  max/python/max/experimental/random.py
  max/python/max/experimental/sharding/__init__.py
  max/python/max/experimental/sharding/mappings.py
  max/python/max/experimental/sharding/types.py
  max/python/max/experimental/tensor.py
  max/python/max/pipelines/architectures/kimik2_5_modulev3/model.py
  max/tests/integration/nn/module_v3/test_module.py
  max/tests/integration/nn/module_v3/test_module_gpt2.py
  max/tests/integration/nn/module_v3/test_subgraph.py
  max/tests/integration/tensor/distributed/functional/test_picker_replicated_residual_simulated_cpu.py
  max/tests/integration/tensor/distributed/module/_dp_dynamic.py
  max/tests/integration/tensor/distributed/module/_e2e.py
  max/tests/integration/tensor/distributed/module/test_module_internals.py
  max/tests/integration/tensor/distributed/sharding/test_types.py
  max/tests/integration/tensor/test_arange.py
  max/tests/tests/test_compilation.py
  max/tests/tests/test_tensor.py
Due: check-license

[Kernels] DevicePointer: Thread Engine through NullableTileTensor
  max/kernels/src/layout/tile_tensor.mojo
  max/kernels/test/layout/test_nullable_tile_tensor.mojo
Due: mojo-format, check-license

[docs] DOCS-2625: Revise quickstart
  Mojo/docs/site/manual/quickstart.mdx
Due: none

[Kernels][AMD] Take the MhaPrefillV2 cross-row leak canary out of CI
  max/kernels/test/gpu/structured_kernels/BUILD.bazel
Due: none

[GraphCompiler] Allocate accumulating buffers for fused-output epilogues
  max/tests/integration/graph/test_epilogue_fusion.py
Due: check-license

[GraphCompiler][Kernels] Fuse reshapes into epilogues under advanced fusion
  max/kernels/src/graph_compiler/builtin_primitives/primitives.mojo
  max/kernels/test/graph_compiler/BUILD.bazel
  max/kernels/test/graph_compiler/test_index_reshape.mojo
  max/tests/integration/graph/test_reshape_epilogue_fusion.py
Due: mojo-format, check-license

[Mojo][stdlib] Add an `@inline(value)` decorator
  Mojo/docs/site/nightly-changelog.md
  Mojo/include/Mojo/KGENDialect/KGENEnums.td
  Mojo/include/Mojo/KGENDialect/KGENInterfaces.td
  Mojo/include/Mojo/KGENDialect/KGENOps.td
  Mojo/include/Mojo/KGENDialect/KGENUtils.h
  Mojo/include/Mojo/LITDialect/LITOps.td
  Mojo/lib/Compiler/KGENCompiler.cpp
  Mojo/lib/Elaborator/Elaborator.cpp
  Mojo/lib/Elaborator/ParametricElaborator.cpp
  Mojo/lib/KGENDialect/KGENOps.cpp
  Mojo/lib/KGENDialect/KGENUtils.cpp
  Mojo/lib/KGENToLLVM/LowerKGENToLLVM.cpp
  Mojo/lib/LITDialect/LITOps.cpp
  Mojo/lib/LowerLIT/LowerLIT.cpp
  Mojo/lib/MojoParser/ClosureEmitter.cpp
  Mojo/lib/MojoParser/DebugInfo.cpp
  Mojo/lib/MojoParser/DeclResolution.cpp
  Mojo/lib/MojoParser/ExprConversions.cpp
  Mojo/lib/MojoParser/SharedState.cpp
  Mojo/lib/MojoParser/StructEmitter.cpp
  Mojo/lib/MojoParser/UncheckedCallEmission.cpp
  Mojo/lib/Transforms/AutomaticInline.cpp
  Mojo/lib/Transforms/InlineParametric.cpp
  Mojo/lib/Transforms/OutlineClosures.cpp
  Mojo/lib/Transforms/RemoveUnusedParams.cpp
  Mojo/stdlib/std/builtin/inline_level.mojo
  Mojo/stdlib/std/prelude/__init__.mojo
  Mojo/test/kgen/kgen-dialect/kgen-types.mlir
  Mojo/test/kgen/kgen-dialect/kgen-verify-errors.mlir
  Mojo/test/mojo-parser/decls/decorators/decorators.mojo
  Mojo/test/mojo-parser/decls/decorators/decorators_errors.mojo
  Mojo/test/mojo-tool/build/inline_decorator.mojo
  Mojo/test/mojo-tool/build/inline_decorator_errors.mojo
  Mojo/test/test-packages/std/builtin/stubs.mojo
Due: mojo-format, check-license

Path conditions:
  mojo-format: any of: \.(mojo|ðŸ”¥)$
  check-license: any of: \.(mojo|ðŸ”¥|py)$
