Repository modularml/mojo: changes, and which pre-commit hooks are due for each by the changed paths.
All: mojo-format, check-license, spellcheck-notebook

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      - id: mojo-format
        name: mojo-format
        entry: mojo format
        language: system
        files: '\.(mojo|ðŸ”¥)$'
        stages: [commit]
      - id: check-docstrings
        name: check-docstrings
        entry: python3 ./stdlib/scripts/check-docstrings.py
        language: system
        pass_filenames: false
        stages: [commit]
      - id: check-license
        name: check-license
        entry: mojo stdlib/scripts/check-licenses.mojo
        language: system
        files: '\.(mojo|ðŸ”¥|py)$'
        stages: [commit]
      - id: spellcheck-notebook
        name: Spellcheck Jupyter Notebook
        entry: ./stdlib/scripts/spellcheck-notebooks.sh
        language: python
        files: \.ipynb$
        additional_dependencies:
          - jupyter==1.0.0
          - codespell==2.2.6
          - nbformat==5.10.4

[Stdlib] Fix the abs implementation (#39100)
  stdlib/src/builtin/int.mojo
Due: mojo-format, check-license

[External] [docs] Add constraint documentation for various `reduce`-like functions in simd.mojo (#39872)
  stdlib/src/builtin/simd.mojo
Due: mojo-format, check-license

[External] [stdlib] Add unit tests for SIMD add, radd and iadd operations (#39931)
  stdlib/test/builtin/test_simd.mojo
Due: mojo-format, check-license

[stdlib] Re-enable `FloatLiteral.__trunc__` tests
  stdlib/test/builtin/test_float_literal.mojo
Due: mojo-format, check-license

[stdlib] feature: Add initial string byte slicing
  docs/changelog.md
  stdlib/src/builtin/string.mojo
  stdlib/src/builtin/string_literal.mojo
  stdlib/src/builtin/type_aliases.mojo
  stdlib/src/memory/unsafe.mojo
  stdlib/src/memory/unsafe_pointer.mojo
  stdlib/src/utils/span.mojo
  stdlib/test/utils/test_span.mojo
  stdlib/test/utils/test_string_slice.mojo
Due: mojo-format, check-license

[stdlib] Change `Reference.is_mutable` to `Bool` (from `i1`)
  stdlib/src/builtin/builtin_list.mojo
  stdlib/src/builtin/reversed.mojo
  stdlib/src/builtin/type_aliases.mojo
  stdlib/src/collections/dict.mojo
  stdlib/src/collections/list.mojo
  stdlib/src/memory/reference.mojo
  stdlib/src/utils/span.mojo
Due: mojo-format, check-license

[stdlib] Bump compiler version to 2024.5.1515
  stdlib/COMPATIBLE_COMPILER_VERSION
Due: none

[External] [stdlib] List.__contains__
  stdlib/src/collections/list.mojo
Due: mojo-format, check-license

[stdlib] String Constructor Does Not Depend On StringRef Enable StringRef Dependency on String
  stdlib/src/builtin/string.mojo
  stdlib/src/builtin/string_literal.mojo
Due: mojo-format, check-license

[docs] Fix changelog for `repr` functionality
  docs/changelog.md
Due: none

[External] [stdlib] Add method `unsafe_ptr()` to `InlineArray` (#39871)
  stdlib/src/utils/static_tuple.mojo
  stdlib/test/utils/test_tuple.mojo
Due: mojo-format, check-license

[External] [stdlib] List.__contains__
  stdlib/test/collections/test_list.mojo
Due: mojo-format, check-license

[stdlib] Clean up weird uses of `assert_equal` in testscases
  stdlib/test/builtin/test_simd.mojo
Due: mojo-format, check-license

[stdlib] Bump compiler version to 2024.5.1413
  stdlib/COMPATIBLE_COMPILER_VERSION
Due: none

[External] [stdlib] Add `Defaultable` trait (#39797)
  stdlib/src/builtin/value.mojo
Due: mojo-format, check-license

[stdlib] Optimizes the range function
  stdlib/src/builtin/range.mojo
Due: mojo-format, check-license

[stdlib] Added tests for `memset`
  stdlib/test/memory/test_memory.mojo
Due: mojo-format, check-license

[stdlib] Remove unused import in python tests
  stdlib/test/python/test_ownership.mojo
  stdlib/test/python/test_python_error_handling.mojo
  stdlib/test/python/test_python_interop.mojo
  stdlib/test/python/test_python_object.mojo
Due: mojo-format, check-license

[stdlib] Provide safe `Variant` and `Optional` `take/get` methods
  stdlib/src/collections/optional.mojo
  stdlib/src/utils/variant.mojo
Due: mojo-format, check-license

[stdlib] Make `trunc` generic
  docs/changelog.md
  stdlib/src/builtin/_math.mojo
  stdlib/src/builtin/float_literal.mojo
  stdlib/src/builtin/int.mojo
  stdlib/src/builtin/int_literal.mojo
  stdlib/src/builtin/simd.mojo
  stdlib/test/builtin/test_float_literal.mojo
  stdlib/test/builtin/test_int.mojo
  stdlib/test/builtin/test_int_literal.mojo
  stdlib/test/builtin/test_simd.mojo
Due: mojo-format, check-license

[Docs] Fix a broken description of undeclared variables
  docs/manual/parameters/index.ipynb
  docs/manual/variables.ipynb
Due: spellcheck-notebook

[stdlib] Added `Variant.replace` (#39900)
  stdlib/src/collections/optional.mojo
  stdlib/src/utils/variant.mojo
  stdlib/test/collections/test_optional.mojo
  stdlib/test/utils/test_variant.mojo
Due: mojo-format, check-license

[mojo-stdlib] Make `Tuple`'s constructor move its input elements. (#39904)
  stdlib/src/builtin/builtin_list.mojo
  stdlib/src/builtin/tuple.mojo
Due: mojo-format, check-license

[External] [docs] Correct typo in types.ipynb (#39888)
  docs/manual/types.ipynb
Due: spellcheck-notebook
