Repository modularml/mojo: changes, and which pre-commit hooks are due for each by the changed paths.
All: mojo-format, check-license, spellcheck-notebook

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      - id: mojo-format
        name: mojo-format
        entry: mojo format
        language: system
        files: '\.(mojo|ðŸ”¥)$'
        stages: [commit]
      - id: check-docstrings
        name: check-docstrings
        entry: python3 ./stdlib/scripts/check-docstrings.py
        language: system
        pass_filenames: false
        stages: [commit]
      - id: check-license
        name: check-license
        entry: mojo stdlib/scripts/check-licenses.mojo
        language: system
        files: '\.(mojo|ðŸ”¥|py)$'
        stages: [commit]
      - id: spellcheck-notebook
        name: Spellcheck Jupyter Notebook
        entry: ./stdlib/scripts/spellcheck-notebooks.sh
        language: python
        files: \.ipynb$
        additional_dependencies:
          - jupyter==1.0.0
          - codespell==2.2.6
          - nbformat==5.10.4

[stdlib] Use consistent method order and comment headers for stdlib types
  stdlib/src/builtin/string.mojo
  stdlib/src/collections/dict.mojo
  stdlib/src/collections/list.mojo
  stdlib/src/collections/optional.mojo
  stdlib/src/collections/set.mojo
  stdlib/src/memory/unsafe_pointer.mojo
  stdlib/src/utils/inlined_string.mojo
  stdlib/src/utils/span.mojo
  stdlib/src/utils/static_tuple.mojo
  stdlib/src/utils/stringref.mojo
  stdlib/src/utils/variant.mojo
Due: mojo-format, check-license

[stdlib] Updated style-guide for 40196.
  stdlib/docs/style-guide.md
Due: none

Revert self-referential fix temporarily
  docs/changelog.md
Due: none

[External] [stdlib] Fix Tuple.__contains__ (#40417)
  stdlib/src/builtin/tuple.mojo
  stdlib/test/builtin/test_tuple.mojo
Due: mojo-format, check-license

[stdlib] Move more uses of `StringLiteral` to compile time
  stdlib/src/builtin/io.mojo
  stdlib/src/builtin/simd.mojo
  stdlib/test/utils/test_string_slice.mojo
Due: mojo-format, check-license

[stdlib] Add additional comp-time tuple contains test
  stdlib/test/builtin/test_tuple.mojo
Due: mojo-format, check-license

Revert "[mojo-lang] Fix mojo-build-server breakage" (#40432)
  docs/changelog.md
Due: none

[External] [stdlib] Fix: Add null terminator to the buffer inside `__str__` method (#40421)
  stdlib/src/collections/dict.mojo
  stdlib/src/collections/list.mojo
Due: mojo-format, check-license

[External] [stdlib] Add `startswith()` and `endswith()` to `StringRef` (#40383)
  docs/changelog.md
  stdlib/src/builtin/string.mojo
  stdlib/src/utils/stringref.mojo
Due: mojo-format, check-license

[stdlib] Remove `Indexer` trait from `SIMD`
  docs/changelog.md
  stdlib/src/base64/base64.mojo
  stdlib/src/builtin/bin.mojo
  stdlib/src/builtin/simd.mojo
  stdlib/test/builtin/test_list.mojo
  stdlib/test/builtin/test_range.mojo
  stdlib/test/builtin/test_simd.mojo
  stdlib/test/builtin/test_slice.mojo
  stdlib/test/builtin/test_string.mojo
  stdlib/test/builtin/test_stringref.mojo
  stdlib/test/collections/test_inline_list.mojo
  stdlib/test/collections/test_list.mojo
  stdlib/test/collections/test_vector.mojo
  stdlib/test/memory/test_memory.mojo
  stdlib/test/memory/test_unsafepointer.mojo
  stdlib/test/utils/test_span.mojo
Due: mojo-format, check-license

[External] [Docs] correct output, fix indent in Heterogeneous variadic arguments (#40435)
  docs/manual/functions.ipynb
Due: spellcheck-notebook

[stdlib] Enabled `test_tuple`.
  stdlib/test/builtin/test_tuple.mojo
Due: mojo-format, check-license

[stdlib] Make `Indexer` implicitly convertible to `Int`
  docs/changelog.md
  stdlib/src/builtin/int.mojo
  stdlib/src/os/atomic.mojo
  stdlib/src/python/object.mojo
  stdlib/src/sys/intrinsics.mojo
Due: mojo-format, check-license

[stdlib] Rename `InlinedString` to `InlineString`
  stdlib/src/utils/__init__.mojo
  stdlib/src/utils/inline_string.mojo
  stdlib/test/utils/test_format.mojo
  stdlib/test/utils/test_inlined_string.mojo
Due: mojo-format, check-license

[stdlib] Add changelog for `InlinedString` rename
  docs/changelog.md
Due: none

[stdlib] Move `test_stringref` to `test/utils`
  stdlib/test/utils/test_stringref.mojo
Due: mojo-format, check-license

[mojo-lang] Change the syntax of inferred parameters
  docs/changelog.md
  stdlib/src/memory/memory.mojo
Due: mojo-format, check-license

Fix docsite build, with a period
  stdlib/src/builtin/bin.mojo
Due: mojo-format, check-license

[stdlib] Remove most uses of `Indexer`
  stdlib/src/builtin/bin.mojo
  stdlib/src/builtin/builtin_list.mojo
  stdlib/src/builtin/builtin_slice.mojo
  stdlib/src/builtin/int.mojo
  stdlib/src/builtin/range.mojo
  stdlib/src/builtin/simd.mojo
  stdlib/src/builtin/string.mojo
  stdlib/src/collections/inline_list.mojo
  stdlib/src/collections/list.mojo
  stdlib/src/collections/vector.mojo
  stdlib/src/memory/unsafe.mojo
  stdlib/src/memory/unsafe_pointer.mojo
  stdlib/src/utils/index.mojo
  stdlib/src/utils/span.mojo
  stdlib/src/utils/stringref.mojo
Due: mojo-format, check-license

[stdlib] Bump compiler version to 2024.5.2305
  stdlib/COMPATIBLE_COMPILER_VERSION
Due: none

Fix plt figure dimensions in RayTracing example notebook Signed-off-by: David Guo <dawei.guo@terapines.com>
  examples/notebooks/RayTracing.ipynb
Due: spellcheck-notebook

Some files don't need change anymore
  stdlib/test/builtin/test_list.mojo
  stdlib/test/collections/test_dict.mojo
  stdlib/test/collections/test_list.mojo
Due: mojo-format, check-license

Add a note in the contributing guide
  stdlib/docs/development.md
Due: none

[stdlib] Add method `unsafe_get` to `List`
  docs/changelog.md
  stdlib/src/collections/list.mojo
  stdlib/test/collections/test_list.mojo
Due: mojo-format, check-license

Reword docstring
  stdlib/src/collections/list.mojo
Due: mojo-format, check-license

Docker file AUTH_KEY removed
  examples/docker/Dockerfile.mojosdk
  examples/docker/build-image.sh
  examples/docker/docker-compose.yml
Due: none

add Array type & tests
  stdlib/src/collections/array.mojo
  stdlib/src/collections/list.mojo
  stdlib/test/collections/test_array.mojo
Due: mojo-format, check-license

[stdlib] Implement Dict.setdefault()
  stdlib/src/collections/dict.mojo
Due: mojo-format, check-license

add unsafe_get and unsafe_set and test
  stdlib/src/collections/array.mojo
  stdlib/test/collections/test_array.mojo
Due: mojo-format, check-license

fix unsafe_set
  stdlib/src/collections/array.mojo
Due: mojo-format, check-license

[stdlib] Tests for Dict.setdefault()
  stdlib/test/collections/test_dict.mojo
Due: mojo-format, check-license

fix formatting
  stdlib/test/collections/test_array.mojo
Due: mojo-format, check-license

fix docstrings
  stdlib/src/collections/array.mojo
  stdlib/src/collections/list.mojo
Due: mojo-format, check-license

fix formatting
  stdlib/src/collections/list.mojo
Due: mojo-format, check-license

[stdlib] Update changelog.md
  docs/changelog.md
Due: none

[stdlib] Implement `List.copy()`
  stdlib/src/collections/list.mojo
  stdlib/test/builtin/test_list.mojo
Due: mojo-format, check-license

fix sutff
  stdlib/src/collections/array.mojo
  stdlib/src/collections/list.mojo
Due: mojo-format, check-license
