Repository modularml/mojo: changes, and which pre-commit hooks are due for each by the changed paths.
All: mojo-format, check-license, spellcheck-notebook

mojo-format:
  name: mojo-format
  entry: mojo format
  language: system
  stages:
  - commit

check-license:
  name: check-license
  entry: mojo stdlib/scripts/check-licenses.mojo
  language: system
  stages:
  - commit

spellcheck-notebook:
  name: Spellcheck Jupyter Notebook
  entry: ./stdlib/scripts/spellcheck-notebooks.sh
  language: python
  additional_dependencies:
  - jupyter==1.0.0
  - codespell==2.2.6
  - nbformat==5.10.4

[stdlib] Moved the __round__(ndigits) logic to math.mojo
  stdlib/src/builtin/math.mojo
  stdlib/src/builtin/round.mojo
  stdlib/test/builtin/test_math.mojo
Due: mojo-format, check-license

add List init from Span
  stdlib/src/collections/list.mojo
  stdlib/test/collections/test_list.mojo
Due: mojo-format, check-license

[stdlib] Use Immutable and Mutable in {Imm, Mut}Lifetime and {Imm, Mut}StaticLifetime
  stdlib/src/builtin/builtin_list.mojo
  stdlib/src/builtin/string_literal.mojo
  stdlib/src/builtin/type_aliases.mojo
  stdlib/src/memory/unsafe.mojo
  stdlib/src/memory/unsafe_pointer.mojo
  stdlib/test/utils/test_string_slice.mojo
Due: mojo-format, check-license

[mojo-lang] Rework 'def' argument processing
  stdlib/test/builtin/test_object.mojo
Due: mojo-format, check-license

[mojo-docs] Changelog the def behavior change
  docs/changelog.md
Due: none

[mojo-lang] Implement parameter inference inside parameter lists
  docs/changelog.md
Due: none

[stdlib] Bump compiler version to 2024.5.2012
  stdlib/COMPATIBLE_COMPILER_VERSION
Due: none

fix generic constructors and replace(calendar=calendar)
  stdlib/src/datetime/calendar.mojo
  stdlib/src/datetime/date.mojo
  stdlib/src/datetime/datetime.mojo
  stdlib/src/datetime/dt_str.mojo
  stdlib/src/datetime/fast.mojo
Due: mojo-format, check-license

[tools] Add markdownlint to the pre-commit
  .pre-commit-config.yaml
Due: none

[stdlib] Add unit tests for SIMD sub, rsub and isub operations
  stdlib/test/builtin/test_simd.mojo
Due: mojo-format, check-license

Add index normalization
  stdlib/src/collections/_index_normalization.mojo
  stdlib/src/utils/static_tuple.mojo
  stdlib/test/collections/test_index_normalization.mojo
Due: mojo-format, check-license

fix tuple returns to be structs
  stdlib/src/datetime/_lists.mojo
  stdlib/src/datetime/dt_str.mojo
  stdlib/src/datetime/timezone.mojo
  stdlib/src/datetime/zoneinfo.mojo
Due: mojo-format, check-license

Add unsafe_get()
  stdlib/src/utils/static_tuple.mojo
  stdlib/test/collections/test_index_normalization.mojo
  stdlib/test/utils/test_tuple.mojo
Due: mojo-format, check-license

Reuse the variable
  stdlib/src/utils/static_tuple.mojo
Due: mojo-format, check-license

Harmonize parameter names
  stdlib/src/utils/static_tuple.mojo
Due: mojo-format, check-license

fix zoneinfo usage
  stdlib/src/datetime/date.mojo
  stdlib/src/datetime/datetime.mojo
  stdlib/src/datetime/timezone.mojo
  stdlib/src/datetime/zoneinfo.mojo
Due: mojo-format, check-license

fix zoneinfo usage
  stdlib/src/datetime/date.mojo
  stdlib/src/datetime/datetime.mojo
  stdlib/src/datetime/dt_str.mojo
  stdlib/test/datetime/test_date.mojo
  stdlib/test/datetime/test_datetime.mojo
  stdlib/test/datetime/test_timezone.mojo
Due: mojo-format, check-license

fix docstrings
  stdlib/src/datetime/zoneinfo.mojo
Due: mojo-format, check-license

fix tests
  stdlib/src/datetime/fast.mojo
  stdlib/test/datetime/test_date.mojo
  stdlib/test/datetime/test_datetime.mojo
  stdlib/test/datetime/test_timezone.mojo
Due: mojo-format, check-license

fix tests
  stdlib/test/datetime/test_date.mojo
  stdlib/test/datetime/test_datetime.mojo
  stdlib/test/datetime/test_timezone.mojo
Due: mojo-format, check-license

[stdlib] Add __bool__() for InlineList
  stdlib/src/collections/inline_list.mojo
  stdlib/test/collections/test_inline_list.mojo
Due: mojo-format, check-license

Apply `any()`/`all()` functions for simd checks
  examples/mandelbrot.mojo
  examples/notebooks/Mandelbrot.ipynb
  stdlib/src/builtin/simd.mojo
  stdlib/src/memory/memory.mojo
  stdlib/src/testing/testing.mojo
Due: mojo-format, check-license, spellcheck-notebook

Exclude some test files
  stdlib/test/builtin/test_list.mojo
  stdlib/test/builtin/test_simd.mojo
  stdlib/test/builtin/test_string.mojo
  stdlib/test/collections/test_dict.mojo
  stdlib/test/collections/test_inline_list.mojo
  stdlib/test/collections/test_list.mojo
Due: mojo-format, check-license

fix zoneinfo usage
  stdlib/src/datetime/date.mojo
  stdlib/src/datetime/datetime.mojo
  stdlib/src/datetime/dt_str.mojo
  stdlib/src/datetime/fast.mojo
  stdlib/src/datetime/timezone.mojo
  stdlib/src/datetime/zoneinfo.mojo
  stdlib/test/datetime/test_date.mojo
  stdlib/test/datetime/test_datetime.mojo
  stdlib/test/datetime/test_timezone.mojo
Due: mojo-format, check-license

fix weird errs
  stdlib/src/datetime/datetime.mojo
  stdlib/src/datetime/timezone.mojo
  stdlib/src/datetime/zoneinfo.mojo
Due: mojo-format, check-license

fix zoneinfo
  stdlib/src/datetime/timezone.mojo
  stdlib/src/datetime/zoneinfo.mojo
Due: mojo-format, check-license

[docs] Add fix-ups to docs/changelog.md
  docs/changelog.md
Due: none

[External] [stdlib] Add List constructor from Span (#40246)
  stdlib/src/collections/list.mojo
  stdlib/test/collections/test_list.mojo
Due: mojo-format, check-license

[mojo-lang] Resolve function parameter overloads when forming references
  docs/changelog.md
Due: none

[External] [stdlib] Apply Indexer trait to stdlib containers (#40205)
  docs/changelog.md
  stdlib/src/builtin/builtin_list.mojo
  stdlib/src/builtin/builtin_slice.mojo
  stdlib/src/builtin/range.mojo
  stdlib/src/builtin/simd.mojo
  stdlib/src/builtin/string.mojo
  stdlib/src/collections/inline_list.mojo
  stdlib/src/collections/list.mojo
  stdlib/src/collections/vector.mojo
  stdlib/src/memory/unsafe.mojo
  stdlib/src/memory/unsafe_pointer.mojo
  stdlib/src/utils/index.mojo
  stdlib/src/utils/span.mojo
  stdlib/src/utils/stringref.mojo
  stdlib/test/builtin/test_list.mojo
  stdlib/test/builtin/test_range.mojo
  stdlib/test/builtin/test_simd.mojo
  stdlib/test/builtin/test_slice.mojo
  stdlib/test/builtin/test_string.mojo
  stdlib/test/builtin/test_stringref.mojo
  stdlib/test/collections/test_inline_list.mojo
  stdlib/test/collections/test_list.mojo
  stdlib/test/collections/test_vector.mojo
  stdlib/test/memory/test_memory.mojo
  stdlib/test/memory/test_unsafepointer.mojo
  stdlib/test/utils/test_span.mojo
Due: mojo-format, check-license

[External] [stdlib] Tuple.__contains__ (#40202)
  docs/changelog.md
  stdlib/src/builtin/tuple.mojo
  stdlib/test/builtin/test_tuple.mojo
Due: mojo-format, check-license

[External] [docs] Add a note about pull request sizes in the contributing guide (#40021)
  CONTRIBUTING.md
Due: none

[External] [stdlib][NFC] Add unit tests for SIMD sub, rsub and isub operations (#40272)
  stdlib/test/builtin/test_simd.mojo
Due: mojo-format, check-license

This reimplements the unroll function in terms of the `@parameter unroll` and is a staging for eventual deletion of the function.
  stdlib/src/utils/loop.mojo
Due: mojo-format, check-license

[External] [tools] Allow to choose the test files when using `run-tests.sh` (#40225)
  stdlib/docs/development.md
  stdlib/scripts/run-tests.sh
Due: none

Path conditions:
  mojo-format: any of: \.(mojo|ðŸ”¥)$
  check-license: any of: \.(mojo|ðŸ”¥|py)$
  spellcheck-notebook: any of: \.ipynb$
