Repository modularml/mojo: changes, and which pre-commit hooks are due for each by the changed paths.
All: mojo-format, check-license, spellcheck-notebook

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      - id: mojo-format
        name: mojo-format
        entry: mojo format
        language: system
        files: '\.(mojo|ðŸ”¥)$'
        stages: [commit]
      - id: check-docstrings
        name: check-docstrings
        entry: python3 ./stdlib/scripts/check-docstrings.py
        language: system
        pass_filenames: false
        stages: [commit]
      - id: check-license
        name: check-license
        entry: mojo stdlib/scripts/check-licenses.mojo
        language: system
        files: '\.(mojo|ðŸ”¥|py)$'
        stages: [commit]
      - id: spellcheck-notebook
        name: Spellcheck Jupyter Notebook
        entry: ./stdlib/scripts/spellcheck-notebooks.sh
        language: python
        files: \.ipynb$
        additional_dependencies:
          - jupyter==1.0.0
          - codespell==2.2.6
          - nbformat==5.10.4

[mojo-stdlib] Remove `math.div_ceil` in favor of `math.ceildiv` (#39273)
  docs/changelog.md
  stdlib/src/builtin/io.mojo
  stdlib/src/utils/stringref.mojo
  stdlib/src/utils/variant.mojo
Due: mojo-format, check-license

[stdlib] Bump compiler version to 2024.5.822
  stdlib/COMPATIBLE_COMPILER_VERSION
Due: none

[External] [stdlib] Complete most of the remaining methods of `Set` (#38990)
  stdlib/src/collections/set.mojo
  stdlib/test/collections/test_set.mojo
Due: mojo-format, check-license

[External] [mojo-stdlib] Used explicit str in `test_format.mojo` (#39549)
  stdlib/test/utils/test_format.mojo
Due: mojo-format, check-license

[mojo-stdlib] Replace VariadicPack.get_element with refitem
  stdlib/src/builtin/builtin_list.mojo
  stdlib/src/builtin/tuple.mojo
Due: mojo-format, check-license

[External] [stdlib] Use UInt8 as the storage type for `StringRef` (#39455)
  stdlib/src/builtin/file.mojo
  stdlib/src/builtin/hash.mojo
  stdlib/src/builtin/object.mojo
  stdlib/src/builtin/string.mojo
  stdlib/src/python/_cpython.mojo
  stdlib/src/utils/inlined_string.mojo
  stdlib/src/utils/stringref.mojo
Due: mojo-format, check-license

[docs] Fix broken/redirecting links in mojodocs (#39178)
  stdlib/src/builtin/int.mojo
  stdlib/src/builtin/len.mojo
  stdlib/src/builtin/str.mojo
Due: mojo-format, check-license

[stdlib] Bump compiler version to 2024.5.323
  stdlib/COMPATIBLE_COMPILER_VERSION
Due: none

[mojo-stdlib] Rename `sys._exit` to `sys.terminate` (#39136)
  stdlib/src/sys/__init__.mojo
  stdlib/src/sys/terminate.mojo
Due: mojo-format, check-license

[mojo-stdlib] Remove `Reference.get_legacy_pointer`. (#39401)
  stdlib/src/builtin/object.mojo
  stdlib/src/memory/reference.mojo
  stdlib/src/memory/unsafe.mojo
  stdlib/src/sys/ffi.mojo
  stdlib/src/utils/static_tuple.mojo
Due: mojo-format, check-license

[External] [stdlib] Add unit tests for the SIMD __rfloordiv__() method and constraint check on the element types (#39451)
  stdlib/src/builtin/simd.mojo
  stdlib/test/builtin/test_simd.mojo
Due: mojo-format, check-license

[External] [docs] Two helpful documentation additions (#39480)
  docs/manual/decorators/index.md
  docs/manual/index.md
  docs/tools/testing.ipynb
Due: spellcheck-notebook

[External] [stdlib] remove uses of StaticTuple where possible (#39559)
  stdlib/src/builtin/hash.mojo
  stdlib/src/builtin/simd.mojo
  stdlib/src/builtin/string.mojo
  stdlib/src/collections/vector.mojo
  stdlib/src/os/_linux_aarch64.mojo
  stdlib/src/os/_linux_x86.mojo
  stdlib/src/os/_macos.mojo
  stdlib/src/os/os.mojo
  stdlib/src/utils/static_tuple.mojo
Due: mojo-format, check-license

[stdlib] Bump compiler version to 2024.5.622
  stdlib/COMPATIBLE_COMPILER_VERSION
Due: none

[External] [stdlib] Use `UnsafePointer` in `vector.mojo` (#38804)
  stdlib/src/collections/vector.mojo
Due: mojo-format, check-license

Fix links to Mojo get started guide
  docs/changelog-released.md
  docs/faq.md
  docs/index.md
  docs/manual/basics.ipynb
  docs/manual/get-started.md
  docs/roadmap.md
Due: spellcheck-notebook

[Docs] Add Mojo docstring style guide for stdlib.
  stdlib/docs/docstring-style-guide.md
  stdlib/docs/style-guide.md
Due: none

[External] [stdlib] Remove FileCheck relics (#39360)
  stdlib/test/builtin/test_file.mojo
  stdlib/test/builtin/test_list.mojo
  stdlib/test/builtin/test_string.mojo
  stdlib/test/collections/test_optional.mojo
  stdlib/test/memory/test_memory.mojo
  stdlib/test/os/test_getenv_setenv.mojo
  stdlib/test/pathlib/test_pathlib.mojo
  stdlib/test/utils/test_tuple.mojo
Due: mojo-format, check-license

[External] [stdlib] Make the use of the unsafe constructor of List explicit (#39465)
  stdlib/src/builtin/file.mojo
  stdlib/src/builtin/string.mojo
  stdlib/src/collections/list.mojo
  stdlib/test/collections/test_list.mojo
Due: mojo-format, check-license

[stdlib] Combine device_print.mojo with stdlib _printf (#39292)
  stdlib/src/builtin/io.mojo
Due: mojo-format, check-license

[mojo-stdlib] Move `Coroutine` callback setting into `__await__` (#39283)
  stdlib/src/builtin/coroutine.mojo
Due: mojo-format, check-license

[External] [mojo-stdlib] Used explicit str in `test_dict.mojo` (#39546)
  stdlib/test/collections/test_dict.mojo
Due: mojo-format, check-license

[stdlib] Rename `Variant.take()` to `unsafe_take()`
  stdlib/src/collections/optional.mojo
  stdlib/src/utils/variant.mojo
  stdlib/test/collections/test_dict.mojo
  stdlib/test/collections/test_optional.mojo
  stdlib/test/utils/test_variant.mojo
Due: mojo-format, check-license

[External] [mojo-stdlib] Used explicit str in `string.mojo` (#39538)
  stdlib/src/builtin/string.mojo
Due: mojo-format, check-license

[******][mojo-stdlib] Move `roundeven` from `math` to `SIMD` (#38961)
  docs/changelog.md
  stdlib/src/builtin/simd.mojo
  stdlib/test/builtin/test_simd.mojo
Due: mojo-format, check-license

[mojo-stdlib] Abort when using Python interop without `MOJO_PYTHON_LIBRARY` set (#39130)
  stdlib/src/python/_cpython.mojo
Due: mojo-format, check-license

[stdlib] Migrating ffi.mojo use cases from Pointer -> UnsafePointer
  stdlib/src/sys/ffi.mojo
Due: mojo-format, check-license

[stdlib] Return `IntLiteral` from `simdbitwidth` and `simdbytewidth` in `sys.info`
  stdlib/src/sys/info.mojo
Due: mojo-format, check-license

[stdlib] Make `FloatLiteral.__str__` implementation use explicit conversions
  stdlib/src/builtin/float_literal.mojo
Due: mojo-format, check-license

[stdlib] Make `List.index` take borrowed values (#39195)
  stdlib/src/collections/list.mojo
Due: mojo-format, check-license

[External] [docs] Correct link (#39359)
  docs/changelog-released.md
Due: none

[stdlib] feature: Change SIMD to use `Formattable` (#39200)
  stdlib/src/builtin/simd.mojo
  stdlib/src/builtin/string.mojo
  stdlib/src/utils/inlined_string.mojo
Due: mojo-format, check-license

[docs] Modernize Ray tracing notebook with UnsafePointer. (#39219)
  examples/notebooks/RayTracing.ipynb
Due: spellcheck-notebook

[External] [stdlib] Refactor SIMD tests to directly call __floordiv__ (#39730)
  stdlib/test/builtin/test_simd.mojo
Due: mojo-format, check-license

[External] [stdlib] Modify SIMD's tests to directly invoke __rmod__ (#39641)
  stdlib/test/builtin/test_simd.mojo
Due: mojo-format, check-license

[stdlib] Make naming consistent in the `bit` module
  docs/changelog.md
  stdlib/src/bit/__init__.mojo
  stdlib/src/bit/bit.mojo
  stdlib/src/builtin/sort.mojo
  stdlib/src/builtin/string.mojo
  stdlib/src/utils/stringref.mojo
Due: mojo-format, check-license

[stdlib] Add `__neg__` to `Bool`
  stdlib/src/builtin/bool.mojo
  stdlib/test/builtin/test_bool.mojo
Due: mojo-format, check-license

[mojo-examples] reduce.mojo: Migrate from `Tensor` to `Buffer`
  examples/reduce.mojo
Due: mojo-format, check-license

[External] [Proposal] Improve the hash module (#39553)
  proposals/improved-hash-module.md
Due: none

[stdlib] Bump compiler version to 2024.5.1002
  stdlib/COMPATIBLE_COMPILER_VERSION
Due: none
