Repository modularml/mojo: changes, and which pre-commit hooks are due for each by the changed paths.
All: mojo-format, check-license, spellcheck-notebook

mojo-format:
  name: mojo-format
  entry: mojo format
  language: system
  stages:
  - commit

check-license:
  name: check-license
  entry: mojo stdlib/scripts/check-licenses.mojo
  language: system
  stages:
  - commit

spellcheck-notebook:
  name: Spellcheck Jupyter Notebook
  entry: ./stdlib/scripts/spellcheck-notebooks.sh
  language: python
  additional_dependencies:
  - jupyter==1.0.0
  - codespell==2.2.6
  - nbformat==5.10.4

[mojo-lang] Update the MOF + testsuite for self of `Reference` type. (#39371)
  docs/changelog.md
  stdlib/src/collections/optional.mojo
Due: mojo-format, check-license

[mojo-stdlib] Continued cleanup of Arc. (#39356)
  stdlib/src/memory/_arc.mojo
Due: mojo-format, check-license

[External] [stdlib] Add `bool` for `Boolable`. (#39454)
  stdlib/src/builtin/bool.mojo
  stdlib/test/builtin/test_bool.mojo
Due: mojo-format, check-license

[KGEN] Add the current coroutine handle as an argument to `co.suspend` (#39329)
  stdlib/src/builtin/coroutine.mojo
Due: mojo-format, check-license

[stdlib] Support testing examples with pre-release versions
  examples/lit.cfg.py
Due: check-license

Delete obsolete front matter
  docs/changelog-released.md
  docs/community.md
  docs/faq.md
  docs/manual/basics.ipynb
  docs/manual/decorators/always-inline.ipynb
  docs/manual/decorators/index.md
  docs/manual/decorators/nonmaterializable.ipynb
  docs/manual/decorators/parameter.ipynb
  docs/manual/decorators/register-passable.ipynb
  docs/manual/decorators/staticmethod.ipynb
  docs/manual/decorators/unroll.ipynb
  docs/manual/decorators/value.ipynb
  docs/manual/functions.ipynb
  docs/manual/index.md
  docs/manual/lifecycle/death.ipynb
  docs/manual/lifecycle/index.ipynb
  docs/manual/lifecycle/life.ipynb
  docs/manual/packages.md
  docs/manual/parameters/index.ipynb
  docs/manual/python/index.ipynb
  docs/manual/python/types.ipynb
  docs/manual/structs.ipynb
  docs/manual/traits.ipynb
  docs/manual/values/index.ipynb
  docs/manual/values/ownership.ipynb
  docs/manual/values/value-semantics.ipynb
  docs/manual/variables.ipynb
  docs/notebooks/index.md
  docs/roadmap.md
  docs/tools/debugging.ipynb
  docs/why-mojo.md
Due: spellcheck-notebook

[stdlib] Migrate coroutine.mojo Pointer -> UnsafePointer
  stdlib/src/builtin/coroutine.mojo
Due: mojo-format, check-license

[mojo-stdlib] Remove `Reference.unsafe_bitcast`. (#39389)
  stdlib/src/collections/set.mojo
  stdlib/src/memory/reference.mojo
  stdlib/src/utils/variant.mojo
Due: mojo-format, check-license

[External] [mojo-stdlib] Used explicit str in `test_file.mojo` (#39542)
  stdlib/test/builtin/test_file.mojo
Due: mojo-format, check-license

[tools] Add a docstring check to the pre-commit
  .pre-commit-config.yaml
Due: none

[External] [mojo-stdlib] Used explicit str in `test_python_interop.mojo` (#39548)
  stdlib/test/python/test_python_interop.mojo
Due: mojo-format, check-license

[mojo] Update changelog with `@deprecated` decorator
  docs/changelog.md
Due: none

[External] [mojo-stdlib] Used explicit str in `os.mojo` (#39537)
  stdlib/src/builtin/io.mojo
Due: mojo-format, check-license

[Docs] Remove note about Atomic from 24.3 changelog. Related to MOCO-564. (#39155)
  docs/changelog-released.md
Due: none

[External] [mojo-stdlib] Used explicit str in `list.mojo` (#39539)
  stdlib/src/collections/list.mojo
Due: mojo-format, check-license

[External] [mojo-stdlib] Used explicit str in `inlined_string.mojo` (#39540)
  stdlib/src/utils/inlined_string.mojo
Due: mojo-format, check-license

[mojo-stdlib] Make `ceildiv` generic (#39279)
  docs/changelog.md
  stdlib/src/builtin/_math.mojo
  stdlib/src/builtin/float_literal.mojo
  stdlib/src/builtin/int.mojo
  stdlib/src/builtin/int_literal.mojo
  stdlib/src/builtin/simd.mojo
  stdlib/src/utils/index.mojo
Due: mojo-format, check-license

[External] [docs] fix typos in roadmap.md (#39231)
  docs/roadmap.md
Due: none

[mojo-stdlib] Move more register passable types off `-> Self` inits. (#39168)
  stdlib/src/builtin/builtin_slice.mojo
Due: mojo-format, check-license

[stdlib] Migrating atomic.mojo Pointer -> UnsafePointer (#39244)
  proposals/README.md
  proposals/byte-as-uint8.md
  proposals/inferred-parameters.md
  proposals/lifetimes-and-provenance.md
  proposals/lifetimes-keyword-renaming.md
  proposals/mojo-and-dynamism.md
  proposals/project-manifest-and-build-tool.md
  proposals/remove-let-decls.md
  proposals/value-ownership.md
  stdlib/src/os/atomic.mojo
Due: mojo-format, check-license

[External] [stdlib] Use `reversed(range(...))` in more places (#39453)
  stdlib/src/builtin/builtin_list.mojo
  stdlib/src/utils/stringref.mojo
Due: mojo-format, check-license

[External] [mojo-stdlib] Add `divmod(Int, Int)` to builtins (#39382)
  docs/changelog.md
  stdlib/src/builtin/divmod.mojo
  stdlib/src/builtin/int.mojo
  stdlib/test/builtin/test_int.mojo
Due: mojo-format, check-license

[mojo-stdlib] Remove more `-> Self` initializers, NFC. (#39181)
  stdlib/src/builtin/_closure.mojo
  stdlib/src/builtin/coroutine.mojo
  stdlib/src/builtin/int.mojo
  stdlib/src/builtin/int_literal.mojo
  stdlib/src/builtin/string_literal.mojo
  stdlib/src/sys/ffi.mojo
Due: mojo-format, check-license

[mojo-stdlib] Move `round` to `builtin` and implement it generically (#38984)
  docs/changelog.md
  stdlib/src/builtin/_math.mojo
  stdlib/src/builtin/abs.mojo
  stdlib/src/builtin/float_literal.mojo
  stdlib/src/builtin/int.mojo
  stdlib/src/builtin/int_literal.mojo
  stdlib/src/builtin/round.mojo
  stdlib/src/builtin/simd.mojo
  stdlib/test/builtin/test_float_literal.mojo
  stdlib/test/builtin/test_int.mojo
  stdlib/test/builtin/test_int_literal.mojo
  stdlib/test/builtin/test_simd.mojo
Due: mojo-format, check-license

[External] [mojo-stdlib] implement all bitwise operators for `object` (#39352)
  docs/changelog.md
  stdlib/src/builtin/object.mojo
  stdlib/test/builtin/test_object.mojo
Due: mojo-format, check-license

[mojo-stdlib][mojo-tooling] Add a new decorator to hide decls from doc gen
  docs/changelog.md
  stdlib/src/builtin/_documentation.mojo
Due: mojo-format, check-license

[External] [mojo-stdlib] Used explicit str in `test_object.mojo` (#39543)
  stdlib/test/builtin/test_object.mojo
Due: mojo-format, check-license

[stdlib] Publish Arc (#39385)
  stdlib/src/builtin/object.mojo
  stdlib/src/memory/__init__.mojo
  stdlib/src/memory/arc.mojo
  stdlib/test/memory/test_arc.mojo
Due: mojo-format, check-license

[External] [stdlib] Remove `Bool` constructor from `SIMD` (#39459)
  stdlib/src/builtin/bool.mojo
Due: mojo-format, check-license

[docs] Fix broken links (#39176)
  docs/changelog-released.md
  docs/manual/functions.ipynb
  docs/manual/lifecycle/life.ipynb
  docs/manual/types.ipynb
Due: spellcheck-notebook

[LSP] Detect unused variables (#39072)
  docs/changelog.md
Due: none

[External] [stdlib] add `SIMD._Mask` alias (#39460)
  stdlib/src/builtin/simd.mojo
Due: mojo-format, check-license

[mojo-stdlib] Wrap `co.suspend` raw op uses into a helper function (NFC) (#39289)
  stdlib/src/builtin/coroutine.mojo
Due: mojo-format, check-license

[External] [mojo-stdlib] Used explicit str in `test_remove.mojo` (#39547)
  stdlib/test/os/test_remove.mojo
Due: mojo-format, check-license

[mojo-stdlib] Move OptionalReg off -> Self inits It was a weird hybrid, not sure how that could work.
  stdlib/src/collections/optional.mojo
Due: mojo-format, check-license

[External] [tools] Add a docstring check to the pre-commit (v2) (#39249)
  stdlib/docs/style-guide.md
  stdlib/scripts/check-docstrings.py
Due: check-license

Unify the install procedure for Mojo and MAX packages
  docs/manual/get-started.md
  docs/manual/get-started/images/mojo-playground.png
  docs/manual/get-started/index.md
  docs/manual/images/mojo-vscode.png
  docs/manual/index.md
Due: none

[mojo-stdlib] Move `SIMD.__init__` off of `-> Self`. (#39235)
  stdlib/src/builtin/float_literal.mojo
  stdlib/src/builtin/simd.mojo
  stdlib/test/builtin/test_float_literal.mojo
Due: mojo-format, check-license

Revert "[stdlib] Add move constructor to `Atomic` (#36718)" (#39147)
  stdlib/src/os/atomic.mojo
  stdlib/test/os/test_atomic.mojo
Due: mojo-format, check-license

[External] [stdlib] Make `repr()` work with `DType` (#39511)
  stdlib/src/builtin/dtype.mojo
  stdlib/test/builtin/test_dtype.mojo
Due: mojo-format, check-license

Path conditions:
  mojo-format: any of: \.(mojo|ðŸ”¥)$
  check-license: any of: \.(mojo|ðŸ”¥|py)$
  spellcheck-notebook: any of: \.ipynb$
