Repository modularml/mojo: changes, and which pre-commit hooks are due for each by the changed paths.
All: mojo-format, check-license, spellcheck-notebook

mojo-format:
  name: mojo-format
  entry: mojo format
  language: system
  stages:
  - commit

check-license:
  name: check-license
  entry: mojo stdlib/scripts/check-licenses.mojo
  language: system
  stages:
  - commit

spellcheck-notebook:
  name: Spellcheck Jupyter Notebook
  entry: ./stdlib/scripts/spellcheck-notebooks.sh
  language: python
  additional_dependencies:
  - jupyter==1.0.0
  - codespell==2.2.6
  - nbformat==5.10.4

[stdlib] Bump compiler version
  stdlib/COMPATIBLE_COMPILER_VERSION
Due: none

[External] [docs] Add `fish` version of the set-up command (#39266)
  docs/manual/get-started/index.md
Due: none

[KGEN] Move `CoroutineType` to the `co` dialect (NFC) (#39180)
  stdlib/src/builtin/coroutine.mojo
Due: mojo-format, check-license

[mojo-tooling] Add support for erroring out on invalid doc strings
  docs/changelog.md
  stdlib/docs/style-guide.md
  stdlib/scripts/check-docstrings.py
Due: check-license

[External] [mojo-stdlib] Used explicit str in `test_error.mojo` (#39550)
  stdlib/test/builtin/test_error.mojo
Due: mojo-format, check-license

[KGEN] Remove SignatureType from CoroutineType (#39274)
  stdlib/src/builtin/coroutine.mojo
Due: mojo-format, check-license

[docs] Mojo 24.3 changelog edits (#39106)
  docs/changelog-released.md
Due: none

[stdlib] Unified getters of pointer to contiguous collection of memory (#39271)
  docs/changelog.md
  examples/mandelbrot.mojo
  examples/notebooks/Mandelbrot.ipynb
  stdlib/src/base64/base64.mojo
  stdlib/src/builtin/error.mojo
  stdlib/src/builtin/file.mojo
  stdlib/src/builtin/hex.mojo
  stdlib/src/builtin/int.mojo
  stdlib/src/builtin/io.mojo
  stdlib/src/builtin/string.mojo
  stdlib/src/builtin/string_literal.mojo
  stdlib/src/collections/list.mojo
  stdlib/src/memory/arc.mojo
  stdlib/src/os/_linux_aarch64.mojo
  stdlib/src/os/_linux_x86.mojo
  stdlib/src/os/_macos.mojo
  stdlib/src/os/env.mojo
  stdlib/src/os/os.mojo
  stdlib/src/python/_cpython.mojo
  stdlib/src/sys/ffi.mojo
  stdlib/src/sys/info.mojo
  stdlib/src/utils/inlined_string.mojo
  stdlib/src/utils/stringref.mojo
  stdlib/test/builtin/test_hash.mojo
  stdlib/test/collections/test_array.mojo
  stdlib/test/utils/test_inlined_string.mojo
Due: mojo-format, check-license, spellcheck-notebook

[mojo-stdlib] Keep moving more stuff out from `-> Self` (#39217)
  docs/manual/decorators/nonmaterializable.ipynb
  docs/manual/parameters/index.ipynb
  examples/notebooks/BoolMLIR.ipynb
  examples/notebooks/RayTracing.ipynb
  examples/notebooks/programming-manual.ipynb
  stdlib/src/builtin/int.mojo
Due: mojo-format, check-license, spellcheck-notebook

[stdlib] reference.mojo renaming Pointer -> LegacyPointer NFC (#39245)
  stdlib/src/memory/reference.mojo
Due: mojo-format, check-license

[mojo-stdlib] Massively simplify parametric mutability reference usage (#39369)
  stdlib/src/builtin/reversed.mojo
  stdlib/src/builtin/tuple.mojo
  stdlib/src/collections/dict.mojo
  stdlib/src/collections/list.mojo
  stdlib/src/collections/optional.mojo
  stdlib/src/collections/set.mojo
  stdlib/src/memory/_arc.mojo
  stdlib/src/testing/testing.mojo
  stdlib/src/utils/static_tuple.mojo
  stdlib/src/utils/variant.mojo
Due: mojo-format, check-license

[External] [mojo-stdlib] Used explicit str in `test_string.mojo` (#39545)
  stdlib/test/builtin/test_string.mojo
Due: mojo-format, check-license

[stdlib] Added changelog for [Internal link]
  docs/changelog.md
Due: none

[External] [stdlib] Fix accidental use of `assert_true` in tests (#39229)
  stdlib/test/builtin/test_slice.mojo
  stdlib/test/python/test_python_object.mojo
Due: mojo-format, check-license

[mojo-stdlib] Tidy up Arc (#39354)
  stdlib/src/builtin/tuple.mojo
  stdlib/src/memory/_arc.mojo
  stdlib/test/memory/test_arc.mojo
Due: mojo-format, check-license

[mojo-stdlib] Move `Int` and `IntLiteral` __init__ of `-> Self` syntax (#39239)
  stdlib/src/builtin/int.mojo
  stdlib/src/builtin/int_literal.mojo
Due: mojo-format, check-license

[mojo-stdlib] Move `builtin/object` off of `-> Self`. (#39192)
  stdlib/src/builtin/object.mojo
Due: mojo-format, check-license

[mojo-tool] Support `mojo package -o dir/` (#39213)
  docs/changelog.md
Due: none

[mojo-lang] Enhance CheckLifetimes copy elision for 'inout self' regpass (#39345)
  proposals/lifetimes-and-provenance.md
Due: none

[External] [mojo-stdlib] Used explicit str in `test_simd.mojo` (#39544)
  stdlib/test/builtin/test_simd.mojo
Due: mojo-format, check-license

[KGEN] Rename `co.await` to `co.suspend` (NFC) (#39285)
  stdlib/src/builtin/coroutine.mojo
Due: mojo-format, check-license

[Docs] Edit contributed docs.
  docs/manual/decorators/index.md
  docs/tools/testing.ipynb
Due: spellcheck-notebook

[External] [stdlib] Remove unnecessary arguments and overloads in print() (#39173)
  stdlib/src/builtin/io.mojo
Due: mojo-format, check-license

[External] [tools] Fix all typos found in #2295 (#39503)
  docs/changelog-released.md
  proposals/byte-as-uint8.md
  proposals/inferred-parameters.md
  stdlib/docs/development.md
  stdlib/scripts/check-licenses.mojo
  stdlib/src/builtin/_math.mojo
  stdlib/src/builtin/_startup.mojo
  stdlib/src/builtin/builtin_list.mojo
  stdlib/src/builtin/constrained.mojo
  stdlib/src/builtin/file.mojo
  stdlib/src/builtin/hash.mojo
  stdlib/src/builtin/hex.mojo
  stdlib/src/builtin/simd.mojo
  stdlib/src/builtin/string.mojo
  stdlib/src/collections/dict.mojo
  stdlib/src/collections/optional.mojo
  stdlib/src/memory/reference.mojo
  stdlib/src/memory/unsafe_pointer.mojo
  stdlib/src/os/fstat.mojo
  stdlib/src/pathlib/path.mojo
  stdlib/src/utils/index.mojo
  stdlib/src/utils/inlined_string.mojo
  stdlib/src/utils/static_tuple.mojo
  stdlib/src/utils/stringref.mojo
  stdlib/src/utils/variant.mojo
Due: mojo-format, check-license

[KGEN] Drop the result types on `!co.routine` (#39325)
  stdlib/src/builtin/coroutine.mojo
Due: mojo-format, check-license

[External] [mojo-stdlib] Used explicit str in `_location.mojo` (#39536)
  stdlib/src/builtin/_location.mojo
Due: mojo-format, check-license

[******][GPU] Implement powfi function that does not go through llvm (#39110)
  stdlib/src/builtin/simd.mojo
Due: mojo-format, check-license

[Docs] Free memory in file read example (#39343)
  stdlib/src/builtin/file.mojo
Due: mojo-format, check-license

[stdlib] Migrating memory.mojo use cases from Pointer -> UnsafePointer (#39341)
  stdlib/src/memory/memory.mojo
Due: mojo-format, check-license

[External] [stdlib] Enhance Handling of Infinity and NaN in `assert_almost_equal` (#39452)
  stdlib/src/testing/testing.mojo
  stdlib/src/utils/_numerics.mojo
  stdlib/test/testing/test_assertion.mojo
  stdlib/test/utils/test_numerics.mojo
Due: mojo-format, check-license

[External] [mojo-stdlib] Used explicit str in `testing.mojo` (#39541)
  stdlib/src/testing/testing.mojo
Due: mojo-format, check-license

[External] [stdlib] add in-place bitwise for `Bool` (#39461)
  stdlib/src/builtin/bool.mojo
  stdlib/test/builtin/test_bool.mojo
Due: mojo-format, check-license

[******] Use reversed(range(...)) to visit range in reverse, NFC (#39115)
  stdlib/src/utils/stringref.mojo
Due: mojo-format, check-license

[Docs] Fix code example.
  docs/manual/types.ipynb
Due: spellcheck-notebook

[stdlib] Fix using wrong variable in `test_float_literal`
  stdlib/test/builtin/test_float_literal.mojo
Due: mojo-format, check-license

[External] [stdlib] Add `Dict.get(key) -> Optional[T]` and `Dict.get(key, default) -> T` methods (#39462)
  docs/changelog.md
  stdlib/src/collections/dict.mojo
  stdlib/test/collections/test_dict.mojo
Due: mojo-format, check-license

[mojo-stdlib] Move reference.mojo off deprecated `-> Self` init syntax. (#39237)
  stdlib/src/memory/reference.mojo
Due: mojo-format, check-license

[External] [stdlib] [bugfix] Make memcmp function robust against overflow and provide correct SIMD implementation (#39463)
  stdlib/src/memory/memory.mojo
  stdlib/test/memory/test_memory.mojo
Due: mojo-format, check-license

[SDLC] Add mojo proposals to Copybara take 2 (#39277)
  proposals/README.md
  proposals/byte-as-uint8.md
  proposals/inferred-parameters.md
  proposals/lifetimes-and-provenance.md
  proposals/lifetimes-keyword-renaming.md
  proposals/mojo-and-dynamism.md
  proposals/project-manifest-and-build-tool.md
  proposals/remove-let-decls.md
  proposals/value-ownership.md
Due: none

[tools] Make the pre-commit format python files too
  .pre-commit-config.yaml
  examples/lit.cfg.py
Due: check-license

Path conditions:
  mojo-format: any of: \.(mojo|ðŸ”¥)$
  check-license: any of: \.(mojo|ðŸ”¥|py)$
  spellcheck-notebook: any of: \.ipynb$
