Repository modularml/mojo: changes, and which pre-commit hooks are due for each by the changed paths.
All: mojo-format, check-license

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      - id: mojo-format
        name: mojo-format
        entry: mojo format
        language: system
        files: '\.(mojo|ðŸ”¥)$'
        stages: [commit]
      - id: check-docstrings
        name: check-docstrings
        entry: python3 ./stdlib/scripts/check-docstrings.py
        language: system
        pass_filenames: false
        stages: [commit]
      - id: check-license
        name: check-license
        entry: mojo stdlib/scripts/check_licenses.mojo
        language: system
        files: '\.(mojo|ðŸ”¥|py)$'
        stages: [commit]
  - repo: https://github.com/igorshubovych/markdownlint-cli
    rev: v0.40.0
    hooks:
    - id: markdownlint
      args: ['--config', 'stdlib/scripts/.markdownlint.yaml', '--fix']
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.8.0
    hooks:
      - id: ruff
        args: [--fix]
      - id: ruff-format

fix(config): update environment folder name for test suite
  Mojo/test/mojo-parser/lit.cfg.py
Due: check-license

docs(parser-debugging): update all KGEN paths to Mojo
  Mojo/docs/compiler/manual/ParserDebugging.md
Due: none

docs(post-parser-debugging): update KGEN path to Mojo
  Mojo/docs/compiler/manual/PostParserDebugging.md
Due: none

docs(compiletimeprofiling): update path to Mojo
  Mojo/docs/compiler/manual/CompileTimeProfiling.md
Due: none

docs(MojoNotes.md): update mlir path with Mojo/test/kgen
  Mojo/docs/compiler/manual/MojoNotes.md
Due: none

docs(MojoREPL): update KGEN to Mojo
  Mojo/docs/compiler/overviews/MojoREPL.md
Due: none

update KGEN to Mojo
  Mojo/docs/compiler/overviews/LSPParserInteraction.md
Due: none

docs(MojoLSP.md): update KGEN path to Mojo
  Mojo/docs/compiler/overviews/MojoLSP.md
Due: none

fix(readme): fix documentation to follow linting rule of max=80 characters per line
  Mojo/docs/compiler/README.md
Due: none

docs(readme.md): update KGEN path to Mojo
  Mojo/test/mojo-integration/extern-c-abi/README.md
Due: none

chore: format docs to align with linting rules
  Mojo/docs/compiler/README.md
Due: none

fix KGEN paths skipped
  Mojo/docs/compiler/manual/ParserDebugging.md
Due: none

fix(docs): update ParseDebugging.md docs with the current Debugging.h
  Mojo/docs/compiler/manual/ParserDebugging.md
Due: none

[stdlib] Fix import ordering in assert_aborts
  Mojo/stdlib/std/testing/assert_aborts.mojo
Due: mojo-format, check-license

Apply suggestion from @alisterburt
  Mojo/stdlib/test/python/test_python_cpython.mojo
Due: mojo-format, check-license

Update Mojo/stdlib/test/python/test_python_cpython.mojo
  Mojo/stdlib/test/python/test_python_cpython.mojo
Due: mojo-format, check-license

docs(parser-debugging): update outdated codeblock
  Mojo/docs/compiler/manual/ParserDebugging.md
Due: none

Update comment for remote debug session attachment
  Mojo/docs/compiler/manual/ParserDebugging.md
Due: none

[stdlib] Use `assert_false` in the null-handle test
  Mojo/docs/site/nightly-changelog.md
  Mojo/stdlib/std/ffi/__init__.mojo
  Mojo/stdlib/test/sys/test_dlhandle.mojo
Due: mojo-format, check-license

Update Mojo/stdlib/std/ffi/__init__.mojo
  Mojo/stdlib/std/ffi/__init__.mojo
Due: mojo-format, check-license

[stdlib] Destroy the handle explicitly in the null-handle test
  Mojo/stdlib/test/sys/test_dlhandle.mojo
Due: mojo-format, check-license

[stdlib] Tidy the null-handle test
  Mojo/stdlib/test/sys/test_dlhandle.mojo
Due: mojo-format, check-license

[stdlib] Add unicode codepoints decoding (UTF-32 as well)
  Mojo/docs/site/nightly-changelog.md
  Mojo/stdlib/std/collections/string/_unicode.mojo
  Mojo/stdlib/std/collections/string/codepoint.mojo
  Mojo/stdlib/std/collections/string/string.mojo
  Mojo/stdlib/test/collections/string/test_unicode.mojo
Due: mojo-format, check-license

Update Mojo/docs/site/nightly-changelog.md
  Mojo/docs/site/nightly-changelog.md
Due: none

[stdlib] Add UTF-16 decoding
  Mojo/docs/site/nightly-changelog.md
  Mojo/stdlib/std/collections/string/_unicode.mojo
  Mojo/stdlib/std/collections/string/_utf16.mojo
  Mojo/stdlib/std/collections/string/string.mojo
  Mojo/stdlib/test/collections/string/test_utf16.mojo
Due: mojo-format, check-license

[stdlib] Fix `exp` flushing subnormal results to zero and overflowing early
  Mojo/docs/site/nightly-changelog.md
  Mojo/stdlib/std/math/math.mojo
  Mojo/stdlib/test/math/test_exp.mojo
  Mojo/stdlib/test/math/test_ldexp.mojo
Due: mojo-format, check-license

[MAX] Instrument speculative-decoding and FLUX.2 models with profile_scope
  docs/max/nightly-changelog.md
  max/python/max/graph/__init__.py
  max/python/max/graph/graph.py
  max/python/max/pipelines/architectures/flux2/components/denoise_compute.py
  max/python/max/pipelines/architectures/flux2/components/denoise_compute_fbcache.py
  max/python/max/pipelines/architectures/flux2/components/denoiser.py
  max/python/max/pipelines/architectures/flux2/components/image_encoder.py
  max/python/max/pipelines/architectures/flux2/components/text_encoder.py
  max/python/max/pipelines/architectures/flux2/components/vae_decoder.py
  max/python/max/pipelines/architectures/unified_eagle_llama3/unified_eagle_llama3.py
  max/python/max/pipelines/architectures/unified_mtp_gemma4/unified_mtp_gemma4.py
  max/tests/integration/architectures/unified_eagle_llama/test_graph_construction.py
  max/tests/tests/graph/test_graph.py
Due: check-license

[MAX] Stop clearing Inkling's conv-state slot on every request admission
  max/python/max/pipelines/architectures/inkling/batch_processor.py
  max/python/max/pipelines/architectures/inkling/inkling.py
  max/python/max/pipelines/architectures/inkling/layers/attention.py
  max/python/max/pipelines/architectures/inkling/layers/short_convolution.py
  max/python/max/pipelines/architectures/inkling/model.py
  max/python/max/pipelines/architectures/inkling/state_cache.py
  max/python/max/pipelines/architectures/unified_mtp_inkling/batch_processor.py
  max/python/max/pipelines/architectures/unified_mtp_inkling/inkling_mtp.py
  max/python/max/pipelines/architectures/unified_mtp_inkling/model.py
  max/python/max/pipelines/architectures/unified_mtp_inkling/unified_mtp_inkling.py
Due: check-license

[Kernels] Write EP rows directly into the final expert layout
  max/kernels/src/shmem/ep_comm.mojo
  max/python/max/nn/comm/ep/ep_manager.py
Due: mojo-format, check-license

[mojo-lang] Suggest self.x for var-less x if a struct field
  Mojo/lib/MojoParser/ExprNodes.cpp
  Mojo/test/mojo-parser/decls/implicit_var_decl.mojo
Due: mojo-format, check-license

[mojo-lang] Resolve bytecode LinkDeps from the importer file's loc
  Mojo/lib/MojoParser/SharedState.cpp
  Mojo/test/mojo-integration/precompile_dependency_via_import_loc.mojo
Due: mojo-format, check-license

[Kernels][NFC] Key the NVFP4 stage tuning on (N, K, regime)
  max/kernels/src/linalg/matmul/gpu/sm100_structured/grouped_block_scaled_1d1d/dispatch.mojo
Due: mojo-format, check-license

[Kernels] Tune decode pipeline stages for a grouped NVFP4 Inkling shape
  max/kernels/src/linalg/matmul/gpu/sm100_structured/grouped_block_scaled_1d1d/dispatch.mojo
  max/kernels/test/gpu/linalg/test_grouped_matmul_nvfp4_dispatch.mojo
Due: mojo-format, check-license

[Mojo] Add an upper bound for inlining apply ops
  Mojo/include/Mojo/KGENDialect/ParameterEvaluator.h
  Mojo/lib/KGENDialect/ParameterEvaluator.cpp
  Mojo/lib/Transforms/ApplyInliner.cpp
  Mojo/test/kgen/transforms/apply-inliner.mlir
  Mojo/test/mojo-integration/comptime_ternary_recursion.mojo
  Mojo/test/mojo-integration/elaboration_error/elaboration_error_recursion4.mojo
Due: mojo-format, check-license

[GraphCompiler][MAX] Add adv-fusion regression targets across integration suites
  max/tests/integration/graph/BUILD.bazel
  max/tests/integration/graph/fusion_utils.py
  max/tests/integration/graph/test_canonical_fused_graph.py
  max/tests/integration/graph/test_causal_conv1d_channels_last.py
  max/tests/integration/graph/test_compile_config.py
  max/tests/integration/graph/test_conv.py
  max/tests/integration/graph/test_custom_kernel_validation.py
  max/tests/integration/graph/test_custom_op_parameters.py
  max/tests/integration/graph/test_elementwise_fusion.py
  max/tests/integration/graph/test_epilogue_fusion.py
  max/tests/integration/graph/test_fold.py
  max/tests/integration/graph/test_gated_delta_ops.py
  max/tests/integration/graph/test_mutable_load_fusion.py
  max/tests/integration/graph/test_nonzero.py
  max/tests/integration/graph/test_parallel.py
  max/tests/integration/graph/test_static_scaled_fp8_quant_fusion.py
  max/tests/integration/graph/test_tile.py
  max/tests/integration/graph/test_typical_llm_snifftest.py
Due: check-license

[GraphCompiler] Support mo.parallel under the new fusion system
  max/tests/integration/graph/test_parallel.py
Due: check-license

[GraphCompiler] Support collective ops in mo.parallel under the new fusion system
  max/tests/integration/graph/test_custom_kernel_validation.py
  max/tests/integration/graph/test_gated_delta_ops.py
Due: check-license

[Kernels] DevicePointer: Thread Engine through sm100_structured default matmul plumbing
  max/kernels/src/linalg/matmul/gpu/sm100_structured/default/dispatch.mojo
  max/kernels/src/linalg/matmul/gpu/sm100_structured/default/matmul.mojo
  max/kernels/src/linalg/matmul/gpu/sm100_structured/default/matmul_kernels.mojo
  max/kernels/src/linalg/matmul/gpu/sm100_structured/structured_kernels/output_writer.mojo
  max/kernels/src/linalg/matmul/gpu/sm100_structured/structured_kernels/tile_scheduler_splitk.mojo
  max/kernels/src/linalg/matmul/gpu/tile_scheduler_splitk.mojo
Due: mojo-format, check-license
