Repository modularml/mojo: changes, and which pre-commit hooks are due for each by the changed paths.
All: mojo-format, check-license

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      - id: mojo-format
        name: mojo-format
        entry: mojo format
        language: system
        files: '\.(mojo|ðŸ”¥)$'
        stages: [commit]
      - id: check-docstrings
        name: check-docstrings
        entry: python3 ./stdlib/scripts/check-docstrings.py
        language: system
        pass_filenames: false
        stages: [commit]
      - id: check-license
        name: check-license
        entry: mojo stdlib/scripts/check_licenses.mojo
        language: system
        files: '\.(mojo|ðŸ”¥|py)$'
        stages: [commit]
  - repo: https://github.com/igorshubovych/markdownlint-cli
    rev: v0.40.0
    hooks:
    - id: markdownlint
      args: ['--config', 'stdlib/scripts/.markdownlint.yaml', '--fix']
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.8.0
    hooks:
      - id: ruff
        args: [--fix]
      - id: ruff-format

[mojo-compiler] not conformance
  Mojo/docs/site/nightly-changelog.md
  Mojo/lib/MojoParser/DeclResolution.cpp
  Mojo/proposals/where_clauses.md
  Mojo/stdlib/std/traits/deinitable.mojo
  Mojo/test/kgen-doc/mojo_doc_constraints.mojo
  Mojo/test/mojo-parser/decls/never_conforming_no_synthesis.mojo
  Mojo/test/mojo-parser/decls/never_conforming_positive_controls.mojo
  Mojo/test/mojo-parser/decls/not_conformance.mojo
  Mojo/test/mojo-parser/decls/not_conformance_errors.mojo
  Mojo/test/mojo-parser/decls/struct_conditional_trait_conformance_duplicate_errors.mojo
  Mojo/test/mojo-parser/decls/traits_errors.mojo
  Mojo/test/mojo-parser/explicit_destroy_parse_errors.mojo
  Mojo/tools/mblack/src/mblack/linegen.py
  Mojo/tools/mblack/tests/test_not_conformance.py
Due: mojo-format, check-license

[mojo-compiler] not-conformance else message
  Mojo/docs/site/nightly-changelog.md
  Mojo/lib/MojoParser/DeclResolution.cpp
  Mojo/lib/MojoParser/Signatures.cpp
  Mojo/lib/MojoParser/Signatures.h
  Mojo/proposals/where_clauses.md
  Mojo/test/mojo-parser/decls/not_conformance.mojo
  Mojo/test/mojo-parser/decls/not_conformance_errors.mojo
  Mojo/test/mojo-parser/explicit_destroy_errors.mojo
  Mojo/tools/mblack/src/mblack/linegen.py
  Mojo/tools/mblack/src/mblib2to3/Grammar.txt
  Mojo/tools/mblack/tests/test_not_conformance.py
Due: mojo-format, check-license

[docs] Initial audit for MAX 26.6 notes from Claude skill
  docs/releases/v26.6.md
Due: none

[docs] Reorganize the existing 26.6 release notes
  docs/releases/v26.6.md
Due: none

[KVCache] Reclaim abandoned tiered-connector disk offload directories
  docs/max/nightly-changelog.md
  max/python/max/pipelines/kv_cache/connectors/_offload_dir.py
  max/python/max/pipelines/kv_cache/connectors/rust_tier_connector.py
  max/tests/integration/kv_cache/test_kv_offload_dir.py
  max/tests/integration/kv_cache/test_kv_offload_warning.py
Due: check-license

[stdlib] Bind Parameter Values
  Mojo/lib/MojoParser/ClosureEmitter.cpp
  Mojo/lib/MojoParser/ClosureEmitter.h
  Mojo/lib/MojoParser/DeclResolution.cpp
  Mojo/lib/MojoParser/ExprConversions.cpp
  Mojo/test/mojo-integration/ptr_wrapper_legacy_capture_dtype.mojo
Due: mojo-format, check-license

[Release] Pin lockfiles to Mojo 1.2.0.dev2026091205, MAX 26.7.0.dev2026091205
  Mojo/examples/life/pixi.lock
  Mojo/examples/operators/pixi.lock
  Mojo/examples/python-interop/pixi.lock
  Mojo/examples/testing/pixi.lock
  Mojo/pixi.lock
  bazel/mojo.MODULE.bazel
  docs/code/tile-tensor/layouts/pixi.lock
  docs/code/tile-tensor/tensors/pixi.lock
  max/examples/capi/pixi.lock
  max/examples/custom-models/pixi.lock
  max/examples/custom_ops/pixi.lock
  max/examples/gpu-block-and-warp/pixi.lock
  max/examples/gpu-functions/pixi.lock
  max/examples/gpu-intro/pixi.lock
  max/examples/layout_tensor/pixi.lock
  max/examples/layouts/pixi.lock
  max/examples/modules/pixi.lock
  max/examples/music_generation/pixi.lock
  max/examples/pytorch_custom_ops/pixi.lock
Due: none
