Repository modularml/mojo: changes, and which pre-commit hooks are due for each by the changed paths.
All: mojo-format, check-license, spellcheck-notebook

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      - id: mojo-format
        name: mojo-format
        entry: mojo format
        language: system
        files: '\.(mojo|ðŸ”¥)$'
        stages: [commit]
      - id: check-docstrings
        name: check-docstrings
        entry: python3 ./stdlib/scripts/check-docstrings.py
        language: system
        pass_filenames: false
        stages: [commit]
      - id: check-license
        name: check-license
        entry: mojo stdlib/scripts/check-licenses.mojo
        language: system
        files: '\.(mojo|ðŸ”¥|py)$'
        stages: [commit]
      - id: spellcheck-notebook
        name: Spellcheck Jupyter Notebook
        entry: ./stdlib/scripts/spellcheck-notebooks.sh
        language: python
        files: \.ipynb$
        additional_dependencies:
          - jupyter==1.0.0
          - codespell==2.2.6
          - nbformat==5.10.4

add setitem
  stdlib/src/utils/span.mojo
  stdlib/test/utils/test_span.mojo
Due: mojo-format, check-license

update
  stdlib/src/utils/span.mojo
Due: mojo-format, check-license

update docs
  stdlib/src/utils/span.mojo
Due: mojo-format, check-license

Updated to use more descriptive variable names
  stdlib/src/base64/base64.mojo
Due: mojo-format, check-license

Fix last typos
  stdlib/src/builtin/hash.mojo
  stdlib/src/utils/inlined_string.mojo
Due: mojo-format, check-license

Fix typo
  stdlib/src/collections/inline_list.mojo
Due: mojo-format, check-license

Remove test for issue 698
  stdlib/src/utils/static_tuple.mojo
  stdlib/test/collections/test_inline_list.mojo
Due: mojo-format, check-license

Add better tests
  stdlib/test/collections/test_inline_list.mojo
Due: mojo-format, check-license

Put back the compile-time check
  stdlib/src/builtin/simd.mojo
  stdlib/src/utils/static_tuple.mojo
Due: mojo-format, check-license

[stdlib] Support testing examples with pre-release versions
  examples/lit.cfg.py
Due: check-license

[stdlib] Replaced ._as_ptr() with .unsafe_ptr() in String and StringLiteral's __lt__-methods. Also updated the tests to use the dunder methods directly (instead of their operators).
  stdlib/src/builtin/string.mojo
  stdlib/src/builtin/string_literal.mojo
  stdlib/test/builtin/test_string.mojo
  stdlib/test/builtin/test_string_literal.mojo
Due: mojo-format, check-license

add Comparable trait conform FloatLiteral, IntLiteral, Int, and Set
  stdlib/src/builtin/comparable.mojo
  stdlib/src/builtin/float_literal.mojo
  stdlib/src/builtin/int.mojo
  stdlib/src/builtin/int_literal.mojo
  stdlib/src/collections/set.mojo
Due: mojo-format, check-license

[stdlib] Refactor SIMD tests to directly call __floordiv__
  stdlib/test/builtin/test_simd.mojo
Due: mojo-format, check-license

[stdlib] Make `FloatLiteral.__str__` implementation use explicit conversions
  stdlib/src/builtin/float_literal.mojo
Due: mojo-format, check-license

[mojo-stdlib] Move `SIMD.__init__` off of `-> Self`. (#39235)
  stdlib/src/builtin/float_literal.mojo
  stdlib/src/builtin/simd.mojo
  stdlib/test/builtin/test_float_literal.mojo
Due: mojo-format, check-license

[stdlib] Migrate coroutine.mojo Pointer -> UnsafePointer
  stdlib/src/builtin/coroutine.mojo
Due: mojo-format, check-license

[stdlib] Return `IntLiteral` from `simdbitwidth` and `simdbytewidth` in `sys.info`
  stdlib/src/sys/info.mojo
Due: mojo-format, check-license

Fix links to Mojo get started guide
  docs/changelog-released.md
  docs/faq.md
  docs/index.md
  docs/manual/basics.ipynb
  docs/manual/get-started.md
  docs/roadmap.md
Due: spellcheck-notebook

[stdlib] Make the `IntLiteral.__str__` implementation use explicit conversions
  stdlib/src/builtin/int_literal.mojo
Due: mojo-format, check-license

[mojo-examples] mandelbrot migrate from `Tensor` to custom `Matrix`
  examples/mandelbrot.mojo
  examples/notebooks/Mandelbrot.ipynb
Due: mojo-format, check-license, spellcheck-notebook

[mojo-examples] reduce.mojo: Migrate from `Tensor` to `Buffer`
  examples/reduce.mojo
Due: mojo-format, check-license

[stdlib] Change `Bool` to be backed by an `i1` (NFC)
  stdlib/src/builtin/bool.mojo
  stdlib/src/builtin/simd.mojo
  stdlib/src/utils/index.mojo
Due: mojo-format, check-license

[External] [docs] `entr` and pre commit issue (#39652)
  stdlib/docs/development.md
Due: none

[External] [stdlib] Modify SIMD's tests to directly invoke __rmod__ (#39641)
  stdlib/test/builtin/test_simd.mojo
Due: mojo-format, check-license

[External] [stdlib] Add or operator support to Dict (#39653)
  stdlib/src/collections/dict.mojo
  stdlib/test/collections/test_dict.mojo
Due: mojo-format, check-license

[External] [stdlib] handle escape characters with `repr()` (#39457)
  stdlib/src/builtin/hex.mojo
  stdlib/src/builtin/string.mojo
  stdlib/src/builtin/string_literal.mojo
  stdlib/test/builtin/test_string.mojo
  stdlib/test/builtin/test_string_literal.mojo
Due: mojo-format, check-license

[stdlib] Replaced `Variant.get[T]()` with `__refitem__`
  docs/changelog.md
  stdlib/src/collections/optional.mojo
  stdlib/src/utils/inlined_string.mojo
  stdlib/src/utils/variant.mojo
  stdlib/test/utils/test_variant.mojo
Due: mojo-format, check-license

Fix links for moved files
  docs/manual/get-started.md
Due: none

[stdlib] Mark `Arc` as `@register_passable`
  stdlib/src/builtin/object.mojo
  stdlib/src/memory/arc.mojo
Due: mojo-format, check-license

[stdlib] Move `sort` to builtin
  docs/changelog.md
  stdlib/src/builtin/sort.mojo
  stdlib/src/builtin/swap.mojo
  stdlib/test/builtin/test_sort.mojo
  stdlib/test/builtin/test_sort_issue_1018.mojo
  stdlib/test/builtin/test_swap.mojo
Due: mojo-format, check-license

[mojo][debugger] Update changelog for enabling breakpoints on inlined callsites
  docs/changelog.md
Due: none

[stdlib] Return `IntLiteral` from several `sys.info` functions
  stdlib/src/memory/unsafe.mojo
  stdlib/src/sys/info.mojo
Due: mojo-format, check-license

Fix docsite by coding code
  stdlib/src/builtin/bool.mojo
Due: mojo-format, check-license

[External] [stdlib] Remove `__and__`/`__or__`/... from `Optional` and `OptionalReg` (#39456)
  stdlib/src/collections/optional.mojo
Due: mojo-format, check-license

[stdlib] Bump compiler version to 2024.5.1002
  stdlib/COMPATIBLE_COMPILER_VERSION
Due: none
