Repository modularml/mojo: changes, and which pre-commit hooks are due for each by the changed paths.
All: mojo-format, check-license, spellcheck-notebook

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      - id: mojo-format
        name: mojo-format
        entry: mojo format
        language: system
        files: '\.(mojo|ðŸ”¥)$'
        stages: [commit]
      - id: check-docstrings
        name: check-docstrings
        entry: python3 ./stdlib/scripts/check-docstrings.py
        language: system
        pass_filenames: false
        stages: [commit]
      - id: check-license
        name: check-license
        entry: mojo stdlib/scripts/check-licenses.mojo
        language: system
        files: '\.(mojo|ðŸ”¥|py)$'
        stages: [commit]
      - id: spellcheck-notebook
        name: Spellcheck Jupyter Notebook
        entry: ./stdlib/scripts/spellcheck-notebooks.sh
        language: python
        files: \.ipynb$
        additional_dependencies:
          - jupyter==1.0.0
          - codespell==2.2.6
          - nbformat==5.10.4

Add unit tests for the SIMD __rfloordiv__() method
  stdlib/src/builtin/simd.mojo
  stdlib/test/builtin/test_simd.mojo
Due: mojo-format, check-license

Update testing.ipynb
  docs/tools/testing.ipynb
Due: spellcheck-notebook

[stdlib] we need to comment all the problematic test code as the error is at compile time
  stdlib/test/builtin/test_float_literal.mojo
Due: mojo-format, check-license

[tools] Make the pre-commit format python files too
  .pre-commit-config.yaml
  examples/lit.cfg.py
Due: check-license

[stdlib] remove uses of StaticTuple where possible
  stdlib/src/builtin/hash.mojo
  stdlib/src/builtin/simd.mojo
  stdlib/src/builtin/string.mojo
  stdlib/src/collections/vector.mojo
  stdlib/src/os/_linux_aarch64.mojo
  stdlib/src/os/_linux_x86.mojo
  stdlib/src/os/_macos.mojo
  stdlib/src/os/os.mojo
  stdlib/src/utils/static_tuple.mojo
Due: mojo-format, check-license

[mojo-stdlib] Add b16encode and b16decode to base64 module
  .gitignore
  stdlib/src/base64/__init__.mojo
  stdlib/src/base64/base64.mojo
  stdlib/test/base64/test_base64.mojo
Due: mojo-format, check-license

[stdlib] Allow `InlinedFixedVector` to work with `CollectionElement`
  stdlib/src/collections/vector.mojo
Due: mojo-format, check-license

formatting
  stdlib/test/builtin/test_string.mojo
Due: mojo-format, check-license

Add `InlineList`
  stdlib/src/collections/__init__.mojo
  stdlib/src/collections/inline_list.mojo
  stdlib/src/utils/static_tuple.mojo
  stdlib/test/collections/test_inline_list.mojo
Due: mojo-format, check-license

[stdlib] Add `InlineList` struct (stack-allocated List)
  stdlib/src/collections/__init__.mojo
  stdlib/src/collections/inline_list.mojo
  stdlib/src/utils/static_tuple.mojo
  stdlib/test/collections/test_inline_list.mojo
Due: mojo-format, check-license

[stdlib] Modify SIMD's tests to directly invoke __rmod__
  stdlib/test/builtin/test_simd.mojo
Due: mojo-format, check-license

[mojo-stdlib] Remove `Reference.unsafe_bitcast`. (#39389)
  stdlib/src/collections/set.mojo
  stdlib/src/memory/reference.mojo
  stdlib/src/utils/variant.mojo
Due: mojo-format, check-license

[stdlib] Publish Arc (#39385)
  stdlib/src/builtin/object.mojo
  stdlib/src/memory/__init__.mojo
  stdlib/src/memory/arc.mojo
  stdlib/test/memory/test_arc.mojo
Due: mojo-format, check-license

Revert "[stdlib] Add move constructor to `Atomic` (#36718)" (#39147)
  stdlib/src/os/atomic.mojo
  stdlib/test/os/test_atomic.mojo
Due: mojo-format, check-license

[mojo-stdlib] Remove `Reference.get_legacy_pointer`. (#39401)
  stdlib/src/builtin/object.mojo
  stdlib/src/memory/reference.mojo
  stdlib/src/memory/unsafe.mojo
  stdlib/src/sys/ffi.mojo
  stdlib/src/utils/static_tuple.mojo
Due: mojo-format, check-license

[stdlib] Unified getters of pointer to contiguous collection of memory (#39271)
  docs/changelog.md
  examples/mandelbrot.mojo
  examples/notebooks/Mandelbrot.ipynb
  stdlib/src/base64/base64.mojo
  stdlib/src/builtin/error.mojo
  stdlib/src/builtin/file.mojo
  stdlib/src/builtin/hex.mojo
  stdlib/src/builtin/int.mojo
  stdlib/src/builtin/io.mojo
  stdlib/src/builtin/string.mojo
  stdlib/src/builtin/string_literal.mojo
  stdlib/src/collections/list.mojo
  stdlib/src/memory/arc.mojo
  stdlib/src/os/_linux_aarch64.mojo
  stdlib/src/os/_linux_x86.mojo
  stdlib/src/os/_macos.mojo
  stdlib/src/os/env.mojo
  stdlib/src/os/os.mojo
  stdlib/src/python/_cpython.mojo
  stdlib/src/sys/ffi.mojo
  stdlib/src/sys/info.mojo
  stdlib/src/utils/inlined_string.mojo
  stdlib/src/utils/stringref.mojo
  stdlib/test/builtin/test_hash.mojo
  stdlib/test/collections/test_array.mojo
  stdlib/test/utils/test_inlined_string.mojo
Due: mojo-format, check-license, spellcheck-notebook

[stdlib] Migrating ffi.mojo use cases from Pointer -> UnsafePointer
  stdlib/src/sys/ffi.mojo
Due: mojo-format, check-license

[mojo-tooling] Add support for erroring out on invalid doc strings
  docs/changelog.md
  stdlib/docs/style-guide.md
  stdlib/scripts/check-docstrings.py
Due: check-license

[mojo-stdlib] Replace VariadicPack.get_element with refitem
  stdlib/src/builtin/builtin_list.mojo
  stdlib/src/builtin/tuple.mojo
Due: mojo-format, check-license

[mojo-stdlib][mojo-tooling] Add a new decorator to hide decls from doc gen
  docs/changelog.md
  stdlib/src/builtin/_documentation.mojo
Due: mojo-format, check-license

[External] [stdlib] Add `bool` for `Boolable`. (#39454)
  stdlib/src/builtin/bool.mojo
  stdlib/test/builtin/test_bool.mojo
Due: mojo-format, check-license

[External] [mojo-stdlib] Add `divmod(Int, Int)` to builtins (#39382)
  docs/changelog.md
  stdlib/src/builtin/divmod.mojo
  stdlib/src/builtin/int.mojo
  stdlib/test/builtin/test_int.mojo
Due: mojo-format, check-license

[External] [stdlib] Remove `Bool` constructor from `SIMD` (#39459)
  stdlib/src/builtin/bool.mojo
Due: mojo-format, check-license

[External] [stdlib] add in-place bitwise for `Bool` (#39461)
  stdlib/src/builtin/bool.mojo
  stdlib/test/builtin/test_bool.mojo
Due: mojo-format, check-license

[External] [stdlib] Use `reversed(range(...))` in more places (#39453)
  stdlib/src/builtin/builtin_list.mojo
  stdlib/src/utils/stringref.mojo
Due: mojo-format, check-license

[External] [stdlib] Make the use of the unsafe constructor of List explicit (#39465)
  stdlib/src/builtin/file.mojo
  stdlib/src/builtin/string.mojo
  stdlib/src/collections/list.mojo
  stdlib/test/collections/test_list.mojo
Due: mojo-format, check-license

[External] [stdlib] Add unit tests for the SIMD __rfloordiv__() method and constraint check on the element types (#39451)
  stdlib/src/builtin/simd.mojo
  stdlib/test/builtin/test_simd.mojo
Due: mojo-format, check-license

[External] [docs] Two helpful documentation additions (#39480)
  docs/manual/decorators/index.md
  docs/manual/index.md
  docs/tools/testing.ipynb
Due: spellcheck-notebook

[Docs] Fix code example.
  docs/manual/types.ipynb
Due: spellcheck-notebook

Delete obsolete front matter
  docs/changelog-released.md
  docs/community.md
  docs/faq.md
  docs/manual/basics.ipynb
  docs/manual/decorators/always-inline.ipynb
  docs/manual/decorators/index.md
  docs/manual/decorators/nonmaterializable.ipynb
  docs/manual/decorators/parameter.ipynb
  docs/manual/decorators/register-passable.ipynb
  docs/manual/decorators/staticmethod.ipynb
  docs/manual/decorators/unroll.ipynb
  docs/manual/decorators/value.ipynb
  docs/manual/functions.ipynb
  docs/manual/index.md
  docs/manual/lifecycle/death.ipynb
  docs/manual/lifecycle/index.ipynb
  docs/manual/lifecycle/life.ipynb
  docs/manual/packages.md
  docs/manual/parameters/index.ipynb
  docs/manual/python/index.ipynb
  docs/manual/python/types.ipynb
  docs/manual/structs.ipynb
  docs/manual/traits.ipynb
  docs/manual/values/index.ipynb
  docs/manual/values/ownership.ipynb
  docs/manual/values/value-semantics.ipynb
  docs/manual/variables.ipynb
  docs/notebooks/index.md
  docs/roadmap.md
  docs/tools/debugging.ipynb
  docs/why-mojo.md
Due: spellcheck-notebook

Unify the install procedure for Mojo and MAX packages
  docs/manual/get-started.md
  docs/manual/get-started/images/mojo-playground.png
  docs/manual/get-started/index.md
  docs/manual/images/mojo-vscode.png
  docs/manual/index.md
Due: none

[External] [tools] Fix all typos found in #2295 (#39503)
  docs/changelog-released.md
  proposals/byte-as-uint8.md
  proposals/inferred-parameters.md
  stdlib/docs/development.md
  stdlib/scripts/check-licenses.mojo
  stdlib/src/builtin/_math.mojo
  stdlib/src/builtin/_startup.mojo
  stdlib/src/builtin/builtin_list.mojo
  stdlib/src/builtin/constrained.mojo
  stdlib/src/builtin/file.mojo
  stdlib/src/builtin/hash.mojo
  stdlib/src/builtin/hex.mojo
  stdlib/src/builtin/simd.mojo
  stdlib/src/builtin/string.mojo
  stdlib/src/collections/dict.mojo
  stdlib/src/collections/optional.mojo
  stdlib/src/memory/reference.mojo
  stdlib/src/memory/unsafe_pointer.mojo
  stdlib/src/os/fstat.mojo
  stdlib/src/pathlib/path.mojo
  stdlib/src/utils/index.mojo
  stdlib/src/utils/inlined_string.mojo
  stdlib/src/utils/static_tuple.mojo
  stdlib/src/utils/stringref.mojo
  stdlib/src/utils/variant.mojo
Due: mojo-format, check-license

[Docs] Edit contributed docs.
  docs/manual/decorators/index.md
  docs/tools/testing.ipynb
Due: spellcheck-notebook

[Docs] Add Mojo docstring style guide for stdlib.
  stdlib/docs/docstring-style-guide.md
  stdlib/docs/style-guide.md
Due: none

[External] [stdlib] Make `repr()` work with `DType` (#39511)
  stdlib/src/builtin/dtype.mojo
  stdlib/test/builtin/test_dtype.mojo
Due: mojo-format, check-license

[mojo] Update changelog with `@deprecated` decorator
  docs/changelog.md
Due: none

[External] [stdlib] [bugfix] Make memcmp function robust against overflow and provide correct SIMD implementation (#39463)
  stdlib/src/memory/memory.mojo
  stdlib/test/memory/test_memory.mojo
Due: mojo-format, check-license

[External] [stdlib] Add `Dict.get(key) -> Optional[T]` and `Dict.get(key, default) -> T` methods (#39462)
  docs/changelog.md
  stdlib/src/collections/dict.mojo
  stdlib/test/collections/test_dict.mojo
Due: mojo-format, check-license

[mojo-stdlib] Move OptionalReg off -> Self inits It was a weird hybrid, not sure how that could work.
  stdlib/src/collections/optional.mojo
Due: mojo-format, check-license

[External] [mojo-stdlib] Used explicit str in `_location.mojo` (#39536)
  stdlib/src/builtin/_location.mojo
Due: mojo-format, check-license
