Repository modularml/mojo: changes, and which pre-commit hooks are due for each by the changed paths.
All: mojo-format, check-license, spellcheck-notebook

mojo-format:
  name: mojo-format
  entry: mojo format
  language: system
  stages:
  - commit

check-license:
  name: check-license
  entry: mojo stdlib/scripts/check-licenses.mojo
  language: system
  stages:
  - commit

spellcheck-notebook:
  name: Spellcheck Jupyter Notebook
  entry: ./stdlib/scripts/spellcheck-notebooks.sh
  language: python
  additional_dependencies:
  - jupyter==1.0.0
  - codespell==2.2.6
  - nbformat==5.10.4

[External] [stdlib] Allow the use of `my_dict.__str__()` (#40047)
  docs/changelog.md
  stdlib/src/collections/dict.mojo
  stdlib/test/collections/test_dict.mojo
Due: mojo-format, check-license

[External] [stdlib] Allow the syntax `my_list.count(x)` (#40048)
  docs/changelog.md
  stdlib/src/collections/list.mojo
  stdlib/test/collections/test_list.mojo
Due: mojo-format, check-license

[stdlib] feature: Add `memcpy()` for `UnsafePointer[Scalar[_]]`
  docs/changelog.md
  stdlib/src/builtin/object.mojo
  stdlib/src/builtin/string.mojo
  stdlib/src/builtin/string_literal.mojo
  stdlib/src/memory/memory.mojo
  stdlib/src/utils/string_slice.mojo
  stdlib/test/memory/test_memory.mojo
Due: mojo-format, check-license

[External] [docs] Mojo Manual typo fixes (#40056)
  docs/manual/basics.ipynb
  docs/manual/functions.ipynb
  docs/manual/get-started.md
  docs/manual/lifecycle/death.ipynb
  docs/manual/packages.md
  docs/manual/structs.ipynb
  docs/manual/types.ipynb
  docs/manual/values/ownership.ipynb
  docs/tools/debugging.ipynb
  docs/why-mojo.md
Due: spellcheck-notebook

[External] [stdlib] Support for negative indexes in `List._reverse(start)` method and out of bound validation (#39464)
  stdlib/src/collections/list.mojo
  stdlib/test/collections/test_list.mojo
Due: mojo-format, check-license

[stdlib] Bump compatible compiler version to 2024.5.1619
  stdlib/COMPATIBLE_COMPILER_VERSION
Due: none

Add Indexer trait
  docs/changelog.md
  stdlib/src/builtin/bool.mojo
  stdlib/src/builtin/int.mojo
  stdlib/src/builtin/int_literal.mojo
  stdlib/src/builtin/simd.mojo
  stdlib/test/builtin/test_bool.mojo
  stdlib/test/builtin/test_int.mojo
  stdlib/test/builtin/test_int_literal.mojo
  stdlib/test/builtin/test_simd.mojo
Due: mojo-format, check-license

fix strip and add tests
  stdlib/src/utils/stringref.mojo
  stdlib/test/builtin/test_string.mojo
Due: mojo-format, check-license

fix
  stdlib/test/builtin/test_string.mojo
Due: mojo-format, check-license

refactor many casts with direct buffer access
  stdlib/src/builtin/string.mojo
Due: mojo-format, check-license

check for dual ++ and multiply sign without branching
  stdlib/src/builtin/string.mojo
  stdlib/test/builtin/test_string.mojo
Due: mojo-format, check-license

check for inf and nan
  stdlib/src/builtin/string.mojo
  stdlib/test/builtin/test_string.mojo
Due: mojo-format, check-license

[stdlib] Use built-in `max` and `min` functions (#38902)
  stdlib/src/builtin/hash.mojo
  stdlib/src/builtin/io.mojo
  stdlib/src/builtin/object.mojo
  stdlib/src/builtin/range.mojo
  stdlib/src/collections/list.mojo
  stdlib/src/utils/_serialize.mojo
  stdlib/src/utils/stringref.mojo
  stdlib/src/utils/variant.mojo
Due: mojo-format, check-license

[mojo-lsp] Add support for traits in DocumentSymbols (#38988)
  docs/changelog.md
Due: none

[External] [stdlib] Enhance Handling of Infinity and NaN in `assert_almost_equal` (#38991)
  stdlib/src/testing/testing.mojo
  stdlib/src/utils/_numerics.mojo
  stdlib/test/testing/test_assertion.mojo
  stdlib/test/utils/test_numerics.mojo
Due: mojo-format, check-license

[docs] Add recent OSS contributions to changelog (#39064)
  docs/changelog.md
Due: none

[break-glass] Revert "[External] [stdlib] Enhance Handling of Infinity and NaN in `assert_almost_equal`" (#39024)
  stdlib/src/testing/testing.mojo
  stdlib/src/utils/_numerics.mojo
  stdlib/test/testing/test_assertion.mojo
  stdlib/test/utils/test_numerics.mojo
Due: mojo-format, check-license

[docs] Update docs about telemetry for 24.3 (#38356)
  docs/faq.md
Due: none

[docs] Mention `min` and `max` built-in in changelog (#39030)
  docs/changelog.md
Due: none

[stdlib] Narrow disabling of test in `test_string.mojo` (#38209)
  stdlib/test/builtin/test_string.mojo
Due: mojo-format, check-license

[******][mojo-stdlib] Implement generic `floor` method in `math` (#38777)
  docs/changelog.md
  stdlib/src/builtin/_math.mojo
  stdlib/src/builtin/float_literal.mojo
  stdlib/src/builtin/int.mojo
  stdlib/src/builtin/int_literal.mojo
  stdlib/src/builtin/simd.mojo
  stdlib/src/time/time.mojo
  stdlib/test/builtin/test_float_literal.mojo
  stdlib/test/builtin/test_int.mojo
  stdlib/test/builtin/test_int_literal.mojo
  stdlib/test/builtin/test_simd.mojo
Due: mojo-format, check-license

[******][mojo-stdlib] Move `clamp` from `math` to `simd` (#38932)
  docs/changelog.md
  stdlib/src/builtin/simd.mojo
  stdlib/test/builtin/test_simd.mojo
Due: mojo-format, check-license

[stdlib] Use built-in `abs` function (#38903)
  stdlib/src/builtin/hex.mojo
  stdlib/src/builtin/int.mojo
  stdlib/src/builtin/range.mojo
  stdlib/src/builtin/string.mojo
  stdlib/src/testing/testing.mojo
Due: mojo-format, check-license

[mojo-stdlib] Implement `FloatLiteral.__floordiv__` (#39061)
  stdlib/src/builtin/float_literal.mojo
  stdlib/test/builtin/test_float_literal.mojo
Due: mojo-format, check-license

[mojo-stdlib] Fix aarch64 config (#38980)
  stdlib/test/sys/lit.local.cfg
Due: none

[******][mojo-stdlib] Remove `math.round_half{up,down}` (#38936)
  docs/changelog.md
Due: none

[Docs] Update release changelog for 24.3. (#38900)
  docs/changelog-released.md
  docs/changelog.md
Due: none

[External] [stdlib] Allow `String()` to be created from `UInt8` ptr and list too (#38859)
  stdlib/src/builtin/file.mojo
  stdlib/src/builtin/string.mojo
  stdlib/src/collections/dict.mojo
  stdlib/src/collections/list.mojo
Due: mojo-format, check-license

Internal commit
  stdlib/src/time/time.mojo
Due: mojo-format, check-license

[External] [stdlib] SIMD.shuffle with StaticIntTuple mask (#38832)
  stdlib/src/builtin/simd.mojo
  stdlib/test/builtin/test_simd.mojo
Due: mojo-format, check-license

[******][mojo-stdlib] Implement generic `ceil` method in `math` (#38807)
  docs/changelog.md
  stdlib/src/builtin/_math.mojo
  stdlib/src/builtin/float_literal.mojo
  stdlib/src/builtin/int.mojo
  stdlib/src/builtin/int_literal.mojo
  stdlib/src/builtin/simd.mojo
  stdlib/test/builtin/test_float_literal.mojo
  stdlib/test/builtin/test_int.mojo
  stdlib/test/builtin/test_int_literal.mojo
  stdlib/test/builtin/test_simd.mojo
Due: mojo-format, check-license

[External] [stdlib] Allow `StringRef` to work with both Int8 and UInt8 (#38989)
  stdlib/src/os/env.mojo
  stdlib/src/utils/stringref.mojo
Due: mojo-format, check-license

[External] [stdlib] Add `repr()` function and `Representable` trait (#38803)
  stdlib/src/builtin/int.mojo
  stdlib/src/builtin/repr.mojo
  stdlib/src/builtin/str.mojo
  stdlib/src/builtin/string.mojo
  stdlib/src/builtin/value.mojo
  stdlib/src/collections/dict.mojo
  stdlib/src/collections/list.mojo
  stdlib/test/builtin/test_int.mojo
  stdlib/test/builtin/test_repr.mojo
  stdlib/test/builtin/test_string.mojo
  stdlib/test/collections/test_dict.mojo
  stdlib/test/collections/test_list.mojo
Due: mojo-format, check-license

[******][mojo-stdlib] Move binary elementwise wrappers out of `math` (#38943)
  docs/changelog.md
Due: none

[docs] Add post-process to strip docs domain name from built docs (#39053)
  docs/manual/parameters/index.ipynb
Due: spellcheck-notebook

[External] [mojo-stdlib] Add `List.count(value)` method (#38915)
  stdlib/src/collections/list.mojo
  stdlib/test/collections/test_list.mojo
Due: mojo-format, check-license

[stdlib] Make `min` and `max` built-ins (#38901)
  examples/notebooks/RayTracing.ipynb
  stdlib/src/builtin/math.mojo
  stdlib/test/builtin/test_math.mojo
Due: mojo-format, check-license, spellcheck-notebook

[mojo-stdlib][Docs] Update changelog with `FloatLiteral.__floordiv__` fix (#39065)
  docs/changelog.md
Due: none

[KGEN] Move the `pop.coroutine.*` ops to the `co` dialect (NFC) (#39182)
  stdlib/src/builtin/coroutine.mojo
Due: mojo-format, check-license

Path conditions:
  mojo-format: any of: \.(mojo|ðŸ”¥)$
  check-license: any of: \.(mojo|ðŸ”¥|py)$
  spellcheck-notebook: any of: \.ipynb$
