Repository modularml/mojo: changes, and which pre-commit hooks are due for each by the changed paths.
All: mojo-format, check-license, spellcheck-notebook

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      - id: mojo-format
        name: mojo-format
        entry: mojo format
        language: system
        files: '\.(mojo|ðŸ”¥)$'
        stages: [commit]
      - id: check-docstrings
        name: check-docstrings
        entry: python3 ./stdlib/scripts/check-docstrings.py
        language: system
        pass_filenames: false
        stages: [commit]
      - id: check-license
        name: check-license
        entry: mojo stdlib/scripts/check-licenses.mojo
        language: system
        files: '\.(mojo|ðŸ”¥|py)$'
        stages: [commit]
      - id: spellcheck-notebook
        name: Spellcheck Jupyter Notebook
        entry: ./stdlib/scripts/spellcheck-notebooks.sh
        language: python
        files: \.ipynb$
        additional_dependencies:
          - jupyter==1.0.0
          - codespell==2.2.6
          - nbformat==5.10.4

[stdlib] Bump compiler version to 2024.5.822
  stdlib/COMPATIBLE_COMPILER_VERSION
Due: none

[External] [mojo-stdlib] Used explicit str in `inlined_string.mojo` (#39540)
  stdlib/src/utils/inlined_string.mojo
Due: mojo-format, check-license

[stdlib] Migrating ffi.mojo use cases from Pointer -> UnsafePointer
  stdlib/src/sys/ffi.mojo
Due: mojo-format, check-license

[External] [stdlib] remove uses of StaticTuple where possible (#39559)
  stdlib/src/builtin/hash.mojo
  stdlib/src/builtin/simd.mojo
  stdlib/src/builtin/string.mojo
  stdlib/src/collections/vector.mojo
  stdlib/src/os/_linux_aarch64.mojo
  stdlib/src/os/_linux_x86.mojo
  stdlib/src/os/_macos.mojo
  stdlib/src/os/os.mojo
  stdlib/src/utils/static_tuple.mojo
Due: mojo-format, check-license

[External] [mojo-stdlib] Used explicit str in `string.mojo` (#39538)
  stdlib/src/builtin/string.mojo
Due: mojo-format, check-license

[mojo-stdlib] Remove `Reference.get_legacy_pointer`. (#39401)
  stdlib/src/builtin/object.mojo
  stdlib/src/memory/reference.mojo
  stdlib/src/memory/unsafe.mojo
  stdlib/src/sys/ffi.mojo
  stdlib/src/utils/static_tuple.mojo
Due: mojo-format, check-license

[mojo] Update changelog with `@deprecated` decorator
  docs/changelog.md
Due: none

[External] [mojo-stdlib] Used explicit str in `test_error.mojo` (#39550)
  stdlib/test/builtin/test_error.mojo
Due: mojo-format, check-license

[External] [stdlib] Add `bool` for `Boolable`. (#39454)
  stdlib/src/builtin/bool.mojo
  stdlib/test/builtin/test_bool.mojo
Due: mojo-format, check-license

[Docs] Edit contributed docs.
  docs/manual/decorators/index.md
  docs/tools/testing.ipynb
Due: spellcheck-notebook

[External] [stdlib] [bugfix] Make memcmp function robust against overflow and provide correct SIMD implementation (#39463)
  stdlib/src/memory/memory.mojo
  stdlib/test/memory/test_memory.mojo
Due: mojo-format, check-license

Revert "[stdlib] Add move constructor to `Atomic` (#36718)" (#39147)
  stdlib/src/os/atomic.mojo
  stdlib/test/os/test_atomic.mojo
Due: mojo-format, check-license

[Docs] Fix code example.
  docs/manual/types.ipynb
Due: spellcheck-notebook

[mojo-stdlib] Replace VariadicPack.get_element with refitem
  stdlib/src/builtin/builtin_list.mojo
  stdlib/src/builtin/tuple.mojo
Due: mojo-format, check-license

[External] [docs] Two helpful documentation additions (#39480)
  docs/manual/decorators/index.md
  docs/manual/index.md
  docs/tools/testing.ipynb
Due: spellcheck-notebook

[External] [mojo-stdlib] Used explicit str in `test_object.mojo` (#39543)
  stdlib/test/builtin/test_object.mojo
Due: mojo-format, check-license

[External] [mojo-stdlib] Used explicit str in `test_remove.mojo` (#39547)
  stdlib/test/os/test_remove.mojo
Due: mojo-format, check-license

[External] [mojo-stdlib] Used explicit str in `test_python_interop.mojo` (#39548)
  stdlib/test/python/test_python_interop.mojo
Due: mojo-format, check-license

[External] [stdlib] Make the use of the unsafe constructor of List explicit (#39465)
  stdlib/src/builtin/file.mojo
  stdlib/src/builtin/string.mojo
  stdlib/src/collections/list.mojo
  stdlib/test/collections/test_list.mojo
Due: mojo-format, check-license

[External] [stdlib] Enhance Handling of Infinity and NaN in `assert_almost_equal` (#39452)
  stdlib/src/testing/testing.mojo
  stdlib/src/utils/_numerics.mojo
  stdlib/test/testing/test_assertion.mojo
  stdlib/test/utils/test_numerics.mojo
Due: mojo-format, check-license

Unify the install procedure for Mojo and MAX packages
  docs/manual/get-started.md
  docs/manual/get-started/images/mojo-playground.png
  docs/manual/get-started/index.md
  docs/manual/images/mojo-vscode.png
  docs/manual/index.md
Due: none

[External] [stdlib] Remove `Bool` constructor from `SIMD` (#39459)
  stdlib/src/builtin/bool.mojo
Due: mojo-format, check-license

[External] [stdlib] Use `reversed(range(...))` in more places (#39453)
  stdlib/src/builtin/builtin_list.mojo
  stdlib/src/utils/stringref.mojo
Due: mojo-format, check-license

[External] [mojo-stdlib] Used explicit str in `test_file.mojo` (#39542)
  stdlib/test/builtin/test_file.mojo
Due: mojo-format, check-license

[External] [stdlib] Add unit tests for the SIMD __rfloordiv__() method and constraint check on the element types (#39451)
  stdlib/src/builtin/simd.mojo
  stdlib/test/builtin/test_simd.mojo
Due: mojo-format, check-license

[stdlib] Rename `Variant.take()` to `unsafe_take()`
  stdlib/src/collections/optional.mojo
  stdlib/src/utils/variant.mojo
  stdlib/test/collections/test_dict.mojo
  stdlib/test/collections/test_optional.mojo
  stdlib/test/utils/test_variant.mojo
Due: mojo-format, check-license

[stdlib] Unified getters of pointer to contiguous collection of memory (#39271)
  docs/changelog.md
  examples/mandelbrot.mojo
  examples/notebooks/Mandelbrot.ipynb
  stdlib/src/base64/base64.mojo
  stdlib/src/builtin/error.mojo
  stdlib/src/builtin/file.mojo
  stdlib/src/builtin/hex.mojo
  stdlib/src/builtin/int.mojo
  stdlib/src/builtin/io.mojo
  stdlib/src/builtin/string.mojo
  stdlib/src/builtin/string_literal.mojo
  stdlib/src/collections/list.mojo
  stdlib/src/memory/arc.mojo
  stdlib/src/os/_linux_aarch64.mojo
  stdlib/src/os/_linux_x86.mojo
  stdlib/src/os/_macos.mojo
  stdlib/src/os/env.mojo
  stdlib/src/os/os.mojo
  stdlib/src/python/_cpython.mojo
  stdlib/src/sys/ffi.mojo
  stdlib/src/sys/info.mojo
  stdlib/src/utils/inlined_string.mojo
  stdlib/src/utils/stringref.mojo
  stdlib/test/builtin/test_hash.mojo
  stdlib/test/collections/test_array.mojo
  stdlib/test/utils/test_inlined_string.mojo
Due: mojo-format, check-license, spellcheck-notebook

[mojo-tooling] Add support for erroring out on invalid doc strings
  docs/changelog.md
  stdlib/docs/style-guide.md
  stdlib/scripts/check-docstrings.py
Due: check-license

[External] [mojo-stdlib] Add `divmod(Int, Int)` to builtins (#39382)
  docs/changelog.md
  stdlib/src/builtin/divmod.mojo
  stdlib/src/builtin/int.mojo
  stdlib/test/builtin/test_int.mojo
Due: mojo-format, check-license

[External] [stdlib] add `SIMD._Mask` alias (#39460)
  stdlib/src/builtin/simd.mojo
Due: mojo-format, check-license

[stdlib] Added changelog for [Internal link]
  docs/changelog.md
Due: none

[mojo-stdlib][mojo-tooling] Add a new decorator to hide decls from doc gen
  docs/changelog.md
  stdlib/src/builtin/_documentation.mojo
Due: mojo-format, check-license

[External] [stdlib] Use UInt8 as the storage type for `StringRef` (#39455)
  stdlib/src/builtin/file.mojo
  stdlib/src/builtin/hash.mojo
  stdlib/src/builtin/object.mojo
  stdlib/src/builtin/string.mojo
  stdlib/src/python/_cpython.mojo
  stdlib/src/utils/inlined_string.mojo
  stdlib/src/utils/stringref.mojo
Due: mojo-format, check-license

add a proposal for Reference autoderef
  proposals/auto-dereference.md
Due: none

handle escape characters with repr
  stdlib/src/builtin/hex.mojo
  stdlib/src/builtin/string.mojo
  stdlib/src/builtin/string_literal.mojo
  stdlib/test/builtin/test_string.mojo
  stdlib/test/builtin/test_string_literal.mojo
Due: mojo-format, check-license

[stdlib] Support print to stderr
  stdlib/src/builtin/io.mojo
  stdlib/src/sys/__init__.mojo
  stdlib/src/sys/_io.mojo
  stdlib/test/builtin/test_print.mojo
Due: mojo-format, check-license

[stdlib] unittest print stderr
  stdlib/test/builtin/test_print.mojo
  stdlib/test/builtin/test_print_stderr.mojo
Due: mojo-format, check-license

feat: Span type for non owned views
  stdlib/src/utils/__init__.mojo
  stdlib/src/utils/span.mojo
  stdlib/test/utils/test_span.mojo
Due: mojo-format, check-license

chore: update comment
  stdlib/src/utils/span.mojo
Due: mojo-format, check-license

Support `__add__` and `__mul__` operators for `List`
  stdlib/src/collections/list.mojo
  stdlib/test/collections/test_list.mojo
Due: mojo-format, check-license
