Repository modularml/mojo: changes, and which pre-commit hooks are due for each by the changed paths.
All: mojo-format, check-license, spellcheck-notebook

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      - id: mojo-format
        name: mojo-format
        entry: mojo format
        language: system
        files: '\.(mojo|ðŸ”¥)$'
        stages: [commit]
      - id: check-docstrings
        name: check-docstrings
        entry: python3 ./stdlib/scripts/check-docstrings.py
        language: system
        pass_filenames: false
        stages: [commit]
      - id: check-license
        name: check-license
        entry: mojo stdlib/scripts/check-licenses.mojo
        language: system
        files: '\.(mojo|ðŸ”¥|py)$'
        stages: [commit]
      - id: spellcheck-notebook
        name: Spellcheck Jupyter Notebook
        entry: ./stdlib/scripts/spellcheck-notebooks.sh
        language: python
        files: \.ipynb$
        additional_dependencies:
          - jupyter==1.0.0
          - codespell==2.2.6
          - nbformat==5.10.4

add docstring
  stdlib/src/utils/static_tuple.mojo
Due: mojo-format, check-license

[stdlib] cleanup: Switch inlined_string.mojo to UnsafePointer[UInt8]
  docs/changelog.md
  stdlib/src/utils/inlined_string.mojo
Due: mojo-format, check-license

[mojo] Introduce `@parameter for` and replace all `@unroll`
  docs/manual/decorators/unroll.ipynb
  docs/manual/parameters/index.ipynb
  examples/matmul.mojo
  proposals/improved-hash-module.md
  stdlib/src/builtin/io.mojo
  stdlib/src/builtin/simd.mojo
  stdlib/src/memory/memory.mojo
  stdlib/src/utils/index.mojo
  stdlib/src/utils/static_tuple.mojo
Due: mojo-format, check-license, spellcheck-notebook

[mojo] Changelog entry for `@parameter for`
  docs/changelog.md
Due: none

[stdlib] cleanup: Switch stringref.mojo to `UnsafePointer[UInt8]`
  docs/changelog.md
  stdlib/src/builtin/error.mojo
  stdlib/src/builtin/file.mojo
  stdlib/src/builtin/object.mojo
  stdlib/src/builtin/string.mojo
  stdlib/src/utils/inlined_string.mojo
  stdlib/src/utils/stringref.mojo
Due: mojo-format, check-license

[stdlib] cleanup: Switch error.mojo to `UnsafePointer`
  stdlib/src/builtin/error.mojo
  stdlib/src/builtin/file.mojo
Due: mojo-format, check-license

[stdlib] cleanup: Switch string.mojo to `UnsafePointer`
  docs/changelog.md
  stdlib/src/base64/base64.mojo
  stdlib/src/builtin/error.mojo
  stdlib/src/builtin/string.mojo
  stdlib/src/utils/inlined_string.mojo
Due: mojo-format, check-license

[stdlib] polish: Change `StringSlice` to use `UInt8` for byte type
  stdlib/src/builtin/string.mojo
  stdlib/src/builtin/string_literal.mojo
  stdlib/src/utils/string_slice.mojo
Due: mojo-format, check-license

[Stdlib] Extend the float cast to be able to cast to non-f64 types
  stdlib/src/builtin/simd.mojo
Due: mojo-format, check-license

[stdlib] change `print` to `_print_fmt` for NVPTX targets
  stdlib/src/builtin/simd.mojo
Due: mojo-format, check-license

[benchmarks] Make `_bencher` module public
  docs/changelog.md
Due: none

[External] [stdlib] Add calling location for `assert_raises` (#40160)
  docs/changelog.md
  stdlib/src/testing/testing.mojo
  stdlib/test/testing/test_assert_raises.mojo
Due: mojo-format, check-license

Restore the Mojo install procedure
  docs/manual/get-started.md
Due: none

[stdlib] Add __call_location tests and clarify new behavior
  stdlib/src/builtin/_location.mojo
  stdlib/test/builtin/test_location.mojo
Due: mojo-format, check-license

[External] [stdlib] Add `bin()` builtin function (#40176)
  docs/changelog.md
  stdlib/src/builtin/bin.mojo
  stdlib/src/builtin/int.mojo
  stdlib/test/builtin/test_bin.mojo
Due: mojo-format, check-license

Delete overview page
  docs/index.md
Due: none

[External] [mojo-stdlib] Add variadic initialiser, __iter__ and __contains__ to InlineList (#40189)
  docs/changelog.md
  stdlib/src/collections/inline_list.mojo
  stdlib/test/collections/test_inline_list.mojo
Due: mojo-format, check-license

[External] [stdlib] Add method `atof()` to `String` (#40180)
  docs/changelog.md
  stdlib/src/builtin/string.mojo
  stdlib/test/builtin/test_string.mojo
Due: mojo-format, check-license

[stdlib] Converting the underlying value type of the std.string class to use UInt8.
  stdlib/src/base64/base64.mojo
  stdlib/src/builtin/file.mojo
  stdlib/src/builtin/hex.mojo
  stdlib/src/builtin/int.mojo
  stdlib/src/builtin/io.mojo
  stdlib/src/builtin/simd.mojo
  stdlib/src/builtin/string.mojo
  stdlib/src/builtin/string_literal.mojo
  stdlib/src/pathlib/path.mojo
  stdlib/src/sys/info.mojo
  stdlib/src/utils/inlined_string.mojo
  stdlib/src/utils/stringref.mojo
  stdlib/test/builtin/test_file.mojo
  stdlib/test/builtin/test_hash.mojo
  stdlib/test/builtin/test_string.mojo
  stdlib/test/collections/test_list.mojo
Due: mojo-format, check-license

[stdlib] Re-enable test_string::test_isspace
  stdlib/test/builtin/test_string.mojo
Due: mojo-format, check-license

[External] [stdlib][NFC] Improve tests for utils.numerics (#40201)
  stdlib/test/builtin/test_simd.mojo
  stdlib/test/utils/test_numerics.mojo
Due: mojo-format, check-license

[External] [stdlib] Constrain `simd.bool()` to `size == 1` (#39338)
  docs/changelog.md
  stdlib/src/builtin/simd.mojo
  stdlib/src/testing/testing.mojo
  stdlib/src/utils/numerics.mojo
  stdlib/test/builtin/test_simd.mojo
Due: mojo-format, check-license

[External] [stdlib] Fix wrong slice check in span (#40212)
  stdlib/src/utils/span.mojo
Due: mojo-format, check-license

[External] [stdlib] Fix list test warnings (#40208)
  stdlib/test/collections/test_list.mojo
Due: mojo-format, check-license

[stdlib] Bump compiler version to 2024.5.1805
  stdlib/COMPATIBLE_COMPILER_VERSION
Due: none

Update types.ipynb
  docs/manual/types.ipynb
Due: spellcheck-notebook

[stdlib] Allow natural l.__repr__() syntax for List
  stdlib/src/collections/list.mojo
  stdlib/test/builtin/test_list.mojo
Due: mojo-format, check-license

Make additional parameter explicit
  stdlib/src/builtin/string.mojo
Due: mojo-format, check-license

fixes
  stdlib/src/builtin/string.mojo
  stdlib/test/builtin/test_string.mojo
Due: mojo-format, check-license

keep alive
  stdlib/test/builtin/test_string.mojo
Due: mojo-format, check-license

update changelog
  docs/changelog.md
Due: none

[tools] Allow to choose the test files when using `run-tests.sh`
  stdlib/docs/development.md
  stdlib/scripts/run-tests.sh
Due: none

Removed simd change
  stdlib/src/builtin/simd.mojo
  stdlib/test/builtin/test_simd.mojo
Due: mojo-format, check-license

Fix string null terminator
  stdlib/src/builtin/string.mojo
  stdlib/test/builtin/test_string.mojo
Due: mojo-format, check-license

[stdlib] Add Tuple.__contains__
  docs/changelog.md
  stdlib/src/builtin/tuple.mojo
Due: mojo-format, check-license

[stdlib] Add Tuple.__contains__
  stdlib/test/builtin/test_tuple.mojo
Due: mojo-format, check-license

[stdlib] Add Tuple.__contains__
  stdlib/src/builtin/tuple.mojo
  stdlib/test/builtin/test_tuple.mojo
Due: mojo-format, check-license
