Repository modularml/mojo: changes, and which pre-commit hooks are due for each by the changed paths.
All: mojo-format, check-license, spellcheck-notebook

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      - id: mojo-format
        name: mojo-format
        entry: mojo format
        language: system
        files: '\.(mojo|ðŸ”¥)$'
        stages: [commit]
      - id: check-license
        name: check-license
        entry: mojo stdlib/scripts/check-licenses.mojo
        language: system
        files: '\.(mojo|ðŸ”¥|py)$'
        stages: [commit]
      - id: spellcheck-notebook
        name: Spellcheck Jupyter Notebook
        entry: ./trying_stuff.sh
        language: python
        files: \.ipynb$
        additional_dependencies:
          - jupyter==1.0.0
          - codespell==2.2.6
          - nbformat==5.10.4

[mojo-stdlib] Move `abs` to `builtin` and implement it generically (#38697)
  docs/changelog.md
  stdlib/src/builtin/abs.mojo
  stdlib/src/builtin/float_literal.mojo
  stdlib/src/builtin/int.mojo
  stdlib/src/builtin/int_literal.mojo
  stdlib/src/builtin/simd.mojo
  stdlib/test/builtin/test_float_literal.mojo
  stdlib/test/builtin/test_int.mojo
  stdlib/test/builtin/test_int_literal.mojo
  stdlib/test/builtin/test_simd.mojo
Due: mojo-format, check-license

[mojo-lang] Use parameter inference for overload set resolution (#38818)
  stdlib/src/collections/dict.mojo
Due: mojo-format, check-license

[docs] Remove auth install step and suggest nightlies (#38857)
  docs/manual/get-started/index.md
Due: none

[docs] Update perf dashboard links (#38824)
  docs/faq.md
Due: none

[Docs] Add contributors to the changelog (#38760)
  docs/changelog.md
Due: none

[External] [stdlib] Use UnsafePointer in `info.mojo` and some test files (#38797)
  stdlib/src/sys/info.mojo
  stdlib/test/sys/test_windows_target.mojo
  stdlib/test/utils/test_variant.mojo
Due: mojo-format, check-license

[External] [stdlib] Use `UnsafePointer` in `hex|io|os.mojo` (#38796)
  stdlib/src/builtin/hex.mojo
  stdlib/src/builtin/io.mojo
  stdlib/src/os/os.mojo
Due: mojo-format, check-license

[******][mojo-stdlib][GenericML][NFC] Remove unused imports from some mojo files (#38728)
  examples/notebooks/RayTracing.ipynb
  stdlib/test/builtin/test_simd.mojo
Due: mojo-format, check-license, spellcheck-notebook

[mojo-lang] Improve parameter inference around reference mut upcasts. (#38816)
  stdlib/src/collections/dict.mojo
Due: mojo-format, check-license

[Docs] New Mojo Types doc. (#38241)
  docs/manual/types.ipynb
Due: spellcheck-notebook

[External] [mojo-stdlib] Add new `ComparableCollectionElement` trait and `index(list, value, start, end)` function APIs (#38819)
  stdlib/src/builtin/value.mojo
  stdlib/src/collections/list.mojo
  stdlib/test/collections/test_list.mojo
Due: mojo-format, check-license

[stdlib] Fix `Optional` module doc string example (#38825)
  stdlib/src/collections/optional.mojo
Due: mojo-format, check-license

[Docs] Add docs on heterogenous variadic arguments. (#38614)
  docs/manual/functions.ipynb
  docs/manual/parameters/index.ipynb
Due: spellcheck-notebook

[Docs] Update text to match updated example. (#38701)
  docs/manual/lifecycle/death.ipynb
Due: spellcheck-notebook

[mojo-stdlib][NFC] Improve the docstring of the `_location` module (#38805)
  stdlib/src/builtin/_location.mojo
Due: mojo-format, check-license

[External] [mojo-stdlib] Create `InlineArray` type (#38793)
  stdlib/src/utils/__init__.mojo
  stdlib/src/utils/static_tuple.mojo
  stdlib/test/utils/test_tuple.mojo
Due: mojo-format, check-license

[External] [stdlib] Use `UnsafePointer` in `_cpython.mojo` (#38798)
  stdlib/src/python/_cpython.mojo
Due: mojo-format, check-license

[External] [stdlib] Replace `Pointer` by `UnsafePointer` in `hash|simd.mojo` (#38795)
  stdlib/src/builtin/hash.mojo
  stdlib/src/builtin/simd.mojo
Due: mojo-format, check-license

Internal commit
  stdlib/src/utils/_math.mojo
  stdlib/test/utils/test_math.mojo
Due: mojo-format, check-license

[mojo-lang] Allow MBValues to propagate parametric mutability. (#38822)
  stdlib/src/collections/dict.mojo
Due: mojo-format, check-license

[External] [stdlib] add b64decode (#38800)
  stdlib/src/base64/__init__.mojo
  stdlib/src/base64/base64.mojo
  stdlib/test/base64/test_base64.mojo
Due: mojo-format, check-license

[External] [stdlib] Remove FileCheck in `test_object.mojo` and removed `object.print()` (#38794)
  docs/changelog.md
  stdlib/src/builtin/object.mojo
  stdlib/test/builtin/test_object.mojo
Due: mojo-format, check-license

[stdlib] Bump compiler version
  stdlib/COMPATIBLE_COMPILER_VERSION
Due: none

[External] [stdlib] Use UnsafePointer in builtin_list.mojo (#38799)
  stdlib/src/builtin/builtin_list.mojo
Due: mojo-format, check-license

simplify SIMD join using _shuffle_list
  stdlib/src/builtin/simd.mojo
Due: mojo-format, check-license

refactor _shuffle_list
  stdlib/src/builtin/simd.mojo
Due: mojo-format, check-license

tests for SIMD join, shuffle, and _shuffle_list
  stdlib/src/builtin/simd.mojo
  stdlib/test/builtin/test_simd.mojo
Due: mojo-format, check-license

add shuffle with StaticIntTuple mask
  stdlib/src/builtin/simd.mojo
  stdlib/test/builtin/test_simd.mojo
Due: mojo-format, check-license

reorder simd_test.mojo to match function order in simd.mojo
  stdlib/test/builtin/test_simd.mojo
Due: mojo-format, check-license

simpler index check in shuffle
  stdlib/src/builtin/simd.mojo
Due: mojo-format, check-license

remove print from shuffle and join tests
  stdlib/test/builtin/test_simd.mojo
Due: mojo-format, check-license

add an @always_inline
  stdlib/src/builtin/simd.mojo
Due: mojo-format, check-license

Fn and test added and checked
  stdlib/src/collections/__init__.mojo
  stdlib/src/collections/list.mojo
  stdlib/test/collections/test_list.mojo
Due: mojo-format, check-license

[mojo-stdlib] Updated docstring
  stdlib/src/collections/list.mojo
Due: mojo-format, check-license

[mojo-stdlib] Moved the fn to a staticmethod and added more test cases
  stdlib/src/collections/__init__.mojo
  stdlib/src/collections/list.mojo
  stdlib/test/collections/test_list.mojo
Due: mojo-format, check-license

Fn and test added and checked
  stdlib/src/collections/__init__.mojo
Due: mojo-format, check-license

[mojo-stdlib] Moved the fn to a staticmethod and added more test cases
  stdlib/src/collections/__init__.mojo
Due: mojo-format, check-license

Simplify the implementation, remove exception
  stdlib/src/builtin/divmod.mojo
  stdlib/src/builtin/int.mojo
  stdlib/test/builtin/test_int.mojo
Due: mojo-format, check-license

Remove raise
  stdlib/src/builtin/divmod.mojo
Due: mojo-format, check-license

Better docstring
  stdlib/src/builtin/divmod.mojo
Due: mojo-format, check-license
