Repository modularml/mojo: changes, and which pre-commit hooks are due for each by the changed paths.
All: mojo-format, check-license, spellcheck-notebook

mojo-format:
  name: mojo-format
  entry: mojo format
  language: system
  stages:
  - commit

check-license:
  name: check-license
  entry: mojo stdlib/scripts/check-licenses.mojo
  language: system
  stages:
  - commit

spellcheck-notebook:
  name: Spellcheck Jupyter Notebook
  entry: ./stdlib/scripts/spellcheck-notebooks.sh
  language: python
  additional_dependencies:
  - jupyter==1.0.0
  - codespell==2.2.6
  - nbformat==5.10.4

[stdlib] feature: Add initial `StringSlice` type
  stdlib/src/builtin/string.mojo
  stdlib/src/builtin/string_literal.mojo
  stdlib/src/memory/unsafe.mojo
  stdlib/src/memory/unsafe_pointer.mojo
  stdlib/src/utils/__init__.mojo
  stdlib/src/utils/string_slice.mojo
  stdlib/test/utils/test_string_slice.mojo
Due: mojo-format, check-license

[stdlib] Remove `@staticmethod` from `List.index` and document it
  docs/changelog.md
  stdlib/src/collections/list.mojo
  stdlib/test/collections/test_list.mojo
Due: mojo-format, check-license

[stdlib] Move numeric limit helpers from `simd` to `utils._numerics`
  stdlib/src/builtin/simd.mojo
  stdlib/src/utils/_numerics.mojo
Due: mojo-format, check-license

[stdlib] Replace uses of StaticTuple with InlineArray in inlined_string.mojo
  stdlib/src/utils/inlined_string.mojo
  stdlib/test/utils/test_tuple.mojo
Due: mojo-format, check-license

[CI] Disable test_reversed (#40010)
  stdlib/test/builtin/test_reversed.mojo
Due: mojo-format, check-license

[stdlib] Expose implementation of `mat.ulp` and `math.nextafter` in `utils._numerics`
  stdlib/src/utils/_numerics.mojo
  stdlib/test/utils/test_numerics.mojo
Due: mojo-format, check-license

[stdlib] Make the `utils._numerics` module public
  docs/changelog.md
  stdlib/src/builtin/simd.mojo
  stdlib/src/testing/testing.mojo
  stdlib/src/utils/numerics.mojo
  stdlib/test/memory/test_memory.mojo
  stdlib/test/testing/test_assertion.mojo
  stdlib/test/utils/test_numerics.mojo
Due: mojo-format, check-license

[stdlib] Move `abs`, `divmod`, and `round` to `builtin.math`
  docs/changelog.md
  stdlib/src/builtin/abs.mojo
  stdlib/src/builtin/divmod.mojo
  stdlib/src/builtin/math.mojo
  stdlib/src/builtin/round.mojo
  stdlib/test/builtin/test_math.mojo
Due: mojo-format, check-license

Add info about the nightly branch
  README.md
  docs/manual/get-started.md
Due: none

[stdlib] Simplify `Variant.set`
  stdlib/src/utils/variant.mojo
Due: mojo-format, check-license

[External] [stdlib] Guard `SIMD.cast()` against equal types (#40022)
  stdlib/src/builtin/simd.mojo
Due: mojo-format, check-license

[External] [stdlib] FloatLiteral missing operators to conform Python float types (#39733)
  stdlib/src/builtin/float_literal.mojo
  stdlib/test/builtin/test_float_literal.mojo
Due: mojo-format, check-license

[stdlib] Remove the `math.limit` module
  docs/changelog.md
  docs/manual/types.ipynb
  examples/notebooks/RayTracing.ipynb
  stdlib/test/builtin/test_simd.mojo
  stdlib/test/utils/test_numerics.mojo
Due: mojo-format, check-license, spellcheck-notebook

[External] [stdlib] Add builtin `any()`/`all()` functions (#39815)
  docs/changelog.md
  stdlib/src/builtin/bool.mojo
  stdlib/src/builtin/simd.mojo
  stdlib/src/builtin/value.mojo
  stdlib/test/builtin/test_any_all.mojo
Due: mojo-format, check-license

[stdlib] Bump compiler version to 2024.5.1607
  stdlib/COMPATIBLE_COMPILER_VERSION
Due: none

[stdlib] Allow the simplified syntax `my_list.__str__()`
  docs/changelog.md
  stdlib/src/collections/list.mojo
  stdlib/test/collections/test_list.mojo
Due: mojo-format, check-license

Removed comment
  stdlib/src/collections/list.mojo
Due: mojo-format, check-license

Adapt the documentation
  stdlib/docs/development.md
Due: none

[stdlib] Allow the use of `my_dict.__str__()`
  docs/changelog.md
  stdlib/src/collections/dict.mojo
  stdlib/test/collections/test_dict.mojo
Due: mojo-format, check-license

[stdlib] Allow the syntax `my_list.count(x)`
  docs/changelog.md
  stdlib/src/collections/list.mojo
  stdlib/test/collections/test_list.mojo
Due: mojo-format, check-license

[stdlib] Add the `normalize_index` function
  stdlib/src/builtin/index.mojo
  stdlib/src/builtin/int.mojo
  stdlib/src/builtin/string.mojo
  stdlib/src/collections/index_normalization.mojo
  stdlib/src/collections/list.mojo
Due: mojo-format, check-license

[docs] Add fix-ups to Mojo Manual
  docs/manual/basics.ipynb
  docs/manual/functions.ipynb
  docs/manual/get-started.md
  docs/manual/lifecycle/death.ipynb
  docs/manual/packages.md
  docs/manual/structs.ipynb
  docs/manual/types.ipynb
  docs/manual/values/ownership.ipynb
  docs/tools/debugging.ipynb
  docs/why-mojo.md
Due: spellcheck-notebook

Update list.mojo
  stdlib/src/collections/list.mojo
Due: mojo-format, check-license

Update test_list.mojo
  stdlib/test/collections/test_list.mojo
Due: mojo-format, check-license

Update changelog.md
  docs/changelog.md
Due: none

Use __index__ for __getitem__ and __setitem__
  stdlib/src/builtin/bool.mojo
  stdlib/src/builtin/builtin_list.mojo
  stdlib/src/builtin/builtin_slice.mojo
  stdlib/src/builtin/int.mojo
  stdlib/src/builtin/int_literal.mojo
  stdlib/src/builtin/range.mojo
  stdlib/src/builtin/simd.mojo
  stdlib/src/builtin/string.mojo
  stdlib/src/builtin/value.mojo
  stdlib/src/collections/inline_list.mojo
  stdlib/src/collections/list.mojo
  stdlib/src/collections/vector.mojo
  stdlib/src/memory/unsafe.mojo
  stdlib/src/python/object.mojo
  stdlib/src/utils/index.mojo
  stdlib/src/utils/inlined_string.mojo
  stdlib/src/utils/static_tuple.mojo
  stdlib/src/utils/stringref.mojo
  stdlib/test/builtin/test_list.mojo
  stdlib/test/builtin/test_slice.mojo
  stdlib/test/builtin/test_string.mojo
  stdlib/test/builtin/test_stringref.mojo
  stdlib/test/collections/test_list.mojo
  stdlib/test/collections/test_vector.mojo
  stdlib/test/utils/test_tuple.mojo
Due: mojo-format, check-license

Simplify through inversion
  stdlib/src/builtin/string.mojo
Due: mojo-format, check-license

_atof_error return error directly
  stdlib/src/builtin/string.mojo
Due: mojo-format, check-license

Additional changes for error fix
  stdlib/src/builtin/string.mojo
Due: mojo-format, check-license

Add `strip` function to StringRef
  stdlib/src/utils/stringref.mojo
Due: mojo-format, check-license

Use unsafe_ptr
  stdlib/src/utils/stringref.mojo
Due: mojo-format, check-license

fix
  stdlib/src/utils/stringref.mojo
Due: mojo-format, check-license

update changelog
  docs/changelog.md
Due: none

[stdlib] Add unit tests for SIMD's __len__() method
  stdlib/test/builtin/test_simd.mojo
Due: mojo-format, check-license

enable assertions in mojo tests
  stdlib/src/builtin/string.mojo
  stdlib/test/builtin/test_debug_assert_mojo_enable_assertions.mojo
  stdlib/test/builtin/test_debug_assert_warning.mojo
  stdlib/test/lit.cfg.py
  stdlib/test/utils/test_tuple.mojo
Due: mojo-format, check-license

[stdlib] Fix incorrect number of elements in `StaticTuple`
  stdlib/test/utils/test_tuple.mojo
Due: mojo-format, check-license

[External] [stdlib] Implement List.__repr__() method (#40018)
  stdlib/src/collections/list.mojo
  stdlib/test/builtin/test_list.mojo
Due: mojo-format, check-license

[mojo] Changelog entry for `inferred` keyword
  docs/changelog.md
Due: none

[External] [stdlib] Allow the simplified syntax `my_list.__str__()` (#40046)
  docs/changelog.md
  stdlib/docs/development.md
  stdlib/src/collections/list.mojo
  stdlib/test/collections/test_list.mojo
Due: mojo-format, check-license

Path conditions:
  mojo-format: any of: \.(mojo|ðŸ”¥)$
  check-license: any of: \.(mojo|ðŸ”¥|py)$
  spellcheck-notebook: any of: \.ipynb$
