Repository modularml/mojo: changes, and which pre-commit hooks are due for each by the changed paths.
All: mojo-format, check-license

mojo-format:
  name: mojo-format
  entry: mojo format
  language: system
  stages:
  - commit

check-license:
  name: check-license
  entry: mojo stdlib/scripts/check_licenses.mojo
  language: system
  stages:
  - commit

[Benchmarking] Attach per-turn images in multi-turn chat drivers
  max/python/max/benchmark/benchmark_shared/multi_turn.py
  max/tests/tests/benchmark/test_multi_turn.py
Due: check-license

[Benchmarking] Add image stats to --dry-run workload output
  max/python/max/benchmark/benchmark_shared/serving_result_output.py
  max/tests/tests/benchmark/test_serving_result_output.py
Due: check-license

[Benchmarking] Add end-to-end test for image mixing
  max/tests/tests/benchmark/test_image_mixing_integration.py
Due: check-license

[Benchmarking] Add image mixing quick start guide
  max/python/max/benchmark/README.md
  max/python/max/benchmark/benchmarking_mixed_images.md
Due: none

[Benchmarking] Add CategoricalDistribution support
  docs/max/nightly-changelog.md
  max/python/docs/cli/benchmark.rst
  max/python/max/benchmark/benchmark_shared/datasets/distribution.py
  max/python/max/benchmark/benchmarking_mixed_images.md
  max/tests/tests/benchmark/test_benchmark_distribution.py
Due: check-license

[MAX] Prefix-cache Qwen3.5 by checkpointing its recurrent state
  max/python/max/pipelines/architectures/nemotron_h/state_cache.py
  max/python/max/pipelines/architectures/qwen3_5/BUILD.bazel
  max/python/max/pipelines/architectures/qwen3_5/arch.py
  max/python/max/pipelines/architectures/qwen3_5/batch_processor.py
  max/python/max/pipelines/architectures/qwen3_5/layers/gated_deltanet.py
  max/python/max/pipelines/architectures/qwen3_5/memory_planner.py
  max/python/max/pipelines/architectures/qwen3_5/model.py
  max/python/max/pipelines/architectures/qwen3_5/model_config.py
  max/python/max/pipelines/architectures/qwen3_5/qwen3_5.py
  max/python/max/pipelines/architectures/qwen3_5/state_cache.py
  max/python/max/pipelines/architectures/unified_dflash2_qwen3_5/model.py
  max/python/max/pipelines/architectures/unified_dflash2_qwen3_5/model_config.py
  max/python/max/pipelines/architectures/unified_dflash2_qwen3_5/unified_dflash2_qwen3_5.py
  max/python/max/pipelines/architectures/unified_mtp_qwen3_5/model.py
  max/python/max/pipelines/architectures/unified_mtp_qwen3_5/state_rollback.py
  max/python/max/pipelines/architectures/unified_mtp_qwen3_5/unified_mtp_qwen3_5.py
  max/python/max/pipelines/lib/pipeline_variants/overlap_text_generation.py
  max/tests/integration/architectures/qwen3_5/BUILD.bazel
  max/tests/integration/architectures/qwen3_5/test_config_init.py
  max/tests/integration/architectures/qwen3_5/test_memory_planner.py
  max/tests/integration/architectures/qwen3_5/test_mrope.py
  max/tests/integration/architectures/qwen3_5/test_mtp_forward.py
  max/tests/integration/architectures/qwen3_5/test_state_warmup.py
  max/tests/integration/architectures/qwen3_5_tap_crosscheck/test_tap_matches_huggingface.py
  max/tests/integration/architectures/unified_dflash2_qwen3_5/test_graph_signature.py
  max/tests/integration/architectures/unified_dflash2_qwen3_5/test_prefill_block.py
  max/tests/integration/architectures/unified_dflash2_qwen3_5/test_state_rollback_block.py
  max/tests/integration/architectures/unified_dflash2_qwen3_5/test_tap_capture.py
  max/tests/integration/architectures/unified_mtp_qwen3_5/test_state_pool_dtype.py
Due: check-license

[MAX] Save recurrent state only on a block boundary
  max/python/max/pipelines/kv_cache/paged_kv_cache/cache_manager_interface.py
  max/python/max/pipelines/kv_cache/paged_kv_cache/jenga_cache_manager.py
  max/python/max/pipelines/kv_cache/paged_kv_cache/recurrent_coordinator.py
  max/python/max/serve/scheduler/batch_constructor/text_batch_constructor.py
  max/python/max/serve/scheduler/batch_constructor/token_budget.py
  max/tests/integration/kv_cache/jenga/test_jenga_cache_manager.py
  max/tests/integration/kv_cache/jenga/test_state_checkpoints.py
  max/tests/tests/serve/scheduler/test_grammar_gate.py
  max/tests/tests/serve/scheduler/test_text_batch_constructor.py
  max/tests/tests/serve/scheduler/test_token_budget.py
Due: check-license

[Kernels] Drop NullableTileTensor's Engine default and PtrType alias
  max/kernels/src/layout/tile_tensor.mojo
Due: mojo-format, check-license

[MOGG] Thread a kernel region's in chain during MGP lowering.
  max/tests/integration/graph/test_causal_conv1d_channels_last.py
  max/tests/integration/graph/test_static_scaled_fp8_quant_fusion.py
Due: check-license

[Mojo] Fix recursive layout detection in LowerLITTypes
  Mojo/lib/LowerLIT/LowerLITTypes.cpp
  Mojo/test/kgen/lower-lit/lower-lit-types-recursion-errors.mlir
  Mojo/test/kgen/lower-lit/lower-lit-types-recursion-through-pointer.mlir
Due: none

[Kernels] DevicePointer: Thread Engine through state_space and quantized matmul kernels
  max/kernels/src/graph_compiler/builtin_kernels/kernels.mojo
  max/kernels/src/quantization/qmatmul.mojo
  max/kernels/src/state_space/causal_conv1d.mojo
  max/kernels/src/state_space/gated_delta.mojo
  max/kernels/src/state_space/gated_delta_conv1d.mojo
  max/kernels/src/state_space/selective_scan.mojo
  max/kernels/test/gpu/state_space/test_gated_delta.mojo
  max/kernels/test/gpu/state_space/test_gated_delta_conv1d.mojo
  max/kernels/test/gpu/state_space/test_mamba_split_conv1d_scan_combined.mojo
  max/kernels/test/gpu/state_space/test_ssd_combined.mojo
  max/kernels/test/state_space/test_mamba_split_conv1d_scan_combined.mojo
  max/kernels/test/state_space/test_ssd_combined.mojo
Due: mojo-format, check-license

[GraphCompiler][Kernels] Lower dynamic-permutation transpose under advanced fusion
  max/kernels/src/graph_compiler/builtin_primitives/primitives.mojo
Due: mojo-format, check-license

[KGEN] update CompileTimeProfiling.md (NFC)
  Mojo/docs/compiler/manual/CompileTimeProfiling.md
Due: none

[Release] Bump nightlies to MAX 26.7/Mojo 1.2
  BUILD.bazel
Due: none

[dKV] Export the KV connector's remote-peer counters
  docs/max/nightly-changelog.md
  max/python/max/nn/kv_cache/metrics.py
  max/python/max/pipelines/kv_cache/connectors/dkv/connector.py
  max/python/max/serve/scheduler/utils.py
  max/python/max/serve/telemetry/metrics.py
  max/tests/tests/serve/scheduler/test_scheduler_metrics.py
Due: check-license

[Mojo] Declare emission kinds on TargetTraits and validate --emit there
  Mojo/BUILD.bazel
  Mojo/include/Mojo/Compiler/LLVMOptimizationPipeline.h
  Mojo/include/Mojo/Compiler/Target/TargetBackend.h
  Mojo/include/Mojo/ToolCommon/CLOptions.h
  Mojo/include/Mojo/ToolCommon/CompilationOptions.h
  Mojo/lib/Compiler/KGENCompiler.cpp
  Mojo/lib/Compiler/ObjectCompiler/LLVM/Bitcode/17/BitcodeWriter17.cpp
  Mojo/lib/Compiler/ObjectCompiler/LLVM/Transforms/PointerRewriter.cpp
  Mojo/lib/Compiler/ObjectCompiler/LLVMPassesPipeline.cpp
  Mojo/lib/Compiler/ObjectCompiler/ObjectCompiler.cpp
  Mojo/lib/Target/Host/HostTraits.h
  Mojo/lib/Target/TargetTraits.cpp
  Mojo/lib/Target/TargetTraits.h
  Mojo/lib/ToolCommon/CLOptions.cpp
  Mojo/lib/ToolCommon/CompilationOptions/CompilationOptions.cpp
  Mojo/tools/kgen/kgen.cpp
  Mojo/tools/mojo/Build/BuildOptions.td
  Mojo/tools/mojo/Build/mojo-build.cpp
Due: none

[stdlib][max] refactor: Migrate `GPUInfo.target()` callers to `CompilationTarget.from()`
  Mojo/stdlib/std/_gpu/host/info.mojo
  Mojo/stdlib/std/sys/info.mojo
  max/kernels/src/nn/attention/gpu/amd_structured/mha_prefill_v2.mojo
  max/kernels/src/nn/attention/gpu/amd_structured/mla_prefill_v2.mojo
  max/kernels/src/nn/tpool_patch_merger.mojo
  max/kernels/test/gpu/compile/test_amd_block_sync_lds.mojo
  max/kernels/test/gpu/compile/test_compile_nvptx.mojo
  max/kernels/test/gpu/compile/test_multimem.mojo
  max/mojo/max/algorithm/functional.mojo
  max/mojo/max/gpu/host/device_context.mojo
  max/mojo/max/gpu/host/device_graph.mojo
  max/mojo/test/atomic/test_compile_atomic.mojo
Due: mojo-format, check-license

[MAX] Replicate DP Llama weights per rank
  max/python/max/pipelines/architectures/llama3/data_parallel_llama.py
Due: check-license

[stdlib] refactor: Remove or replace `_TargetType` with `CompilationTarget`
  Mojo/stdlib/std/compile/compile.mojo
  Mojo/stdlib/std/reflection/function.mojo
  Mojo/stdlib/std/reflection/type_info.mojo
  Mojo/stdlib/std/sys/info.mojo
  Mojo/test/mojo-integration/compile_offload/target_plugin.mojo
  max/mojo/max/_plugin/_impl.mojo
  max/mojo/max/gpu/host/_device_context_metal.mojo
  max/mojo/max/gpu/host/compile.mojo
  max/mojo/max/gpu/host/device_context.mojo
  max/mojo/test/compile/test_compile.mojo
  max/mojo/test/math/gpu/test_sin_cos_f64.mojo
  max/mojo/test/math/gpu/test_sqrt_f64.mojo
Due: mojo-format, check-license

[stdlib] Let `Coord.product` narrow to a caller-chosen dtype
  Mojo/docs/site/nightly-changelog.md
  Mojo/stdlib/std/utils/coord.mojo
  Mojo/stdlib/test/utils/test_coord.mojo
Due: mojo-format, check-license

[Models] Fuse QKV projections in Gemma4 ModuleV3 attention
  max/python/max/pipelines/architectures/gemma4_modulev3/layers/attention.py
Due: check-license

[MAX][Tools] 3/3 Attach batch_id to C++ log records via a request context
  Support/BUILD.bazel
  Support/docs/Logging.md
  Support/include/Support/Log.h
  Support/include/Support/RequestContext.h
  Support/include/Support/RequestLog.h
  Support/unittests/BUILD.bazel
  Support/unittests/Log/LogKeyValueTest.cpp
  Support/unittests/Log/RequestLogTest.cpp
  Support/unittests/RequestContextTest.cpp
  max/python/max/_core/__init__.pyi
  max/python/max/_core/request_context.pyi
  max/python/max/serve/scheduler/BUILD.bazel
  max/python/max/serve/scheduler/text_generation_scheduler.py
  max/tests/tests/serve/test_request_context.py
Due: check-license

[stdlib] Remove bound checks from amdgpu printing implementation
  Mojo/stdlib/std/collections/span.mojo
  Mojo/stdlib/std/sys/_amdgpu.mojo
Due: mojo-format, check-license

[stdlib] refactor: Simplify additional target handling
  Mojo/stdlib/std/_gpu/host/info.mojo
  Mojo/stdlib/std/_plugin/_overlay.mojo
  Mojo/stdlib/std/_plugin/_trait.mojo
  Mojo/stdlib/test/gpu/test_gpu_info_api.mojo
Due: mojo-format, check-license

[KGEN][benchmark] Add kimi to mojo compile time benchmark.
  Mojo/docs/compiler/manual/CompileTimeProfiling.md
Due: none

[stdlib] Add `Alignment` type to `alloc` and make it a comptime parameter.
  Mojo/docs/site/nightly-changelog.md
  Mojo/stdlib/std/memory/__init__.mojo
  Mojo/stdlib/std/memory/alloc.mojo
  Mojo/stdlib/test/benchmark/test_quick_bench.mojo
  Mojo/stdlib/test/builtin/test_simd.mojo
  Mojo/stdlib/test/memory/pointer/test_pointer.mojo
  Mojo/stdlib/test/memory/test_alloc.mojo
  Mojo/stdlib/test/memory/test_fail/layout_invalid_alignment.mojo
  Mojo/stdlib/test/memory/test_fail/layout_invalid_alignment_abort.mojo
  max/kernels/benchmarks/demos/SimpleFastGEMM/gemm.mojo
  max/kernels/benchmarks/demos/SimpleFastGEMM/gemm_layout.mojo
  max/kernels/benchmarks/gpu/bench_elementwise.mojo
  max/kernels/benchmarks/gpu/bench_reduce.mojo
  max/kernels/benchmarks/linalg/bench_matmul.mojo
  max/kernels/benchmarks/math/bench_exp.mojo
  max/kernels/benchmarks/nn/bench_conv.mojo
  max/kernels/src/linalg/bmm.mojo
  max/kernels/src/linalg/matmul/cpu/impl.mojo
  max/kernels/src/nn/attention/cpu/mha.mojo
  max/kernels/src/quantization/qmatmul.mojo
Due: mojo-format, check-license

[Models] Add gemma-4-31B-it__modulev3 to the smoke tests
  max/tests/integration/accuracy/smoke_tests/smoke_test.py
  max/tests/integration/accuracy/smoke_tests/smoke_test_github_matrix.py
Due: check-license

[Docs] Fold speculative-decoding variants into base rows in the models table
  docs/generate-models-table.py
  docs/max/models.mdx
Due: check-license

[mojo-compiler] where-else syntax
  Mojo/docs/site/nightly-changelog.md
  Mojo/lib/MojoParser/DeclResolution.cpp
  Mojo/lib/MojoParser/ParserExprs.cpp
  Mojo/lib/MojoParser/Signatures.cpp
  Mojo/lib/MojoParser/Signatures.h
  Mojo/proposals/where_clauses.md
  Mojo/test/mojo-parser/decls/where_else_message.mojo
  Mojo/test/mojo-parser/decls/where_else_message_errors.mojo
  Mojo/test/mojo-parser/decls/where_else_message_parse_errors.mojo
  Mojo/tools/mblack/src/mblib2to3/Grammar.txt
  Mojo/tools/mblack/tests/test_where_clause_else_message.py
Due: mojo-format, check-license

[MAX] Let the overlap scheduler prefix-cache recurrent state
  max/python/max/pipelines/lib/config/config.py
  max/tests/integration/kv_cache/jenga/test_state_checkpoints.py
Due: check-license

[Benchmarking] Add configurable token sampling to engine benchmark
  max/python/max/benchmark/benchmark_shared/datasets/instruct_coder.py
Due: check-license

[stdlib] Make `StringSpan` always immutable
  Mojo/docs/site/nightly-changelog.md
  Mojo/stdlib/benchmarks/collections/string/bench_atof.mojo
  Mojo/stdlib/std/base64/base64.mojo
  Mojo/stdlib/std/builtin/string_literal.mojo
  Mojo/stdlib/std/collections/dict.mojo
  Mojo/stdlib/std/collections/string/__init__.mojo
  Mojo/stdlib/std/collections/string/_parsing_numbers/parsing_floats.mojo
  Mojo/stdlib/std/collections/string/_parsing_numbers/parsing_integers.mojo
  Mojo/stdlib/std/collections/string/_unicode.mojo
  Mojo/stdlib/std/collections/string/codepoint.mojo
  Mojo/stdlib/std/collections/string/iterators.mojo
  Mojo/stdlib/std/collections/string/string.mojo
  Mojo/stdlib/std/collections/string/string_span.mojo
  Mojo/stdlib/std/format/_utils.mojo
  Mojo/stdlib/std/os/os.mojo
  Mojo/stdlib/std/prelude/__init__.mojo
  Mojo/stdlib/std/testing/testing.mojo
  Mojo/stdlib/test/base64/test_base64.mojo
  Mojo/stdlib/test/collections/string/compile_fail/mutate_string_span_bytes.mojo
  Mojo/stdlib/test/collections/string/test_string_span.mojo
  Mojo/test/mojo-integration/c_fn_ptr_generic_origin.mojo
  Mojo/test/mojo-parser/decls/fn_def_decls.mojo
  Mojo/test/mojo-parser/deferred_ops.mojo
  Mojo/test/mojo-parser/parameters.mojo
  Mojo/test/test-packages/std/builtin/stubs.mojo
Due: mojo-format, check-license

[Driver] Expose Buffer.strides and preserve them across a view
  max/python/max/_core/driver.pyi
  max/tests/tests/driver/test_buffer.py
Due: check-license

[KV] Pad Jenga pages onto a searched huge block
  max/python/max/pipelines/kv_cache/paged_kv_cache/jenga_block_pool.py
  max/tests/integration/kv_cache/jenga/test_compute_jenga_ratios.py
Due: check-license

[docs] Simplify the quickstart intro
  Mojo/docs/site/manual/quickstart.mdx
Due: none

[GraphCompiler][Kernels] Read every advanced-fusion tensor through one stride-aware path
  max/kernels/src/graph_compiler/builtin_primitives/primitives.mojo
Due: mojo-format, check-license

[GraphCompiler][Kernels] Emit trait-lane tensor arguments under advanced fusion
  max/tests/integration/graph/test_fold.py
Due: check-license

[MAX] Close advanced-fusion test-coverage gaps
  max/tests/integration/graph/BUILD.bazel
  max/tests/integration/graph/test_epilogue_fusion.py
  max/tests/integration/graph/test_mutable_load_fusion.py
Due: check-license

[docs] Move the "gpu programming" section from Mojo to MAX changelog
  Mojo/docs/site/nightly-changelog.md
  docs/max/nightly-changelog.md
Due: none

[Kernels][EP] Fuse the EP combine send in the MegaFFN epilogue
  max/kernels/src/graph_compiler/builtin_kernels/mega_ffn.mojo
  max/kernels/src/linalg/matmul/gpu/sm100_structured/grouped_block_scaled_1d1d/grouped_1d1d_matmul.mojo
  max/kernels/src/linalg/matmul/gpu/sm100_structured/grouped_block_scaled_1d1d/grouped_1d1d_matmul_kernel.mojo
  max/kernels/src/linalg/matmul/gpu/sm100_structured/structured_kernels/config.mojo
  max/kernels/src/linalg/matmul/gpu/sm100_structured/structured_kernels/output_writer.mojo
  max/kernels/src/shmem/ep_comm.mojo
  max/kernels/src/structured_kernels/kernel_common.mojo
  max/kernels/src/structured_kernels/trace_buf.mojo
  max/kernels/test/gpu/fuzz/BUILD.bazel
  max/kernels/test/gpu/fuzz/fuzz.py
  max/kernels/test/gpu/fuzz/fuzz_mega_ffn.mojo
Due: mojo-format, check-license

Path conditions:
  mojo-format: any of: \.(mojo|ðŸ”¥)$
  check-license: any of: \.(mojo|ðŸ”¥|py)$
