Repository modularml/mojo: changes, and which pre-commit hooks are due for each by the changed paths.
All: mojo-format, check-license, spellcheck-notebook

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      - id: mojo-format
        name: mojo-format
        entry: mojo format
        language: system
        files: '\.(mojo|ðŸ”¥)$'
        stages: [commit]
      - id: check-docstrings
        name: check-docstrings
        entry: python3 ./stdlib/scripts/check-docstrings.py
        language: system
        pass_filenames: false
        stages: [commit]
      - id: check-license
        name: check-license
        entry: mojo stdlib/scripts/check-licenses.mojo
        language: system
        files: '\.(mojo|ðŸ”¥|py)$'
        stages: [commit]
      - id: spellcheck-notebook
        name: Spellcheck Jupyter Notebook
        entry: ./stdlib/scripts/spellcheck-notebooks.sh
        language: python
        files: \.ipynb$
        additional_dependencies:
          - jupyter==1.0.0
          - codespell==2.2.6
          - nbformat==5.10.4

[stdlib] Remove `@staticmethod` from `List.index` and document it
  docs/changelog.md
  stdlib/src/collections/list.mojo
  stdlib/test/collections/test_list.mojo
Due: mojo-format, check-license

[stdlib] Make naming consistent in the `bit` module
  docs/changelog.md
  stdlib/src/bit/__init__.mojo
  stdlib/src/bit/bit.mojo
  stdlib/src/builtin/sort.mojo
  stdlib/src/builtin/string.mojo
  stdlib/src/utils/stringref.mojo
Due: mojo-format, check-license

[stdlib] Move `math.rotate_bits_{left,right}` to the `bit` module
  docs/changelog.md
  stdlib/src/bit/__init__.mojo
  stdlib/src/bit/bit.mojo
  stdlib/test/bit/test_bit.mojo
Due: mojo-format, check-license

[stdlib] Move numeric limit helpers from `simd` to `utils._numerics`
  stdlib/src/builtin/simd.mojo
  stdlib/src/utils/_numerics.mojo
Due: mojo-format, check-license

[stdlib] Remove Copyable from Tuple and ListLiteral
  docs/changelog.md
  stdlib/src/builtin/builtin_list.mojo
  stdlib/src/builtin/object.mojo
  stdlib/src/builtin/tuple.mojo
  stdlib/src/python/object.mojo
Due: mojo-format, check-license

[stdlib] Add workaround for fpow on GPU targets LLVM is missing the fpow instruction in PTX and fails with the following while lowering fpow instructions:
  stdlib/src/builtin/simd.mojo
Due: mojo-format, check-license

[stdlib] Expose implementation of `mat.ulp` and `math.nextafter` in `utils._numerics`
  stdlib/src/utils/_numerics.mojo
  stdlib/test/utils/test_numerics.mojo
Due: mojo-format, check-license

[stdlib] Replace uses of StaticTuple with InlineArray in inlined_string.mojo
  stdlib/src/utils/inlined_string.mojo
  stdlib/test/utils/test_tuple.mojo
Due: mojo-format, check-license

[CI] Disable test_reversed (#40010)
  stdlib/test/builtin/test_reversed.mojo
Due: mojo-format, check-license

[examples] Fix usage of `@unroll` decorator
  examples/matmul.mojo
Due: mojo-format, check-license

[stdlib] Fix start/stop semantics in `List.index`
  stdlib/src/collections/list.mojo
  stdlib/test/collections/test_list.mojo
Due: mojo-format, check-license

[stdlib] Move `abs`, `divmod`, and `round` to `builtin.math`
  docs/changelog.md
  stdlib/src/builtin/abs.mojo
  stdlib/src/builtin/divmod.mojo
  stdlib/src/builtin/math.mojo
  stdlib/src/builtin/round.mojo
  stdlib/test/builtin/test_math.mojo
Due: mojo-format, check-license

[stdlib] Simplify `Variant.set`
  stdlib/src/utils/variant.mojo
Due: mojo-format, check-license

[External] [stdlib] Guard `SIMD.cast()` against equal types (#40022)
  stdlib/src/builtin/simd.mojo
Due: mojo-format, check-license

Add info about the nightly branch
  README.md
  docs/manual/get-started.md
Due: none

[External] [stdlib] FloatLiteral missing operators to conform Python float types (#39733)
  stdlib/src/builtin/float_literal.mojo
  stdlib/test/builtin/test_float_literal.mojo
Due: mojo-format, check-license

[External] [stdlib] Allow the use of `my_dict.__str__()` (#40047)
  docs/changelog.md
  stdlib/src/collections/dict.mojo
  stdlib/test/collections/test_dict.mojo
Due: mojo-format, check-license

[External] [mojo-stdlib] Add b16encode and b16decode to base64 module (#39561)
  docs/changelog.md
  stdlib/src/base64/__init__.mojo
  stdlib/src/base64/base64.mojo
  stdlib/test/base64/test_base64.mojo
Due: mojo-format, check-license

[stdlib] Bump compatible compiler version to 2024.5.1619
  stdlib/COMPATIBLE_COMPILER_VERSION
Due: none

[External] [stdlib] Implement List.__repr__() method (#40018)
  stdlib/src/collections/list.mojo
  stdlib/test/builtin/test_list.mojo
Due: mojo-format, check-license

[External] [stdlib] Add Indexer trait (#40103)
  docs/changelog.md
  stdlib/src/builtin/bool.mojo
  stdlib/src/builtin/int.mojo
  stdlib/src/builtin/int_literal.mojo
  stdlib/src/builtin/simd.mojo
  stdlib/test/builtin/test_bool.mojo
  stdlib/test/builtin/test_int.mojo
  stdlib/test/builtin/test_int_literal.mojo
  stdlib/test/builtin/test_simd.mojo
Due: mojo-format, check-license

[External] [stdlib] Allow the simplified syntax `my_list.__str__()` (#40046)
  docs/changelog.md
  stdlib/docs/development.md
  stdlib/src/collections/list.mojo
  stdlib/test/collections/test_list.mojo
Due: mojo-format, check-license

[stdlib] Add stub for `parameter_for` implementation
  stdlib/src/builtin/_stubs.mojo
  stdlib/src/builtin/range.mojo
Due: mojo-format, check-license

[External] [stdlib] Add `List.__contains__` (#40064)
  docs/changelog.md
  stdlib/src/collections/list.mojo
  stdlib/test/collections/test_list.mojo
Due: mojo-format, check-license

[stdlib] Bump compiler version to 2024.5.1705
  stdlib/COMPATIBLE_COMPILER_VERSION
Due: none

[stdlib] Bump compiler version to 2024.5.1607
  stdlib/COMPATIBLE_COMPILER_VERSION
Due: none

[mojo] Changelog entry for `inferred` keyword
  docs/changelog.md
Due: none

[stdlib] cleanup: Change `StringLiteral.unsafe_ptr()` to `UnsafePointer` (was `DTypePointer`)
  stdlib/src/base64/base64.mojo
  stdlib/src/builtin/error.mojo
  stdlib/src/builtin/hex.mojo
  stdlib/src/builtin/string_literal.mojo
  stdlib/src/memory/unsafe_pointer.mojo
Due: mojo-format, check-license

[External] [stdlib] Delegate string comparisons to `StringRef` (#40107)
  stdlib/src/builtin/string.mojo
  stdlib/src/builtin/string_literal.mojo
  stdlib/src/utils/stringref.mojo
  stdlib/test/builtin/test_stringref.mojo
Due: mojo-format, check-license

[stdlib] feature: Remove `_ArrayMem` in favor of `InlineArray`
  stdlib/src/builtin/hex.mojo
  stdlib/src/builtin/int.mojo
  stdlib/src/builtin/simd.mojo
  stdlib/src/utils/inlined_string.mojo
  stdlib/src/utils/static_tuple.mojo
  stdlib/test/collections/test_array.mojo
Due: mojo-format, check-license

[External] [stdlib] Add method `strip()` to `StringRef` (#40108)
  docs/changelog.md
  stdlib/src/utils/stringref.mojo
  stdlib/test/builtin/test_string.mojo
Due: mojo-format, check-license

[External] [stdlib] Fix incorrect number of elements in `StaticTuple` (#40083)
  stdlib/test/utils/test_tuple.mojo
Due: mojo-format, check-license

[External] [stdlib] Support for negative indexes in `List._reverse(start)` method and out of bound validation (#39464)
  stdlib/src/collections/list.mojo
  stdlib/test/collections/test_list.mojo
Due: mojo-format, check-license

[stdlib] Remove the `math.limit` module
  docs/changelog.md
  docs/manual/types.ipynb
  examples/notebooks/RayTracing.ipynb
  stdlib/test/builtin/test_simd.mojo
  stdlib/test/utils/test_numerics.mojo
Due: mojo-format, check-license, spellcheck-notebook

[stdlib] feature: Add `memcpy()` for `UnsafePointer[Scalar[_]]`
  docs/changelog.md
  stdlib/src/builtin/object.mojo
  stdlib/src/builtin/string.mojo
  stdlib/src/builtin/string_literal.mojo
  stdlib/src/memory/memory.mojo
  stdlib/src/utils/string_slice.mojo
  stdlib/test/memory/test_memory.mojo
Due: mojo-format, check-license

[External] [stdlib] Add builtin `any()`/`all()` functions (#39815)
  docs/changelog.md
  stdlib/src/builtin/bool.mojo
  stdlib/src/builtin/simd.mojo
  stdlib/src/builtin/value.mojo
  stdlib/test/builtin/test_any_all.mojo
Due: mojo-format, check-license

[External] [stdlib] Allow the syntax `my_list.count(x)` (#40048)
  docs/changelog.md
  stdlib/src/collections/list.mojo
  stdlib/test/collections/test_list.mojo
Due: mojo-format, check-license

[scripts] Add markdown scripts for public repo
  stdlib/scripts/.markdownlint.yaml
  stdlib/scripts/markdownlint.sh
Due: none

[External] [stdlib] Add unit tests for SIMD's __len__() method (#40093)
  stdlib/test/builtin/test_simd.mojo
Due: mojo-format, check-license

[External] [docs] Mojo Manual typo fixes (#40056)
  docs/manual/basics.ipynb
  docs/manual/functions.ipynb
  docs/manual/get-started.md
  docs/manual/lifecycle/death.ipynb
  docs/manual/packages.md
  docs/manual/structs.ipynb
  docs/manual/types.ipynb
  docs/manual/values/ownership.ipynb
  docs/tools/debugging.ipynb
  docs/why-mojo.md
Due: spellcheck-notebook
