Repository modularml/mojo: changes, and which pre-commit hooks are due for each by the changed paths.
All: mojo-format, check-license, spellcheck-notebook

mojo-format:
  name: mojo-format
  entry: mojo format
  language: system
  stages:
  - commit

check-license:
  name: check-license
  entry: mojo stdlib/scripts/check-licenses.mojo
  language: system
  stages:
  - commit

spellcheck-notebook:
  name: Spellcheck Jupyter Notebook
  entry: ./stdlib/scripts/spellcheck-notebooks.sh
  language: python
  additional_dependencies:
  - jupyter==1.0.0
  - codespell==2.2.6
  - nbformat==5.10.4

[External] [stdlib] Allow the use of `my_dict.__str__()` (#40047)
  docs/changelog.md
  stdlib/src/collections/dict.mojo
  stdlib/test/collections/test_dict.mojo
Due: mojo-format, check-license

[stdlib] Moved Constructors to the top and fixed formats
  stdlib/src/utils/variant.mojo
Due: mojo-format, check-license

[External] [stdlib] Add builtin `any()`/`all()` functions (#39815)
  docs/changelog.md
  stdlib/src/builtin/bool.mojo
  stdlib/src/builtin/simd.mojo
  stdlib/src/builtin/value.mojo
  stdlib/test/builtin/test_any_all.mojo
Due: mojo-format, check-license

[stdlib] Change `Bool` to be backed by an `i1` (NFC)
  stdlib/src/builtin/bool.mojo
  stdlib/src/builtin/simd.mojo
  stdlib/src/utils/index.mojo
Due: mojo-format, check-license

[stdlib] Move `_ObjectImpl` to use `Variant` instead of `!kgen.variant`
  stdlib/src/builtin/object.mojo
Due: mojo-format, check-license

[stdlib] Move numeric limit helpers from `simd` to `utils._numerics`
  stdlib/src/builtin/simd.mojo
  stdlib/src/utils/_numerics.mojo
Due: mojo-format, check-license

[docs] Fix changelog for `repr` functionality
  docs/changelog.md
Due: none

[mojo] Changelog entry for `inferred` keyword
  docs/changelog.md
Due: none

[External] [stdlib] now `strip` can take `chars` argument and `String` now have useful aliases (#39814)
  docs/changelog.md
  stdlib/src/builtin/string.mojo
  stdlib/test/builtin/test_string.mojo
Due: mojo-format, check-license

[stdlib] Make the `utils._numerics` module public
  docs/changelog.md
  stdlib/src/builtin/simd.mojo
  stdlib/src/testing/testing.mojo
  stdlib/src/utils/numerics.mojo
  stdlib/test/memory/test_memory.mojo
  stdlib/test/testing/test_assertion.mojo
  stdlib/test/utils/test_numerics.mojo
Due: mojo-format, check-license

[External] [stdlib] handle escape characters with `repr()` (#39457)
  stdlib/src/builtin/hex.mojo
  stdlib/src/builtin/string.mojo
  stdlib/src/builtin/string_literal.mojo
  stdlib/test/builtin/test_string.mojo
  stdlib/test/builtin/test_string_literal.mojo
Due: mojo-format, check-license

[stdlib] Move `sort` to builtin
  docs/changelog.md
  stdlib/src/builtin/sort.mojo
  stdlib/src/builtin/swap.mojo
  stdlib/test/builtin/test_sort.mojo
  stdlib/test/builtin/test_sort_issue_1018.mojo
  stdlib/test/builtin/test_swap.mojo
Due: mojo-format, check-license

[External] [stdlib] Implement List.__repr__() method (#40018)
  stdlib/src/collections/list.mojo
  stdlib/test/builtin/test_list.mojo
Due: mojo-format, check-license

[stdlib] Bump compatible compiler version to 2024.5.1619
  stdlib/COMPATIBLE_COMPILER_VERSION
Due: none

[stdlib] Make some methods in `utils._numerics` return `IntLiteral`
  stdlib/src/utils/_numerics.mojo
Due: mojo-format, check-license

[stdlib] feature: Add initial string byte slicing
  docs/changelog.md
  stdlib/src/builtin/string.mojo
  stdlib/src/builtin/string_literal.mojo
  stdlib/src/builtin/type_aliases.mojo
  stdlib/src/memory/unsafe.mojo
  stdlib/src/memory/unsafe_pointer.mojo
  stdlib/src/utils/span.mojo
  stdlib/test/utils/test_span.mojo
  stdlib/test/utils/test_string_slice.mojo
Due: mojo-format, check-license

[External] [stdlib] Add or operator support to Dict (#39653)
  stdlib/src/collections/dict.mojo
  stdlib/test/collections/test_dict.mojo
Due: mojo-format, check-license

[stdlib] Bump compiler version to 2024.5.1317
  stdlib/COMPATIBLE_COMPILER_VERSION
Due: none

[External] [stdlib] Guard `SIMD.cast()` against equal types (#40022)
  stdlib/src/builtin/simd.mojo
Due: mojo-format, check-license

[stdlib] feature: Add initial `StringSlice` type
  stdlib/src/builtin/string.mojo
  stdlib/src/builtin/string_literal.mojo
  stdlib/src/memory/unsafe.mojo
  stdlib/src/memory/unsafe_pointer.mojo
  stdlib/src/utils/__init__.mojo
  stdlib/src/utils/string_slice.mojo
  stdlib/test/utils/test_string_slice.mojo
Due: mojo-format, check-license

[External] [docs] `entr` and pre commit issue (#39652)
  stdlib/docs/development.md
Due: none

[External] [stdlib] Add `InlineList` struct (stack-allocated List) (#39560)
  stdlib/src/collections/__init__.mojo
  stdlib/src/collections/inline_list.mojo
  stdlib/src/utils/static_tuple.mojo
  stdlib/test/collections/test_inline_list.mojo
Due: mojo-format, check-license

[mojo-stdlib] Improve doc comments for UnsafePointer.
  stdlib/src/memory/unsafe_pointer.mojo
Due: mojo-format, check-license

[CI] Add timeouts to workflows
  .github/workflows/check_pr_target.yml
  .github/workflows/check_pr_title.yml
  .github/workflows/standard_library_tests_and_examples.yml
Due: none

[stdlib] Clean up weird uses of `assert_equal` in testscases
  stdlib/test/builtin/test_simd.mojo
Due: mojo-format, check-license

[External] [stdlib] String comparisons implemented (#39768)
  stdlib/src/builtin/string.mojo
  stdlib/src/builtin/string_literal.mojo
  stdlib/test/builtin/test_string.mojo
  stdlib/test/builtin/test_string_literal.mojo
Due: mojo-format, check-license

[mojo-tooling] JSON diagnostic output option
  docs/changelog.md
Due: none

[stdlib] Added tests for `memset`
  stdlib/test/memory/test_memory.mojo
Due: mojo-format, check-license

[stdlib] Bump compiler version to 2024.5.1607
  stdlib/COMPATIBLE_COMPILER_VERSION
Due: none

[stdlib] Deduplicate `ctlz` and `cttz` implementations
  stdlib/src/builtin/sort.mojo
  stdlib/src/builtin/string.mojo
  stdlib/src/utils/stringref.mojo
Due: mojo-format, check-license

[stdlib] Provide safe `Variant` and `Optional` `take/get` methods
  stdlib/src/collections/optional.mojo
  stdlib/src/utils/variant.mojo
Due: mojo-format, check-license

[External] [docs] Correct typo in types.ipynb (#39888)
  docs/manual/types.ipynb
Due: spellcheck-notebook

Fix docsite by coding code
  stdlib/src/builtin/bool.mojo
Due: mojo-format, check-license

[stdlib] Optimizes the range function
  stdlib/src/builtin/range.mojo
Due: mojo-format, check-license

[External] [stdlib] Add unit tests for SIMD add, radd and iadd operations (#39931)
  stdlib/test/builtin/test_simd.mojo
Due: mojo-format, check-license

[stdlib] Reduced the usage of `__get_address_as_owned_value`
  stdlib/src/builtin/tuple.mojo
  stdlib/src/utils/variant.mojo
Due: mojo-format, check-license

[External] [stdlib] Support `__add__` and `__mul__` operators for `List` (#39734)
  stdlib/src/collections/list.mojo
  stdlib/test/collections/test_list.mojo
Due: mojo-format, check-license

[stdlib] Bump compiler version to 2024.5.1102
  stdlib/COMPATIBLE_COMPILER_VERSION
Due: none

[stdlib] Replaced `Variant.get[T]()` with `__refitem__`
  docs/changelog.md
  stdlib/src/collections/optional.mojo
  stdlib/src/utils/inlined_string.mojo
  stdlib/src/utils/variant.mojo
  stdlib/test/utils/test_variant.mojo
Due: mojo-format, check-license

[stdlib] Remove extra copying from Dict
  stdlib/src/collections/dict.mojo
  stdlib/src/collections/optional.mojo
  stdlib/src/utils/variant.mojo
  stdlib/test/collections/test_dict.mojo
  stdlib/test/collections/test_optional.mojo
Due: mojo-format, check-license

Path conditions:
  mojo-format: any of: \.(mojo|ðŸ”¥)$
  check-license: any of: \.(mojo|ðŸ”¥|py)$
  spellcheck-notebook: any of: \.ipynb$
