Repository modularml/mojo: changes, and which pre-commit hooks are due for each by the changed paths.
All: mojo-format, check-license

mojo-format:
  name: mojo-format
  entry: mojo format
  language: system
  stages:
  - commit

check-license:
  name: check-license
  entry: mojo stdlib/scripts/check_licenses.mojo
  language: system
  stages:
  - commit

[Release] Pin lockfiles to Mojo 1.1.0.dev2026090905, MAX 26.6.0.dev2026090905
  Mojo/examples/life/pixi.lock
  Mojo/examples/operators/pixi.lock
  Mojo/examples/python-interop/pixi.lock
  Mojo/examples/testing/pixi.lock
  Mojo/pixi.lock
  bazel/mojo.MODULE.bazel
  docs/code/tile-tensor/layouts/pixi.lock
  docs/code/tile-tensor/tensors/pixi.lock
  max/examples/capi/pixi.lock
  max/examples/custom-models/pixi.lock
  max/examples/custom_ops/pixi.lock
  max/examples/gpu-block-and-warp/pixi.lock
  max/examples/gpu-functions/pixi.lock
  max/examples/gpu-intro/pixi.lock
  max/examples/layout_tensor/pixi.lock
  max/examples/layouts/pixi.lock
  max/examples/modules/pixi.lock
  max/examples/music_generation/pixi.lock
  max/examples/pytorch_custom_ops/pixi.lock
Due: none

[Kernels] Fix vectorized swizzled shared-to-global copies
  max/kernels/src/layout/tile_io.mojo
  max/kernels/test/gpu/layout/test_tile_io.mojo
Due: mojo-format, check-license

Fix lint
  Mojo/docs/site/nightly-changelog.md
Due: none

Fix lint fix
  Mojo/docs/site/nightly-changelog.md
Due: none

begin reducer implementation for property testing
  Mojo/stdlib/benchmarks/testing/prop/bench_prop_reduce.mojo
  Mojo/stdlib/std/testing/prop/_errors.mojo
  Mojo/stdlib/std/testing/prop/_shrinking/__init__.mojo
  Mojo/stdlib/std/testing/prop/_shrinking/_passes.mojo
  Mojo/stdlib/std/testing/prop/_shrinking/_shrinker.mojo
  Mojo/stdlib/std/testing/prop/random.mojo
  Mojo/stdlib/std/testing/prop/runner.mojo
  Mojo/stdlib/std/testing/prop/strategy/__init__.mojo
  Mojo/stdlib/std/testing/prop/strategy/list_strategy.mojo
  Mojo/stdlib/std/testing/prop/strategy/string_strategy.mojo
  Mojo/stdlib/test/testing/prop/test_random.mojo
  Mojo/stdlib/test/testing/prop/test_runner.mojo
  Mojo/stdlib/test/testing/prop/test_shrink_passes.mojo
  Mojo/stdlib/test/testing/prop/test_shrinker.mojo
  Mojo/stdlib/test/testing/prop/test_strategy.mojo
Due: mojo-format, check-license

[stdlib] Fix _assert_aborts skipping later loop iterations
  Mojo/stdlib/std/testing/assert_aborts.mojo
  Mojo/stdlib/test/testing/test_assert_aborts.mojo
Due: mojo-format, check-license

[mojo-lang] Fix crash when printing a param list
  Mojo/lib/MojoParser/ASTPrinter.cpp
  Mojo/test/mojo-parser/parameters_errors.mojo
Due: mojo-format, check-license

[MOGG] Support LayoutTransform for MAP
  max/tests/integration/graph/test_compile_config.py
  max/tests/integration/graph/test_custom_kernel_validation.py
  max/tests/integration/graph/test_custom_op_parameters.py
  max/tests/integration/graph/test_nonzero.py
  max/tests/integration/graph/test_tile.py
Due: check-license

[MAX] Add the Speculator type for declaring spec-decode variants
  max/python/max/pipelines/lib/arch_lookup.py
Due: check-license

[MAX] Resolve a declared speculator during config resolution
  max/python/max/pipelines/lib/__init__.py
  max/python/max/pipelines/lib/config/config.py
  max/python/max/pipelines/lib/registry.py
  max/python/max/pipelines/logging_utils.py
  max/tests/integration/pipelines/test_pipeline_config_resolve.py
  max/tests/integration/unorganized/test_config_pure.py
Due: check-license

[MAX][Kernels] Pad Inkling's MoE gate weight to an aligned router GEMM
  max/kernels/src/nn/moe.mojo
  max/kernels/test/gpu/nn/test_sink_gate_router.mojo
  max/python/max/nn/kernels.py
  max/python/max/pipelines/architectures/inkling/layers/moe.py
  max/python/max/pipelines/architectures/inkling/weight_adapters.py
  max/tests/integration/architectures/inkling/test_moe_gate.py
Due: mojo-format, check-license

[MAX] Declare DeepSeek V3's three speculators
  docs/generate-models-table.py
  docs/max/nightly-changelog.md
  max/python/max/pipelines/architectures/__init__.py
  max/python/max/pipelines/architectures/deepseekV3/recipes/nvfp4_mtp_8x_b200.yaml
  max/python/max/pipelines/architectures/deepseekV3/recipes/nvfp4_mtp_tpep_8x_b200.yaml
  max/python/max/pipelines/architectures/eagle3_deepseekV3/BUILD.bazel
  max/python/max/pipelines/architectures/eagle3_deepseekV3/__init__.py
  max/python/max/pipelines/architectures/eagle3_deepseekV3/arch.py
  max/python/max/pipelines/architectures/unified_mtp_deepseekV3/BUILD.bazel
  max/python/max/pipelines/architectures/unified_mtp_deepseekV3/__init__.py
  max/python/max/pipelines/architectures/unified_mtp_deepseekV3/arch.py
  max/python/max/pipelines/lib/config/config.py
  max/tests/integration/unorganized/test_config_pure.py
Due: check-license

[Kernels] DevicePointer: Thread Engine through AMD MLA attention components and buffers
  max/kernels/src/kv_cache/types.mojo
  max/kernels/src/nn/attention/gpu/amd_rdna/attention.mojo
  max/kernels/src/nn/attention/gpu/amd_rdna/buffers.mojo
  max/kernels/src/nn/attention/gpu/amd_structured/attention.mojo
  max/kernels/src/nn/attention/gpu/amd_structured/buffers.mojo
  max/kernels/src/nn/attention/gpu/amd_structured/kv_buffer.mojo
  max/kernels/src/nn/attention/gpu/amd_structured/mla_components.mojo
  max/kernels/src/nn/attention/gpu/mla_index_fp8.mojo
  max/kernels/src/nn/attention/mha_operand.mojo
  max/kernels/src/nn/kv_cache_ragged.mojo
  max/kernels/src/structured_kernels/amd_tile_io.mojo
  max/kernels/test/kv_cache/test_paged_kv_cache_types.mojo
Due: mojo-format, check-license

[MAX] Fail loudly when an AMD KV buffer cannot be RDMA-registered
  max/python/max/pipelines/kv_cache/paged_kv_cache/transfer_engine.py
  max/tests/integration/kv_cache/transfer_engine/BUILD.bazel
  max/tests/integration/kv_cache/transfer_engine/test_rdma_alignment.py
Due: check-license

[MAX] Drive DeepSeek V3's spec-decode loop from a shared driver
  max/python/max/pipelines/architectures/deepseekV3/BUILD.bazel
  max/python/max/pipelines/architectures/deepseekV3/spec_adapters.py
  max/python/max/pipelines/architectures/eagle3_deepseekV3/BUILD.bazel
  max/python/max/pipelines/architectures/eagle3_deepseekV3/unified_eagle.py
  max/python/max/pipelines/architectures/unified_mtp_deepseekV3/BUILD.bazel
  max/python/max/pipelines/architectures/unified_mtp_deepseekV3/unified_mtp_deepseekV3.py
  max/python/max/pipelines/speculative/BUILD.bazel
  max/python/max/pipelines/speculative/driver.py
  max/python/max/pipelines/speculative/spec_target.py
Due: check-license

[Kernels][stdlib] Encode DevicePassable structs field-wise
  Mojo/stdlib/std/builtin/device_passable.mojo
  Mojo/stdlib/test/builtin/test_device_passable.mojo
  max/kernels/src/internal_utils/_utils.mojo
  max/kernels/src/kv_cache/types.mojo
  max/kernels/src/layout/layout_tensor.mojo
  max/kernels/src/layout/tma_async.mojo
  max/kernels/src/linalg/arch/apple/mma.mojo
  max/kernels/src/linalg/arch/sm100/_tma.mojo
  max/kernels/src/linalg/matmul/gpu/sm100_structured/grouped_block_scaled_1d1d/grouped_1d1d_matmul_kernel.mojo
  max/kernels/src/linalg/utils.mojo
  max/kernels/src/nn/attention/gpu/nvidia/common.mojo
  max/kernels/src/nn/attention/gpu/nvidia/mha_tile_scheduler.mojo
  max/kernels/src/nn/attention/gpu/nvidia/sm100/mla_decode_combine.mojo
  max/kernels/src/nn/attention/gpu/nvidia/sm100/mla_decode_kv_bf16.mojo
  max/kernels/src/nn/attention/gpu/nvidia/sm100/mla_decode_kv_fp8.mojo
  max/kernels/src/nn/attention/gpu/nvidia/sm100/mla_decode_qkv_fp8.mojo
  max/kernels/src/nn/attention/gpu/nvidia/sm100/mla_decode_qkv_fp8_layout_g.mojo
  max/kernels/src/nn/attention/gpu/nvidia/sm100/mla_decode_qkv_fp8_per_token_scale_rope_aware.mojo
  max/kernels/src/nn/attention/gpu/nvidia/sm100/mla_decode_sparse.mojo
  max/kernels/src/nn/attention/gpu/nvidia/sm100/mla_decode_sparse_kv_bf16.mojo
  max/kernels/src/nn/attention/gpu/nvidia/sm100/mla_decode_sparse_kv_fp8.mojo
  max/kernels/src/nn/attention/gpu/nvidia/sm100/mla_decode_sparse_qkv_fp8.mojo
  max/kernels/src/nn/attention/gpu/nvidia/sm100/mla_decode_utils.mojo
  max/kernels/src/nn/attention/mha_mask.mojo
  max/kernels/src/nn/attention/mha_operand.mojo
  max/kernels/src/shmem/ep_comm.mojo
  max/kernels/src/structured_kernels/trace_buf.mojo
  max/mojo/max/gpu/host/_tensormap.mojo
Due: mojo-format, check-license

[MAX] Re-enable `test_buffer_create_init_gpu`
  max/tests/integration/graph/BUILD.bazel
Due: none

[MGP][MAX] Keep concat-in-place from weakening operand alignment
  docs/max/nightly-changelog.md
  max/tests/integration/graph/test_concat_in_place_alignment.py
Due: check-license

[MAX][Kernels] Remove the remaining MXFP6 decode-path quantize launches
  max/kernels/src/graph_compiler/builtin_kernels/distributed.mojo
  max/kernels/src/graph_compiler/builtin_kernels/msa.mojo
  max/kernels/src/linalg/fp6_quantization.mojo
  max/kernels/test/gpu/linalg/BUILD.bazel
  max/kernels/test/gpu/linalg/test_quantize_mxfp6_lane_group.mojo
  max/python/max/_core/dialects/mo/__init__.pyi
  max/python/max/graph/ops/__init__.py
  max/python/max/graph/ops/allgather_rms_norm.py
  max/python/max/nn/kernels.py
  max/python/max/nn/moe/moe_fp8.py
  max/python/max/nn/quant_ops.py
Due: mojo-format, check-license

[MAX] Add the Qwen3.8-Flash-Next architecture, with MTP
  max/kernels/src/graph_compiler/builtin_kernels/qsa.mojo
  max/python/max/pipelines/architectures/BUILD.bazel
  max/python/max/pipelines/architectures/__init__.py
  max/python/max/pipelines/architectures/hf_config_shims.py
  max/python/max/pipelines/architectures/qwen3_5/layers/attention.py
  max/python/max/pipelines/architectures/qwen3_5/memory_planner.py
  max/python/max/pipelines/architectures/qwen3_5/model_config.py
  max/tests/integration/test_common/BUILD.bazel
Due: mojo-format, check-license

[Kernels] Restore the loop-initialized Apple matmul register fragments
  max/kernels/src/linalg/matmul/gpu/apple/matmul_8x8.mojo
  max/kernels/src/linalg/matmul/gpu/apple/matmul_kernel.mojo
Due: mojo-format, check-license

[Kernels] Tune the dense MXFP6 matmul tiles
  max/kernels/src/linalg/matmul/gpu/amd/block_scaled_matmul_amd.mojo
  max/kernels/src/nn/kv_cache_ragged.mojo
  max/kernels/test/gpu/linalg/test_mxfp6_matmul_amd.mojo
Due: mojo-format, check-license

[Mojo] Add test for match w/ guard + as, NFC
  Mojo/test/mojo-parser/statements/match.mojo
Due: mojo-format, check-license

[Kernels] Thread Engine through the attention_utils and amd_tile_io gates
  max/kernels/src/linalg/matmul/gpu/amd/amd_4wave_matmul.mojo
  max/kernels/src/linalg/matmul/gpu/amd/matmul_mma.mojo
  max/kernels/src/nn/attention/gpu/amd_structured/mha_mma_op.mojo
  max/kernels/src/nn/attention/gpu/amd_structured/mha_prefill_v2.mojo
  max/kernels/src/nn/attention/gpu/nvidia/sm100/attention_utils.mojo
  max/kernels/src/nn/attention/gpu/nvidia/sm100/mla_decode_utils.mojo
  max/kernels/src/nn/conv/gpu/amd/amd_4wave_conv.mojo
  max/kernels/src/structured_kernels/amd_tile_io.mojo
  max/kernels/src/structured_kernels/amd_tile_io_conv.mojo
  max/kernels/test/gpu/nn/test_mla_layout_g_mma_smoke.mojo
Due: mojo-format, check-license

[Benchmark] Restructure the fitted multiturn builder and fix its trailing delay
  max/python/max/benchmark/benchmark_shared/datasets/__init__.py
  max/python/max/benchmark/benchmark_shared/datasets/agentic_code.py
  max/python/max/benchmark/benchmark_shared/datasets/distribution.py
  max/python/max/benchmark/benchmark_shared/datasets/instruct_coder.py
  max/python/max/benchmark/benchmark_shared/datasets/multiturn_distribution_fit.py
  max/python/max/benchmark/benchmark_shared/datasets/nemotron_opencode.py
  max/python/max/benchmark/benchmark_shared/datasets/turn_profile.py
  max/tests/tests/benchmark/test_benchmark_datasets.py
Due: check-license

[Benchmark] Model agentic workloads from tool-call distributions
  max/python/docs/cli/benchmark.rst
  max/python/max/benchmark/benchmark_shared/config.py
  max/python/max/benchmark/benchmark_shared/datasets/__init__.py
  max/python/max/benchmark/benchmark_shared/datasets/agentic_code.py
  max/python/max/benchmark/benchmark_shared/datasets/agentic_tools.py
  max/python/max/benchmark/benchmark_shared/datasets/all.py
  max/python/max/benchmark/benchmark_shared/datasets/instruct_coder.py
  max/python/max/benchmark/benchmark_shared/datasets/multiturn_distribution_fit.py
  max/python/max/benchmark/benchmark_shared/datasets/nemotron_opencode.py
  max/python/max/benchmark/benchmark_shared/datasets/types.py
  max/tests/tests/benchmark/test_agentic_tools.py
  max/tests/tests/benchmark/test_benchmark_config.py
  max/tests/tests/benchmark/test_benchmark_datasets.py
Due: check-license

[MAX] Enable Jenga KV cache for Kimi and DeepSeek
  max/python/max/pipelines/kv_cache/registry.py
  max/tests/tests/kv_cache/test_registry.py
Due: check-license

[Kernels] Tune the MXFP6 preshuffled grouped matmul
  max/kernels/src/linalg/matmul/gpu/amd/block_scaled_grouped_matmul_amd.mojo
  max/kernels/src/linalg/matmul/gpu/amd/block_scaled_matmul_amd_preb.mojo
  max/kernels/src/linalg/matmul/gpu/amd/block_scaled_preshuffle_loaders.mojo
Due: mojo-format, check-license

[Models] Add multi-GPU (TP) support to Gemma4 ModuleV3
  max/python/max/experimental/sharding/mappings.py
  max/python/max/pipelines/architectures/gemma4_modulev3/arch.py
  max/python/max/pipelines/architectures/gemma4_modulev3/gemma4.py
  max/python/max/pipelines/architectures/gemma4_modulev3/layers/rms_norm.py
  max/python/max/pipelines/architectures/gemma4_modulev3/model.py
  max/tests/integration/architectures/modulev3/test_load_model.py
  max/tests/integration/tensor/distributed/sharding/test_mappings.py
Due: check-license

[mojo-lang] Refactor match emission logic, NFC
  Mojo/include/Mojo/MojoParser/ExprNode.h
  Mojo/lib/MojoParser/ExprNodes.h
  Mojo/lib/MojoParser/ExprPatterns.cpp
  Mojo/lib/MojoParser/ParserStmts.cpp
Due: none

[Docs] Repoint Mojo doc links broken by the directory move
  Mojo/docs/site/cheatsheet-tooling/README.md
  Mojo/docs/site/code/README.md
  Mojo/docs/site/code/tools/README-Compilation-Targets.md
  Mojo/docs/site/faq.md
  Mojo/docs/site/releases/v0.24.1.md
  Mojo/docs/site/releases/v0.24.2.md
  Mojo/docs/site/releases/v0.24.3.md
  Mojo/docs/site/releases/v0.25.3.md
  Mojo/docs/site/releases/v0.25.6.md
  Mojo/docs/site/releases/v0.25.7.md
  Mojo/docs/site/releases/v0.26.1.md
  Mojo/docs/site/releases/v0.26.2.md
  Mojo/docs/site/releases/v0.6.0.md
  Mojo/docs/site/releases/v1.0.0b1.md
  Mojo/docs/site/tools/compilation.mdx
  docs/releases/v25.3.md
Due: none

[Docs] Document the ModuleV3 bring-up path
  docs/max/develop/model-bringup-workflow.mdx
Due: none

[Docs] Drop the eager label from the ModuleV3 API
  docs/max/develop/modules.mdx
  docs/max/develop/pipelines.mdx
  max/examples/diffusion/flux2_comparison.py
  max/python/max/pipelines/lib/arch_lookup.py
  max/python/max/pipelines/lib/interfaces/pipeline_model.py
  max/python/max/pipelines/lib/pipeline_runtime_config.py
  max/python/max/pipelines/lib/registry.py
  max/tests/integration/accuracy/verify_pipelines.py
Due: check-license

[KV] Support cross-replica prefix copy on the Jenga KV cache
  docs/max/nightly-changelog.md
  max/python/max/nn/kv_cache/metrics.py
  max/python/max/pipelines/kv_cache/paged_kv_cache/jenga_block_manager.py
  max/python/max/pipelines/kv_cache/paged_kv_cache/jenga_cache_manager.py
  max/python/max/pipelines/kv_cache/paged_kv_cache/kv_group_coordinator.py
  max/tests/integration/kv_cache/jenga/test_jenga_block_manager.py
  max/tests/integration/kv_cache/jenga/test_kv_group_coordinator.py
Due: check-license

[mojo-compiler] canonicalize eq int to identical
  Mojo/include/Mojo/KGENDialect/KGENUtils.h
  Mojo/lib/KGENDialect/KGENAttrs.cpp
  Mojo/lib/KGENDialect/KGENUtils.cpp
  Mojo/test/kgen/kgen-dialect/kgen-attrs.mlir
  Mojo/test/kgen/kgen-dialect/kgen-param-exprs.mlir
  Mojo/test/mojo-parser/decls/where_integer_equality.mojo
  Mojo/test/mojo-parser/parameters.mojo
  Mojo/test/mojo-parser/statements/comptime_assert.mojo
  Mojo/test/mojo-parser/statements/control_flow_constraints.mojo
Due: mojo-format, check-license

[External] [stdlib] Support `nextafter` at compile time (#98837)
  Mojo/stdlib/std/utils/numerics.mojo
  Mojo/stdlib/test/math/test_math.mojo
  Mojo/stdlib/test/utils/test_numerics.mojo
Due: mojo-format, check-license

[docs] DOCS-2611-calls-to-action
  Mojo/docs/site/code/manual/get-started/BUILD.bazel
  Mojo/docs/site/code/manual/get-started/README.md
  Mojo/docs/site/code/manual/get-started/grid.mojo
  Mojo/docs/site/code/manual/get-started/life.mojo
  Mojo/docs/site/code/manual/get-started/tests.mojo
  Mojo/docs/site/index.mdx
  Mojo/docs/site/manual/get-started.mdx
  Mojo/docs/site/reference/operators.mdx
Due: mojo-format, check-license

[bazel] Fix stale KGEN tool paths missed by the Mojo rename
  bazel/internal/pytest_runner.py
Due: check-license

[Kernels] Tune the MXFP6 AMD matmul decode and prefill bands
  max/kernels/src/linalg/matmul/gpu/amd/block_scaled_grouped_matmul_amd.mojo
  max/kernels/src/linalg/matmul/gpu/amd/block_scaled_matmul_amd.mojo
Due: mojo-format, check-license

[External] [Stdlib] Add Counter constructor from an arbitrary iterable (#98953)
  Mojo/docs/site/nightly-changelog.md
  Mojo/stdlib/std/collections/counter.mojo
  Mojo/stdlib/test/collections/test_counter.mojo
Due: mojo-format, check-license

Path conditions:
  mojo-format: any of: \.(mojo|ðŸ”¥)$
  check-license: any of: \.(mojo|ðŸ”¥|py)$
