Repository modularml/mojo: changes, and which pre-commit hooks are due for each by the changed paths.
All: mojo-format, check-license, spellcheck-notebook

mojo-format:
  name: mojo-format
  entry: mojo format
  language: system
  stages:
  - commit

check-license:
  name: check-license
  entry: mojo stdlib/scripts/check-licenses.mojo
  language: system
  stages:
  - commit

spellcheck-notebook:
  name: Spellcheck Jupyter Notebook
  entry: ./stdlib/scripts/spellcheck-notebooks.sh
  language: python
  additional_dependencies:
  - jupyter==1.0.0
  - codespell==2.2.6
  - nbformat==5.10.4

[stdlib] Add workaround for fpow on GPU targets LLVM is missing the fpow instruction in PTX and fails with the following while lowering fpow instructions:
  stdlib/src/builtin/simd.mojo
Due: mojo-format, check-license

[External] [stdlib] Allow the simplified syntax `my_list.__str__()` (#40046)
  docs/changelog.md
  stdlib/docs/development.md
  stdlib/src/collections/list.mojo
  stdlib/test/collections/test_list.mojo
Due: mojo-format, check-license

[stdlib] Bump compiler version to 2024.5.1515
  stdlib/COMPATIBLE_COMPILER_VERSION
Due: none

[stdlib] Added `Variant.replace` (#39900)
  stdlib/src/collections/optional.mojo
  stdlib/src/utils/variant.mojo
  stdlib/test/collections/test_optional.mojo
  stdlib/test/utils/test_variant.mojo
Due: mojo-format, check-license

[stdlib] feature: Add `memcpy()` for `UnsafePointer[Scalar[_]]`
  docs/changelog.md
  stdlib/src/builtin/object.mojo
  stdlib/src/builtin/string.mojo
  stdlib/src/builtin/string_literal.mojo
  stdlib/src/memory/memory.mojo
  stdlib/src/utils/string_slice.mojo
  stdlib/test/memory/test_memory.mojo
Due: mojo-format, check-license

[stdlib] Move `math.bit` to top-level `bit` module
  docs/changelog.md
  stdlib/src/bit/__init__.mojo
  stdlib/src/bit/bit.mojo
  stdlib/src/builtin/simd.mojo
Due: mojo-format, check-license

[stdlib] Replace direct coroutine callback access with new operation
  stdlib/src/builtin/coroutine.mojo
Due: mojo-format, check-license

[stdlib] Return `IntLiteral` from several `sys.info` functions
  stdlib/src/memory/unsafe.mojo
  stdlib/src/sys/info.mojo
Due: mojo-format, check-license

[stdlib] Relax test_hash.mojo to pass on AMD/Intel
  stdlib/test/builtin/test_hash.mojo
Due: mojo-format, check-license

[mojo-stdlib] Change all `__refitem__` impls to return `Reference`
  stdlib/src/memory/reference.mojo
  stdlib/src/memory/unsafe.mojo
  stdlib/src/memory/unsafe_pointer.mojo
Due: mojo-format, check-license

Fix links for moved files
  docs/manual/get-started.md
Due: none

[External] [stdlib] Add method `unsafe_ptr()` to `InlineArray` (#39871)
  stdlib/src/utils/static_tuple.mojo
  stdlib/test/utils/test_tuple.mojo
Due: mojo-format, check-license

[External] [stdlib] Introduce non owning collection type (#39731)
  stdlib/src/utils/__init__.mojo
  stdlib/src/utils/span.mojo
  stdlib/test/utils/test_span.mojo
Due: mojo-format, check-license

[stdlib] Move `math.rotate_bits_{left,right}` to the `bit` module
  docs/changelog.md
  stdlib/src/bit/__init__.mojo
  stdlib/src/bit/bit.mojo
  stdlib/test/bit/test_bit.mojo
Due: mojo-format, check-license

[stdlib] Remove unused `StaticIntTuple` import
  stdlib/src/builtin/int.mojo
Due: mojo-format, check-license

[External] [stdlib] Support print to stderr (#39796)
  stdlib/src/builtin/io.mojo
  stdlib/src/sys/__init__.mojo
  stdlib/src/sys/_io.mojo
  stdlib/test/builtin/test_print.mojo
  stdlib/test/builtin/test_print_stderr.mojo
Due: mojo-format, check-license

[stdlib] Remove Copyable from Tuple and ListLiteral
  docs/changelog.md
  stdlib/src/builtin/builtin_list.mojo
  stdlib/src/builtin/object.mojo
  stdlib/src/builtin/tuple.mojo
  stdlib/src/python/object.mojo
Due: mojo-format, check-license

[mojo][debugger] Update changelog for enabling breakpoints on inlined callsites
  docs/changelog.md
Due: none

[mojo-examples] mandelbrot migrate from `Tensor` to custom `Matrix`
  examples/mandelbrot.mojo
  examples/notebooks/Mandelbrot.ipynb
Due: mojo-format, check-license, spellcheck-notebook

[stdlib] Remove unused import in python tests
  stdlib/test/python/test_ownership.mojo
  stdlib/test/python/test_python_error_handling.mojo
  stdlib/test/python/test_python_interop.mojo
  stdlib/test/python/test_python_object.mojo
Due: mojo-format, check-license

[stdlib] Bump compiler version to 2024.5.1413
  stdlib/COMPATIBLE_COMPILER_VERSION
Due: none

[External] [stdlib] add `Comparable` trait (#39732)
  stdlib/src/builtin/comparable.mojo
  stdlib/src/builtin/float_literal.mojo
  stdlib/src/builtin/int.mojo
  stdlib/src/builtin/int_literal.mojo
  stdlib/src/collections/set.mojo
Due: mojo-format, check-license

Update test_list.mojo
  stdlib/test/collections/test_list.mojo
Due: mojo-format, check-license

[External] [stdlib] Add `List.__contains__` (#40064)
  docs/changelog.md
  stdlib/src/collections/list.mojo
  stdlib/test/collections/test_list.mojo
Due: mojo-format, check-license

[External] [stdlib] Fix incorrect number of elements in `StaticTuple` (#40083)
  stdlib/test/utils/test_tuple.mojo
Due: mojo-format, check-license

[External] [mojo-stdlib] Add b16encode and b16decode to base64 module (#39561)
  docs/changelog.md
  stdlib/src/base64/__init__.mojo
  stdlib/src/base64/base64.mojo
  stdlib/test/base64/test_base64.mojo
Due: mojo-format, check-license

[mojo-stdlib] Change `__reversed__` to return a `_StridedRange` (NFC) (#40099)
  stdlib/src/builtin/range.mojo
  stdlib/src/builtin/reversed.mojo
Due: mojo-format, check-license

[stdlib] Add stub for `parameter_for` implementation
  stdlib/src/builtin/_stubs.mojo
  stdlib/src/builtin/range.mojo
Due: mojo-format, check-license

[External] [stdlib] Add unit tests for SIMD's __len__() method (#40093)
  stdlib/test/builtin/test_simd.mojo
Due: mojo-format, check-license

[scripts] Add markdown scripts for public repo
  stdlib/scripts/.markdownlint.yaml
  stdlib/scripts/markdownlint.sh
Due: none

[External] [stdlib] Add Indexer trait (#40103)
  docs/changelog.md
  stdlib/src/builtin/bool.mojo
  stdlib/src/builtin/int.mojo
  stdlib/src/builtin/int_literal.mojo
  stdlib/src/builtin/simd.mojo
  stdlib/test/builtin/test_bool.mojo
  stdlib/test/builtin/test_int.mojo
  stdlib/test/builtin/test_int_literal.mojo
  stdlib/test/builtin/test_simd.mojo
Due: mojo-format, check-license

[mojo-stdlib] Move intel_amx test to LinAlg
  stdlib/test/sys/lit.local.cfg
  stdlib/test/sys/test_has_intel_amx.mojo
Due: mojo-format, check-license

[External] [stdlib] Add method `strip()` to `StringRef` (#40108)
  docs/changelog.md
  stdlib/src/utils/stringref.mojo
  stdlib/test/builtin/test_string.mojo
Due: mojo-format, check-license

[Docs] Fixes some typos mentioned in mojo#2668
  docs/manual/parameters/index.ipynb
  docs/manual/python/types.ipynb
  docs/manual/types.ipynb
  docs/roadmap.md
Due: spellcheck-notebook

[External] [stdlib] Delegate string comparisons to `StringRef` (#40107)
  stdlib/src/builtin/string.mojo
  stdlib/src/builtin/string_literal.mojo
  stdlib/src/utils/stringref.mojo
  stdlib/test/builtin/test_stringref.mojo
Due: mojo-format, check-license

[stdlib] feature: Remove `_ArrayMem` in favor of `InlineArray`
  stdlib/src/builtin/hex.mojo
  stdlib/src/builtin/int.mojo
  stdlib/src/builtin/simd.mojo
  stdlib/src/utils/inlined_string.mojo
  stdlib/src/utils/static_tuple.mojo
  stdlib/test/collections/test_array.mojo
Due: mojo-format, check-license

[stdlib] cleanup: Change `StringLiteral.unsafe_ptr()` to `UnsafePointer` (was `DTypePointer`)
  stdlib/src/base64/base64.mojo
  stdlib/src/builtin/error.mojo
  stdlib/src/builtin/hex.mojo
  stdlib/src/builtin/string_literal.mojo
  stdlib/src/memory/unsafe_pointer.mojo
Due: mojo-format, check-license

[stdlib] Bump compiler version to 2024.5.1705
  stdlib/COMPATIBLE_COMPILER_VERSION
Due: none

add lstrip and rstrip to StringRef
  stdlib/src/utils/stringref.mojo
Due: mojo-format, check-license

Path conditions:
  mojo-format: any of: \.(mojo|ðŸ”¥)$
  check-license: any of: \.(mojo|ðŸ”¥|py)$
  spellcheck-notebook: any of: \.ipynb$
