Repository modularml/mojo: changes, and which pre-commit hooks are due for each by the changed paths.
All: mojo-format, check-license

mojo-format:
  name: mojo-format
  entry: mojo format
  language: system
  stages:
  - commit

check-license:
  name: check-license
  entry: mojo stdlib/scripts/check_licenses.mojo
  language: system
  stages:
  - commit

[MAX][Skip Linear] Fix the recurring macOS CI test failures
  max/tests/tests/cascade/BUILD.bazel
  max/tests/tests/driver/test_buffer_usage.py
Due: check-license

[Kernels] Fuse the MXFP6 QKV and QKV+IndexQK projections into one matmul
  max/kernels/src/graph_compiler/builtin_kernels/attention.mojo
  max/kernels/src/linalg/matmul/gpu/amd/block_scaled_matmul_amd.mojo
  max/kernels/src/linalg/matmul/gpu/amd/block_scaled_matmul_amd_preb.mojo
  max/kernels/src/linalg/mx_format.mojo
  max/kernels/src/nn/kv_cache_ragged.mojo
  max/kernels/test/gpu/kv_cache/BUILD.bazel
  max/kernels/test/gpu/kv_cache/test_fused_qkv_index_matmul_scale_mxfp6.mojo
  max/kernels/test/gpu/linalg/BUILD.bazel
  max/kernels/test/gpu/linalg/test_mxfp6_matmul_amd_preb_epilogue.mojo
  max/python/max/nn/kernels.py
  max/python/max/nn/quant_ops.py
Due: mojo-format, check-license

[Serve] Reenable the /v1/responses media-fetch tests
  max/tests/tests/serve/test_responses_media_fetch.py
Due: check-license

[Docs] Document speculative `--num-speculative-tokens-per-batch-size` flag
  docs/max/serve/speculative-decoding.mdx
Due: none

[mojo-lang] Generalize some passes to work on hlcf.elif
  Mojo/lib/KGENToLLVM/LowerSuspensionPoints.cpp
  Mojo/lib/Transforms/HoistTrivialInvariants.cpp
  Mojo/lib/Transforms/RaiseForLoops.cpp
  Mojo/test/kgen/co-to-llvm/lower-suspension-points.mlir
Due: none

[KGEN] Add --timing-json option to mojo tools.
  Mojo/include/Mojo/ToolCommon/PipelineTiming.h
  Mojo/lib/ToolCommon/PipelineTiming.cpp
  Mojo/test/mojo-tool/build/timing_json.mojo
  Mojo/tools/mojo/Build/mojo-build.cpp
  Mojo/tools/mojo/Common/Compilation.cpp
  Mojo/tools/mojo/Common/Compilation.h
  Mojo/tools/mojo/Common/CompilationOptions.td
  Mojo/tools/mojo/Run/mojo-run.cpp
Due: mojo-format, check-license

[dKV][MAX] Report the dKV read's size, peak and real lookup latency
  docs/max/nightly-changelog.md
  max/python/max/nn/kv_cache/metrics.py
  max/python/max/pipelines/kv_cache/connectors/dkv/connector.py
  max/python/max/serve/scheduler/utils.py
  max/python/max/serve/telemetry/common.py
  max/python/max/serve/telemetry/metrics.py
  max/tests/tests/serve/scheduler/test_kv_connector_reset_metrics.py
  max/tests/tests/serve/scheduler/test_scheduler_metrics.py
Due: check-license

[Kernels] Add the QSA attention kernels
  bazel/internal/mef.bzl
  bazel/mojo_aliases.bzl
  max/kernels/CLAUDE.md
  max/kernels/src/graph_compiler/builtin_kernels/BUILD.bazel
  max/kernels/src/graph_compiler/builtin_kernels/qsa.mojo
Due: mojo-format, check-license

[Benchmarking] Store unbounded request rate as "inf"
  max/python/max/benchmark/benchmark_shared/metrics_invariants.md
Due: none

[NFC] Use array literals over raw initialization loops.
  max/kernels/src/nn/attention/gpu/nvidia/sm100/mla_decode_dispatch.mojo
  max/kernels/test/gpu/fuzz/fuzz_ep_combine.mojo
  max/python/max/_kv_cache_ops/kv_cache_ops.mojo
Due: mojo-format, check-license

[MAX][Profiling] Point source builds at the annotation shim
  Support/BUILD.bazel
  Support/lib/ExternalProfilerAnnotationHostGlue.cpp
  max/python/max/profiler/__init__.py
Due: check-license

[Kernels] Re-enable assertions on some GPU tests
  max/kernels/test/gpu/kv_cache/BUILD.bazel
  max/kernels/test/gpu/nn/BUILD.bazel
Due: none

[KGEN] Update CompileTimProfiling.md. - #98790
  Mojo/docs/compiler/manual/CompileTimeProfiling.md
  Mojo/docs/site/nightly-changelog.md
Due: none

[MAX] Ready the shared Qwen3.5 layers and quant config for a hybrid NVFP4 checkpoint
  max/python/max/nn/kernels.py
  max/python/max/pipelines/architectures/qwen3_5/layers/attention.py
  max/python/max/pipelines/architectures/qwen3_5/layers/gated_deltanet.py
  max/python/max/pipelines/architectures/qwen3_5/model_config.py
  max/python/max/pipelines/weights/quant.py
  max/tests/integration/architectures/qwen3_5/BUILD.bazel
  max/tests/integration/architectures/qwen3_5/test_config_init.py
  max/tests/integration/architectures/qwen3_5/test_output_gate.py
  max/tests/tests/kv_cache/test_fp4_matmul.py
  max/tests/tests/pipelines/test_parse_quant_config.py
  max/tests/tests/pipelines/testdata/radixark__qwen3_8_flash_next_nvfp4_quant.json
Due: check-license

[dKV] Remove the auto NIXL transport-selection mode
  docs/max/nightly-changelog.md
  max/python/max/pipelines/kv_cache/_nixl_backend.py
  max/python/max/pipelines/kv_cache/connectors/dkv/connector.py
  max/python/max/pipelines/kv_cache/paged_kv_cache/transfer_engine.py
  max/tests/tests/kv_cache/test_nixl_backend.py
Due: check-license

[xgrammar] Support propertyNames for XML formats
  bazel/public-patches/xgrammar.patch
  max/tests/integration/architectures/minimax_m2/test_tool_parser.py
  max/tests/integration/pipelines/tokenization/test_xgrammar_shim.py
Due: check-license

[stdlib] stabilize some SIMD methods
  Mojo/docs/site/nightly-changelog.md
  Mojo/stdlib/std/builtin/simd.mojo
Due: mojo-format, check-license

[stdlib] Remove `Hasher._update_with_bytes`
  Mojo/stdlib/std/collections/string/string_span.mojo
  Mojo/stdlib/std/hashlib/_ahash.mojo
  Mojo/stdlib/std/hashlib/_fnv1a.mojo
  Mojo/stdlib/std/hashlib/hash.mojo
  Mojo/stdlib/std/hashlib/hasher.mojo
  Mojo/stdlib/test/hashlib/test_hasher.mojo
Due: mojo-format, check-license

[benchmark] some updates on model based mojo compile time benchmarking
  Mojo/docs/compiler/manual/CompileTimeProfiling.md
Due: none

[Kernels] Use Array(fill_with_unrolled) for register fragments
  max/kernels/src/linalg/matmul/gpu/apple/int8_matmul.mojo
  max/kernels/src/linalg/matmul/gpu/apple/matmul_8x8.mojo
  max/kernels/src/linalg/matmul/gpu/apple/matmul_kernel.mojo
  max/kernels/src/nn/attention/gpu/mha.mojo
  max/kernels/src/nn/attention/gpu/nvidia/sm100/softmax_warp.mojo
Due: mojo-format, check-license

[mojo-lang] Fix LowerSemanticCF for hlcf.elif
  Mojo/lib/LowerLIT/LowerSemanticCF.cpp
Due: none

[CODEOWNERS] Clean up SDLC codeowners
  .github/CODEOWNERS
Due: none

[External] [docs] change KGEN to Mojo in documentation (#98787)
  Mojo/docs/compiler/README.md
  Mojo/docs/compiler/manual/MojoNotes.md
  Mojo/docs/compiler/manual/ParserDebugging.md
  Mojo/docs/compiler/manual/PostParserDebugging.md
  Mojo/docs/compiler/overviews/LSPParserInteraction.md
  Mojo/docs/compiler/overviews/MojoLSP.md
  Mojo/docs/compiler/overviews/MojoREPL.md
  Mojo/docs/compiler/testing.md
  Mojo/test/mojo-integration/extern-c-abi/README.md
  Mojo/test/mojo-parser/lit.cfg.py
Due: check-license

[Docs] Clarify prefix caching page and drop stale defaults
  docs/max/serve/prefix-caching.mdx
  docs/max/serve/speculative-decoding.mdx
  docs/max/serve/text-to-text.mdx
Due: none

[MAX] Support full-coverage MXFP6 checkpoints
  max/python/max/pipelines/weights/quantize_checkpoint.py
Due: check-license

[mojo-lang] Improve tolerance to hlcf.elif, NFC
  Mojo/include/Mojo/HLCFDialect/HLCFOps.td
  Mojo/lib/HLCFDialect/HLCFOps.cpp
  Mojo/lib/KGENToLLVM/LowerControlFlow.cpp
  Mojo/lib/Transforms/LowerCallingConventions.cpp
Due: none

[External] [stdlib] Skip Py_Initialize when CPython init already failed (#98793)
  Mojo/stdlib/std/python/_cpython.mojo
  Mojo/stdlib/test/python/test_python_cpython.mojo
Due: mojo-format, check-license

[External] [stdlib] Guard _DLHandle.close against a null handle (#98794)
  Mojo/docs/site/nightly-changelog.md
  Mojo/stdlib/std/ffi/__init__.mojo
  Mojo/stdlib/test/sys/test_dlhandle.mojo
Due: mojo-format, check-license

[Kernels][bazel] Declare the sparse MLA prefill benchmarks' own deps
  max/kernels/benchmarks/misc/comparison/BUILD.bazel
Due: none

[Kernels] Remove underscore-prefixed wrapper functions
  max/kernels/src/shmem/ep_comm.mojo
  max/kernels/test/gpu/nn/test_sink_gate_router.mojo
Due: mojo-format, check-license

[Kernels] Retune the MXFP8 MoE prefill tiles for the persistent grid
  max/kernels/src/linalg/matmul/gpu/amd/block_scaled_grouped_matmul_amd.mojo
Due: mojo-format, check-license

[nfc] Use `Array(fill_with)` instead of uninitialized memory.
  Mojo/stdlib/test/reflection/test_reflect.mojo
  docs/code/tile-tensor/tensors/tile_tensor_examples.mojo
  docs/code/tile-tensor/tensors/tile_tensor_gpu_examples.mojo
  docs/max/layout/tensors.mdx
  docs/max/tile-tensor/tensors.mdx
  max/examples/layout_tensor/layout_tensor_examples.mojo
  max/examples/layout_tensor/layout_tensor_gpu_examples.mojo
  max/kernels/test/gpu/nn/test_index_tensor.mojo
  max/kernels/test/nn/test_index_tensor.mojo
  max/mojo/test/algorithm/test_reductions.mojo
Due: mojo-format, check-license

[MAX] Add an NVFP4 checkpoint quantizer
  max/python/max/pipelines/weights/fp4_quantization.py
  max/python/max/pipelines/weights/fp6_quantization.py
  max/python/max/pipelines/weights/quantize_checkpoint.py
  max/tests/tests/pipelines/test_fp4_quantization.py
  max/tests/tests/pipelines/test_quantize_checkpoint.py
Due: check-license

[stdlib] Use @__doc_inline for max.gpu re-exports
  Mojo/stdlib/std/_gpu/primitives/warp.mojo
  max/mojo/max/gpu/__init__.mojo
  max/mojo/max/gpu/globals.mojo
  max/mojo/max/gpu/host/__init__.mojo
  max/mojo/max/gpu/host/info.mojo
  max/mojo/max/gpu/intrinsics.mojo
  max/mojo/max/gpu/primitives/id.mojo
  max/mojo/max/gpu/primitives/warp.mojo
Due: mojo-format, check-license

[MAX] Format byte counts with `to_human_readable_bytes`
  max/python/max/_entrypoints/BUILD.bazel
  max/python/max/_entrypoints/cli/metrics.py
  max/python/max/pipelines/architectures/minimax_music3/BUILD.bazel
  max/python/max/pipelines/architectures/minimax_music3/music3_executor.py
  max/python/max/pipelines/kv_cache/connectors/rust_tier_connector.py
  max/python/max/pipelines/weights/BUILD.bazel
  max/python/max/pipelines/weights/quantize_checkpoint.py
  max/python/max/serve/router/BUILD.bazel
  max/python/max/serve/router/_image_resolution.py
Due: check-license

[External] [stdlib] Fix `String.find` phantom match past 2**simd_width bytes (#98875)
  Mojo/stdlib/benchmarks/utils/bench_memmem.mojo
  Mojo/stdlib/std/collections/string/string_span.mojo
  Mojo/stdlib/test/collections/string/test_mem_functions.mojo
Due: mojo-format, check-license

[docs] Unticketed: Fix a few lingering KGEN migration issues
  Mojo/docs/site/manual/errors.mdx
  Mojo/docs/site/reference/lambda-expressions.mdx
Due: none

[mojo-lang] Introduce hlcf.elif canonicalizers
  Mojo/include/Mojo/HLCFDialect/HLCFOps.td
  Mojo/lib/HLCFDialect/HLCFOpsCanonicalizers.cpp
  Mojo/test/kgen/hlcf-ir/hlcf-canonicalize.mlir
Due: none

[External] [Stdlib] Fix `time.sleep()` truncation for small fractional seconds (#98877)
  Mojo/stdlib/std/time/time.mojo
  Mojo/stdlib/test/time/test_time.mojo
Due: mojo-format, check-license

[stdlib][MAX][NFC] Use Array(fill_with_unrolled) over uninitialized memory
  Mojo/stdlib/std/reflection/reflect.mojo
  max/mojo/max/algorithm/backend/gpu/reduction.mojo
  max/mojo/max/gpu/compute/arch/tcgen05.mojo
Due: mojo-format, check-license

Path conditions:
  mojo-format: any of: \.(mojo|ðŸ”¥)$
  check-license: any of: \.(mojo|ðŸ”¥|py)$
